@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.page-account {
  font-family: "GenJyuuGothic-R";
  font-size: 18px;
}

.page-account .wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.page-account .banner {
  width: 100%;
  height: 0;
  padding-top: 40%;
  background: #ffdfe0 url(../img/account/member02.png) bottom left no-repeat;
  background-size: contain;
  margin: auto;
  position: relative;
}

.page-account .banner .title {
  color: #fff;
  font-size: 40px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.page-account .banner .title:after {
  z-index: -1;
  content: "會員中心";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.page-account .banner .title {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(40%);
}

.page-account .account {
  background-color: #fff8e4;
  padding-bottom: 100px;
}

.page-account .account .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-account .account .wrap .profile-id {
  font-size: 16px;
}

.page-account .menu {
  background-color: #ea7187;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page-account .menu .profile-picture {
  color: #fff;
  font-size: 20px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-account .menu .profile-picture .btn-file {
  font-size: 16px;
  color: blue;
}

.page-account .menu .profile-picture .btn-file:hover {
  cursor: pointer;
}

.page-account .menu .profile-picture #upFile {
  display: none;
}

.page-account .menu .profile-picture .profile-img {
  width: 50px;
  height: 50px;
}

.page-account .menu .profile-picture .profile-img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.page-account .menu .profile-picture p {
  padding-bottom: 10px;
}

.page-account .menu .profile-picture a {
  padding-top: 10px;
  font-size: 18px;
}

.page-account .menu .account-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.page-account .menu .account-list li {
  text-align: center;
}

.page-account .menu .account-list li .link-item {
  display: block;
  color: #fff;
  padding: 10px;
}

.page-account .menu .account-list li .link-item:hover {
  background-color: #db4d6d;
}

.page-account .menu .account-list li .link-item i {
  font-size: 30px;
  display: block;
  padding: 10px;
}

.page-account .menu .account-list li .active {
  background-color: #db4d6d;
}

.page-account .content-area {
  min-height: 700px;
  background-color: #fff;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-account .content-area h2 {
  font-size: 24px;
  color: #3e556a;
  padding-top: 10px;
}

.page-account .content-area .show-content {
  display: block;
}

.page-account label {
  display: block;
  padding-right: 20px;
}

.page-account input {
  border-radius: 5px;
  font-size: 18px;
  display: block;
  padding: 5px;
}

.page-account input[type=submit] {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #db4d6d;
  color: #fff;
  font-family: "GenJyuuGothic-R";
  font-size: 18px;
}

.page-account input[type=submit]:hover {
  background-color: #cb1b45;
}

.page-account .content-profile {
  display: none;
}

.page-account .content-profile .profile-item {
  background-color: #ffdee6;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-account .content-profile .profile-item .passwaord, .page-account .content-profile .profile-item .address {
  display: inline-block;
  padding-right: 10px;
}

.page-account .content-profile .profile-item #pro-password {
  display: none;
}

.page-account .content-order {
  display: none;
}

.page-account .content-order .order-item {
  padding: 20px;
  margin: 20px 0;
  background-color: #ffdee6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-account .content-order .order-item .order-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-account .content-order .order-item .order-desc .thead {
  font-weight: bold;
}

.page-account .content-order .order-item .order-desc p {
  padding: 10px;
}

.page-account .content-order .order-item .prod-item-pop {
  display: none;
  padding: 10px;
  border-top: 1px solid #000;
}

.page-account .content-order .order-item .prod-item-pop p {
  padding-bottom: 10px;
}

.page-account .content-order .order-item .prod-item-pop .item-list-group {
  padding: 5px;
  background-color: #ffbaba;
}

.page-account .content-order .order-item .prod-item-pop .item-list-group .list-head {
  border-bottom: 1px solid #000;
}

.page-account .content-order .order-item .prod-item-pop .item-list-group .item-list {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.page-account .content-order .order-item .prod-item-pop .item-list-group .item-list .list-count {
  text-align: right;
}

.page-account .content-order .order-item .prod-item-pop.prod-item-show {
  display: block;
}

@media all and (min-width: 769px) {
  .page-account .content-order .order-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-account .content-order .order-desc .total {
    text-align: right;
  }
}

.page-account .content-collection {
  display: none;
}

.page-account .content-collection .collection-item {
  padding: 20px;
  margin: 20px 0;
  background-color: #ffdee6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-account .content-collection .collection-item .prod-img img {
  width: 50%;
}

.page-account .content-collection .collection-item .collection-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.page-account .content-collection .collection-item .collection-desc .heart {
  text-align: right;
}

.page-account .content-collection .collection-item .collection-desc .heart i {
  color: #cb1b45;
  font-size: 24px;
}

.page-account .content-collection .collection-item .collection-desc p {
  padding: 10px;
}

.page-account .content-custom {
  display: none;
}

.page-account .content-custom table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.page-account .content-custom .custom-item {
  padding: 20px;
  margin: 20px 0;
  background-color: #ffdee6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-account .content-custom .custom-item .custom-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-account .content-custom .custom-item .custom-desc .thead {
  border-bottom: 1px solid #ffbaba;
}

.page-account .content-custom .custom-item .custom-desc .thead p {
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .page-account .content-custom .custom-item .custom-desc .thead {
    border-bottom: none;
  }
}

.page-account .content-custom .custom-item .custom-desc p {
  padding: 10px;
}

.page-account .content-custom .custom-item .custom-desc .cto-img img {
  width: 50%;
}

@media all and (min-width: 769px) {
  .page-account .content-custom .thead-img {
    display: none;
  }
}

.page-account .content-course {
  display: none;
}

.page-account .content-course thead td {
  font-weight: bold;
}

@media all and (min-width: 769px) {
  .page-account .content-course thead {
    border-right: none;
    border-bottom: 1px solid #ffbaba;
  }
}

.page-account .content-course .class-item {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #ffdee6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-account .content-course .class-item .res-no {
  display: none;
}

.page-account .content-course .class-item .class-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-account .content-course .class-item .class-desc .thead {
  font-weight: bold;
}

.page-account .content-course .class-item .class-desc p {
  padding: 10px;
}

@media all and (min-width: 769px) {
  .page-account .content-course .class-item .class-desc .cancel, .page-account .content-course .class-item .class-desc .qrcode {
    text-align: right;
  }
}

.page-account .content-course .class-item .class-desc .cancel a, .page-account .content-course .class-item .class-desc .qrcode a {
  color: #db4d6d;
}

.page-account .content-course .class-item .class-desc .cancel a:hover, .page-account .content-course .class-item .class-desc .qrcode a:hover {
  border-bottom: 1px solid #db4d6d;
}

.page-account .psw-change-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-account .psw-change-box .psw-bg {
  padding: 20px;
  background-color: #d1d631;
  border-radius: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.page-account .psw-change-box .psw-bg #psw-box-close {
  position: absolute;
  top: -80px;
  right: -10px;
}

.page-account .psw-change-box .psw-bg .psw-content {
  margin: auto;
}

.page-account .psw-change-box .psw-bg .psw-box-title {
  text-align: center;
  color: #6a3e26;
  font-size: 24px;
  padding: 20px;
}

.page-account .psw-change-box .psw-bg .psw-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 10px;
}

.page-account .psw-change-box .psw-bg .psw-item label {
  padding-right: 0;
  padding-bottom: 10px;
  text-align: left;
}

.page-account .psw-change-box .psw-bg .psw-item #profile-save {
  margin: auto;
}

.page-account .psw-change-box .psw-bg .psw-item #new-psw-save {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #db4d6d;
  color: #fff;
  font-family: "GenJyuuGothic-R";
  font-size: 18px;
  margin: auto;
}

.page-account .psw-change-box .psw-bg .psw-item #new-psw-save:hover {
  background-color: #cb1b45;
}

.page-account .psw-change-box .psw-bg .psw-item #psw-error {
  display: block;
  color: #cb1b45;
  font-size: 20px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
}

@media all and (max-width: 768px) {
  .page-account .banner {
    padding-top: 90%;
    background-size: cover;
  }
  .page-account .banner .title {
    top: 50%;
  }
}

@media all and (min-width: 769px) {
  .page-account .menu {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .page-account .menu .profile-picture {
    padding: 30px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .page-account .menu .account-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .page-account .menu .account-list li .link-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .page-account .menu .account-list li .link-item i {
    display: inline;
  }
  .page-account .content-area {
    padding: 20px 40px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .page-account .content-area h2 {
    padding: 20px 0;
  }
}
/*# sourceMappingURL=account.css.map */