@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
}

.page-confirm {
  background: #F8C3CD url(../img/shop/backgroundpic.png);
  font-family: "GenJyuuGothic-B";
}

.page-confirm button {
  margin: 0px;
  padding: 0px;
  border: 0px solid transparent;
  outline: none;
  background-color: transparent;
}

@media all and (max-width: 768px) {
  .page-confirm .dis-mobile-n {
    display: none;
  }
}

.page-confirm .float {
  float: left;
}

.page-confirm .clear {
  float: both;
}

@media all and (min-width: 992px) {
  .page-confirm .dis-lg-n {
    display: none;
  }
}

.page-confirm .fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-confirm .bor-20 {
  border-radius: 20px;
}

.page-confirm .btn-numbox {
  font-size: 0px;
}

.page-confirm .btn-numbox .qty {
  width: 30%;
  text-align: center;
  height: 28px;
  padding: 0px;
  border: 0px;
}

@media all and (max-width: 768px) {
  .page-confirm .btn-numbox .qty {
    width: 27%;
  }
}

.page-confirm .btn-numbox .qtyminus {
  background-color: #6A3E26;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 20%;
  height: 28px;
  border: 0px;
  color: white;
  padding: 0px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .page-confirm .btn-numbox .qtyminus {
    width: 15%;
  }
}

.page-confirm .btn-numbox .qtyplus {
  padding: 0px;
  background-color: #6A3E26;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 20%;
  height: 28px;
  border: 0px;
  color: white;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .page-confirm .btn-numbox .qtyplus {
    width: 15%;
  }
}

.page-confirm .rela {
  position: relative;
}

.page-confirm .button {
  background-color: transparent;
  border: 0px;
}

.page-confirm .text-center {
  text-align: center;
}

.page-confirm .text-20 {
  font-size: 20px;
}

.page-confirm h2 {
  font-size: 28px;
}

.page-confirm h3 {
  font-size: 22px;
}

.page-confirm .container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

@media all and (min-width: 992px) {
  .page-confirm .des-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-confirm .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 768px) {
  .page-confirm .mol-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-confirm .ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-confirm .ju-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-confirm .m-a {
  margin: auto;
}

.page-confirm .p-10 {
  padding: 10px;
}

.page-confirm .p-20 {
  padding: 20px;
}

.page-confirm .bagc-w {
  background-color: white;
}

.page-confirm .confirm-column {
  padding-top: 120px;
}

.page-confirm .confirm-title {
  padding: 20px 0px;
}

.page-confirm .list-wrap {
  background-color: #FFF8E4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 60px;
}

.page-confirm .confirm-row {
  background-color: white;
  border-radius: 20px;
  font-size: 16px;
}

.page-confirm .row-pic {
  border-bottom: 2px solid black;
  padding: 10px;
  height: 104px;
}

.page-confirm .row-pic img {
  width: 100%;
}

.page-confirm .row-pic-box {
  width: 20%;
}

.page-confirm .row-name {
  text-align: left;
  height: 104px;
  padding: 10px 10px 10px 20px;
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-confirm .row-name p {
  display: none;
}

.page-confirm .confirm-btn {
  padding-top: 10px;
}

.page-confirm .small-total {
  padding-top: 10px;
}

.page-confirm .confirm-total {
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
}

.page-confirm .package-information-title {
  border-bottom: 2px solid #FAD689;
}

.page-confirm .package-information-title span {
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #FAD689;
}

.page-confirm .package-information > form {
  background-color: white;
}

.page-confirm .package-information > form > div {
  border-bottom: 1px solid gray 1;
  padding: 8px 0px 8px 10px;
}

.page-confirm .confirm-btn {
  display: none;
  text-align: center;
}

.page-confirm button {
  margin: 0px 10px;
}

.page-confirm .confirm-shop {
  display: block;
  width: 100px;
  padding: 2px;
  height: 30px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.page-confirm .confirm-shop:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.page-confirm .confirm-shop .confirm-shop-in {
  display: block;
  color: whitesmoke;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  padding: 3px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 92px;
  height: 23px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  cursor: pointer;
}

.page-confirm .confirm-shop .confirm-shop-in:hover {
  background-color: #FAD689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.page-confirm .confirm-shop .confirm-shop-in > img {
  display: block;
  position: absolute;
  top: -7px;
  left: -13px;
  width: 27px;
  height: 33.3px;
}

.page-confirm .confirm-shop .confirm-shop-in:after {
  z-index: -1;
  content: "確認結帳";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

.page-confirm .Previous {
  display: block;
  width: 100px;
  padding: 2px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.page-confirm .Previous .Previous-in {
  display: block;
  color: whitesmoke;
  font-size: 12px;
  position: relative;
  padding: 1px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 100px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.page-confirm .Previous .Previous-in:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.page-confirm .Previous .Previous-in:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.page-confirm .Previous .Previous-in:after {
  z-index: -1;
  content: "上一步";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

.page-confirm .confirm-list {
  padding: 10px;
}

.page-confirm .pay-transport-title {
  padding-bottom: 20px;
}

.page-confirm .pay-transport {
  background-color: white;
  border-radius: 20px;
}

.page-confirm .pay-transport-btn {
  font-size: 0px;
  border-bottom: 1px solid #FAD689;
}

.page-confirm .tabtitle li {
  font-size: 20px;
  text-align: center;
  line-height: 26px;
}

.page-confirm .tabtitle a {
  color: black;
}

.page-confirm .pay, .page-confirm .transport {
  display: inline-block;
  background-color: #FAD689;
  border: 2px solid #FAD689;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #282828;
  height: 30px;
}

.page-confirm .pay:hover, .page-confirm .transport:hover {
  background-color: #FFB11B;
}

.page-confirm .transport-check, .page-confirm .onlion-check {
  font-size: 16px;
}

.page-confirm input[type="radio"] {
  display: none;
}

.page-confirm input[type="radio"] + label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url(../img/shop/circle-regular.svg);
}

.page-confirm .transport-check {
  vertical-align: middle;
}

.page-confirm input[type="radio"]:checked + label span {
  background: url(../img/shop/check-circle-solid.svg) no-repeat;
}

@media all and (min-width: 992px) {
  .page-confirm .confirm-title {
    padding: 150px 0px 20px 0px;
  }
  .page-confirm .list-wrap {
    font-size: 20px;
  }
  .page-confirm .list-wrap > div + div {
    border-left: 1px solid black;
  }
  .page-confirm .confirm-row > div + div {
    border-left: 1px solid black;
  }
  .page-confirm .row-name > p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .page-confirm .confirm-row {
    background-color: white;
    border-radius: 0px;
    font-size: 16px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .page-confirm .row-pic {
    border-bottom: 0px solid black;
    padding: 0px;
    height: 104px;
  }
  .page-confirm .row-pic img {
    width: 100%;
  }
  .page-confirm .row-pic-box {
    width: 17%;
  }
  .page-confirm .row-name {
    height: 104px;
    padding: 0px;
    border-bottom: 0px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-confirm .row-name > div {
    display: none;
  }
  .page-confirm .row-name > div ~ div {
    display: none;
  }
  .page-confirm .confirm-unit-price {
    height: 104px;
    line-height: 105px;
  }
  .page-confirm .confirm-btn {
    display: block;
    text-align: center;
    padding-top: 0px;
    height: 104px;
    line-height: 105px;
  }
  .page-confirm .small-total {
    padding-top: 0px;
    height: 104px;
    line-height: 105px;
  }
  .page-confirm .confirm-total {
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
  }
  .page-confirm .package-information-title {
    border-bottom: 2px solid #FAD689;
  }
  .page-confirm .package-information-title span {
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FAD689;
  }
  .page-confirm .confirm-list {
    padding: 0px;
  }
}
/*# sourceMappingURL=cart-order.css.map */