@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  text-decoration: none;
}

body {
  font-family: "GenJyuuGothic-R";
}

.welcome-wrap .wrapper, .general-wrap .wrapper {
  padding: 150px 0;
  max-width: 1200px;
  margin: auto;
}

.welcome-wrap {
  background-color: #c9fcfb;
}

@media all and (min-width: 769px) {
  .welcome-wrap {
    background: #c9fcfb url(../img/indexImg/diyIcebgc-top.png) no-repeat bottom center;
  }
}

.welcome-wrap .wrapper {
  padding: 150px 0;
  max-width: 1200px;
  margin: auto;
}

@media all and (min-width: 992px) {
  .welcome-wrap .wrapper {
    padding-top: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.welcome-wrap .kanban {
  width: 100%;
  margin: auto;
}

@media all and (max-width: 768px) {
  .welcome-wrap .kanban {
    padding: 50px 0;
  }
}

.welcome-wrap .gift {
  text-align: center;
  position: relative;
}

.welcome-wrap .gift span {
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
          transform: translate(-50%, 40%);
  font-size: 20px;
}

@media all and (min-width: 992px) {
  .welcome-wrap .gift span {
    font-size: 24px;
  }
}

.welcome-wrap .title-box {
  background-color: #fff;
  height: 300px;
  width: 400px;
  border-radius: 20px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  padding: 5%;
  line-height: 240px;
}

@media all and (max-width: 768px) {
  .welcome-wrap .title-box {
    height: 250px;
    width: 300px;
    line-height: 210px;
  }
}

.welcome-wrap .title-box .group-title {
  background-color: #f6c555;
}

.welcome-wrap .title-box .general-title {
  background-color: #ffd9d9;
}

.welcome-wrap .title-box h2 {
  font-family: "GenJyuuGothic-B";
  border-radius: 15px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.welcome-wrap .title-box .group-title {
  color: #fff;
  font-size: 40px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.welcome-wrap .title-box .group-title:after {
  z-index: -1;
  content: "揪團課程";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.welcome-wrap .title-box .general-title {
  color: #fff;
  font-size: 40px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.welcome-wrap .title-box .general-title:after {
  z-index: -1;
  content: "一般課程";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.general-wrap {
  background-color: #ffd9d9;
}

.general-wrap .wrapper {
  padding: 100px 0;
  max-width: 1200px;
  margin: auto;
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper {
    padding-top: 200px;
  }
}

.general-wrap .general-ribbon {
  margin: auto;
  background: url(../img/ribbon.png) center center no-repeat;
  background-size: contain;
  text-align: center;
  height: 150px;
  width: 100%;
  padding: 45px 0;
}

@media all and (min-width: 769px) {
  .general-wrap .general-ribbon {
    width: 500px;
    height: 150px;
    padding: 30px 0;
  }
}

.general-wrap .general-ribbon .subtitle {
  font-size: 13px;
  color: #434343;
  line-height: 26px;
}

@media all and (min-width: 769px) {
  .general-wrap .general-ribbon .subtitle {
    font-size: 18px;
    color: #434343;
    line-height: 32px;
  }
}

.general-wrap .general-ribbon .title {
  color: #fff;
  font-size: 24px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.general-wrap .general-ribbon .title:after {
  z-index: -1;
  content: "一般課程";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #6a3e26;
}

@media all and (min-width: 769px) {
  .general-wrap .general-ribbon .title {
    color: #fff;
    font-size: 40px;
    position: relative;
    z-index: 0;
    text-align: center;
  }
  .general-wrap .general-ribbon .title:after {
    z-index: -1;
    content: "一般課程";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-text-stroke: 5px #6a3e26;
  }
}

@media all and (min-width: 992px) {
  .general-wrap .kanban-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.general-wrap .kanban-group .kanban {
  width: 80%;
  padding: 30px;
  margin: auto;
}

.general-wrap .kanban-group .gift {
  top: 2px;
  text-align: center;
  position: relative;
}

.general-wrap .kanban-group .gift img {
  width: 100%;
}

.general-wrap .kanban-group .gift span {
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
          transform: translate(-50%, 40%);
}

@media all and (min-width: 992px) {
  .general-wrap .kanban-group .gift span {
    font-size: 24px;
  }
}

.general-wrap .kanban-group .content-box {
  padding-top: 30px;
  border: #db4d6d solid 5px;
  border-radius: 10px;
  background-color: #fff;
}

.general-wrap .kanban-group .content-box .diy-img {
  width: 60%;
  margin: auto;
}

.general-wrap .kanban-group .content-box .diy-img img {
  width: 100%;
}

.general-wrap .kanban-group .content-box .info-title {
  width: 80%;
  margin: auto;
  text-align: center;
  border-bottom: #db4d6d solid 2px;
}

.general-wrap .kanban-group .content-box .info-title h4 {
  font: 20px "A-OTF-M";
}

.general-wrap .kanban-group .content-box .info-dec {
  width: 75%;
  margin: auto;
}

.general-wrap .kanban-group .content-box .info-dec li {
  font-size: 18px;
  font-family: "GenJyuuGothic-B";
  padding: 10px 0 5px;
}

.general-wrap .kanban-group .content-box .info-dec p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15px;
}

@media all and (min-width: 992px) {
  .general-wrap .kanban-group .content-box .info-dec p {
    font-size: 16px;
    line-height: 20px;
  }
}

.general-wrap .kanban-group .content-box .course-btn {
  padding: 20px;
}

.general-wrap .kanban-group .content-box .course-btn .course-ice-btn-out {
  margin: auto;
}

.general-wrap .kanban-group .content-box .course-ice-btn-out {
  display: block;
  width: 135px;
  padding: 2px;
  height: 40.5px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.general-wrap .kanban-group .content-box .course-ice-btn-out:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.general-wrap .kanban-group .content-box .course-ice-btn-out .course-ice-btn-in {
  display: block;
  color: whitesmoke;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  padding: 3px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 124.2px;
  height: 31.05px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  cursor: pointer;
}

.general-wrap .kanban-group .content-box .course-ice-btn-out .course-ice-btn-in:hover {
  background-color: #FAD689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.general-wrap .kanban-group .content-box .course-ice-btn-out .course-ice-btn-in > img {
  display: block;
  position: absolute;
  top: -7px;
  left: -13px;
  width: 36.45px;
  height: 44.955px;
}

.general-wrap .kanban-group .content-box .course-ice-btn-out .course-ice-btn-in:after {
  z-index: -1;
  content: "我要預約";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}
/*# sourceMappingURL=courseP.css.map */