@charset "UTF-8";
* {
  outline: #f00 solid 1px; }

.welcome-wrap {
  background-color: #ffe8e8;
  width: 100%; }
  @media all and (min-width: 997px) {
    .welcome-wrap .wrapper {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1200px; } }
  .welcome-wrap .kanban {
    padding-top: 200px;
    width: 100%;
    margin: auto; }
    .welcome-wrap .kanban img {
      width: 70%;
      margin: auto;
      display: block; }
    .welcome-wrap .kanban .group-title, .welcome-wrap .kanban .general-title, .welcome-wrap .kanban .group-subtitle, .welcome-wrap .kanban .general-subtitle {
      z-index: 1; }
    .welcome-wrap .kanban .item {
      position: relative;
      top: -50px; }
    .welcome-wrap .kanban h2 {
      display: inline-block;
      position: relative; }
  .welcome-wrap .group-title {
    color: #fff;
    font-size: 40px;
    position: relative;
    text-align: center; }
<<<<<<< HEAD
  .welcome-wrap .group-title:after {
=======
  .welcom-wrap .group-title:after {
>>>>>>> master
    z-index: -1;
    content: "揪團課程";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-text-stroke: 5px #6a3e26; }
  .welcome-wrap .general-title {
    color: #fff;
    font-size: 40px;
    position: relative;
    text-align: center; }
<<<<<<< HEAD
  .welcome-wrap .general-title:after {
=======
  .welcom-wrap .general-title:after {
>>>>>>> master
    z-index: -1;
    content: "一般課程";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-text-stroke: 5px #6a3e26; }
  .welcome-wrap .group-subtitle {
    color: #6a3e26;
    font-size: 16px;
    position: relative;
    text-align: center; }
<<<<<<< HEAD
  .welcome-wrap .group-subtitle:after {
=======
  .welcom-wrap .group-subtitle:after {
>>>>>>> master
    z-index: -1;
    content: "不定時開課";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-text-stroke: 5px #fff8e4; }
  .welcome-wrap .general-subtitle {
    color: #6a3e26;
    font-size: 16px;
    position: relative;
    text-align: center; }
<<<<<<< HEAD
  .welcome-wrap .general-subtitle:after {
=======
  .welcom-wrap .general-subtitle:after {
>>>>>>> master
    z-index: -1;
    content: "每日固定開課";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-text-stroke: 5px #fff8e4; }
