@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "GenJyuuGothic-R";
}

.group-title {
  color: #fff;
  font-size: 28px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.group-title:after {
  z-index: -1;
  content: "揪團課程";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.general-title {
  color: #fff;
  font-size: 28px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.general-title:after {
  z-index: -1;
  content: "一般課程";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.group-subtitle {
  color: #6a3e26;
  font-size: 12px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.group-subtitle:after {
  z-index: -1;
  content: "不定時開課";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #fff8e4;
}

.general-subtitle {
  color: #fff8e4;
  font-size: 12px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.general-subtitle:after {
  z-index: -1;
  content: "每日固定開課";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #6a3e26;
}

.message-title {
  color: #fff;
  font-size: 34px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.message-title:after {
  z-index: -1;
  content: "揪團留言板";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.general-form-title {
  color: #fff;
  font-size: 34px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.general-form-title:after {
  z-index: -1;
  content: "一般課程預約";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.group-form-title {
  color: #fff;
  font-size: 34px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.group-form-title:after {
  z-index: -1;
  content: "揪團課程預約";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.welcome-wrap {
  background-color: #ffd9d9;
  font-family: "GenJyuuGothic-B";
}

.welcome-wrap .wrapper {
  margin: auto;
}

@media all and (min-width: 769px) {
  .welcome-wrap .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1200px;
    height: 100vh;
  }
}

.welcome-wrap .kanban {
  padding-top: 30%;
  width: 100%;
  margin: auto;
}

@media all and (min-width: 769px) {
  .welcome-wrap .kanban {
    padding-top: 20%;
  }
}

.welcome-wrap .kanban .spaceship {
  width: 60%;
  margin: auto;
}

.welcome-wrap .kanban img {
  width: 100%;
}

.welcome-wrap .kanban .item {
  width: 70%;
  position: relative;
  text-align: center;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  margin: auto;
}

.welcome-wrap .kanban .item .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (min-width: 992px) {
  .welcome-wrap .kanban .item .title {
    font-size: 40px;
  }
}

.welcome-wrap .kanban .item .subtitle {
  position: absolute;
  top: 15%;
  right: 12%;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}

@media all and (min-width: 769px) {
  .welcome-wrap .kanban .item .subtitle {
    top: 19%;
    right: 13%;
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
  }
}

@media all and (min-width: 992px) {
  .welcome-wrap .kanban .item .subtitle {
    top: 20%;
    right: 14%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    font-size: 14px;
  }
}

.general-wrap {
  background-color: #ffd9d9;
}

.general-wrap .wrapper {
  max-width: 1200px;
  padding-top: 40%;
  padding-bottom: 10%;
  margin: auto;
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper {
    padding-top: 20%;
  }
}

.general-wrap .wrapper .general-item {
  width: 70%;
  position: relative;
  text-align: center;
  margin: auto;
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .general-item {
    width: 30%;
  }
}

.general-wrap .wrapper .general-item img {
  width: 100%;
}

.general-wrap .wrapper .general-item .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .general-item .title {
    font-size: 40px;
  }
}

.general-wrap .wrapper .general-item .subtitle {
  position: absolute;
  top: 15%;
  right: 12%;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}

@media all and (min-width: 769px) {
  .general-wrap .wrapper .general-item .subtitle {
    top: 19%;
    right: 13%;
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
  }
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .general-item .subtitle {
    top: 20%;
    right: 14%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    font-size: 14px;
  }
}

.general-wrap .wrapper .line {
  visibility: hidden;
  width: 40%;
  margin: -20px auto;
  text-align: center;
}

.general-wrap .wrapper .line img {
  width: 70%;
  margin: auto;
  z-index: -2;
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .line img {
    width: 40%;
  }
}

.general-wrap .wrapper .info {
  background-color: #fff0f4;
  border: #de5673 solid 5px;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  z-index: 2;
}

.general-wrap .wrapper .info .general-name {
  background-color: #de5673;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  text-align: center;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .info .general-name {
    width: 40%;
  }
}

.general-wrap .wrapper .info .general-name h2 {
  color: #fff;
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .info .general-name h2 {
    font-size: 24px;
  }
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .info .info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.general-wrap .wrapper .info .info-box .diy-img {
  width: 80%;
  margin: auto;
}

.general-wrap .wrapper .info .info-box .diy-img img {
  width: 100%;
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .info .info-box .diy-img {
    width: 50%;
    padding: 5%;
  }
}

.general-wrap .wrapper .info .info-box .diy-content {
  width: 80%;
  margin: auto;
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .info .info-box .diy-content {
    width: 50%;
    padding: 5%;
  }
}

.general-wrap .wrapper .info .info-box .diy-content .info-subtitle {
  background-color: #ffd365;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
}

.general-wrap .wrapper .info .info-box .diy-content .info-subtitle h4 {
  font-size: 18px;
}

.general-wrap .wrapper .info .info-box .diy-content .info-dec li {
  font-size: 18px;
  font-family: "GenJyuuGothic-B";
  padding: 10px 0 5px;
}

.general-wrap .wrapper .info .info-box .diy-content .info-dec p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15px;
}

@media all and (min-width: 992px) {
  .general-wrap .wrapper .info .info-box .diy-content .info-dec p {
    font-size: 16px;
    line-height: 20px;
  }
}

.general-wrap .wrapper .info .course-btn {
  padding: 5% 0;
}

.general-wrap .wrapper .info .course-btn .course-ice-btn-out {
  margin: auto;
  display: block;
  width: 135px;
  height: 40.5px;
  border-radius: 25px;
  background-color: white;
  border: 2.025px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.general-wrap .wrapper .info .course-btn .course-ice-btn-out:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.general-wrap .wrapper .info .course-btn .course-ice-btn-out > span {
  display: block;
  position: relative;
  width: 125.55px;
  height: 32.4px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2.025px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.general-wrap .wrapper .info .course-btn .course-ice-btn-out > span:hover {
  background-color: #fad689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.general-wrap .wrapper .info .course-btn .course-ice-btn-out > span img {
  display: block;
  position: absolute;
  top: -3px;
  left: -13px;
  width: 40.5px;
  height: 47.25px;
}

.general-wrap .wrapper .info .course-btn .course-ice-btn-out .course-ice-btn-in {
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.general-wrap .wrapper .info .course-btn .course-ice-btn-out .course-ice-btn-in:after {
  z-index: -1;
  content: "我要預約";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #6a3e26;
}

.group-wrap {
  background-color: #ffd9d9;
}

.group-wrap .wrapper {
  max-width: 1200px;
  padding-top: 40%;
  padding-bottom: 10%;
  margin: auto;
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper {
    padding-top: 20%;
  }
}

.group-wrap .wrapper .group-item {
  width: 70%;
  position: relative;
  text-align: center;
  margin: auto;
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .group-item {
    width: 30%;
  }
}

.group-wrap .wrapper .group-item img {
  width: 100%;
}

.group-wrap .wrapper .group-item .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .group-item .title {
    font-size: 40px;
  }
}

.group-wrap .wrapper .group-item .subtitle {
  position: absolute;
  top: 15%;
  right: 12%;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}

@media all and (min-width: 769px) {
  .group-wrap .wrapper .group-item .subtitle {
    top: 19%;
    right: 13%;
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
  }
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .group-item .subtitle {
    top: 20%;
    right: 14%;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    font-size: 14px;
  }
}

.group-wrap .wrapper .line {
  width: 40%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -5%;
}

.group-wrap .wrapper .line img {
  width: 70%;
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .line img {
    width: 40%;
  }
}

.group-wrap .wrapper .info {
  background-color: #fff0f4;
  border: #de5673 solid 5px;
  border-radius: 20px;
  width: 90%;
  margin: auto;
}

.group-wrap .wrapper .info .group-name {
  background-color: #de5673;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  text-align: center;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .info .group-name {
    width: 40%;
  }
}

.group-wrap .wrapper .info .group-name h2 {
  font-size: 18px;
  color: #fff;
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .info .group-name h2 {
    font-size: 24px;
  }
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .info .info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.group-wrap .wrapper .info .info-box .diy-img {
  width: 80%;
  margin: auto;
}

.group-wrap .wrapper .info .info-box .diy-img img {
  width: 100%;
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .info .info-box .diy-img {
    width: 50%;
    padding: 5%;
  }
}

.group-wrap .wrapper .info .info-box .diy-content {
  width: 80%;
  margin: auto;
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .info .info-box .diy-content {
    width: 50%;
    padding: 5%;
  }
}

.group-wrap .wrapper .info .info-box .diy-content .info-subtitle {
  background-color: #ffd365;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
}

.group-wrap .wrapper .info .info-box .diy-content .info-subtitle h4 {
  font-size: 18px;
}

.group-wrap .wrapper .info .info-box .diy-content .info-dec li {
  font-size: 18px;
  font-family: "GenJyuuGothic-B";
  padding: 10px 0 5px;
}

.group-wrap .wrapper .info .info-box .diy-content .info-dec p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15px;
}

@media all and (min-width: 992px) {
  .group-wrap .wrapper .info .info-box .diy-content .info-dec p {
    font-size: 16px;
    line-height: 20px;
  }
}

.group-wrap .wrapper .info .course-btn {
  padding: 5% 0;
}

.group-wrap .wrapper .info .course-btn .course-ice-btn-out {
  margin: auto;
  display: block;
  width: 135px;
  height: 40.5px;
  border-radius: 25px;
  background-color: white;
  border: 2.025px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.group-wrap .wrapper .info .course-btn .course-ice-btn-out:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.group-wrap .wrapper .info .course-btn .course-ice-btn-out > span {
  display: block;
  position: relative;
  width: 125.55px;
  height: 32.4px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2.025px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.group-wrap .wrapper .info .course-btn .course-ice-btn-out > span:hover {
  background-color: #fad689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.group-wrap .wrapper .info .course-btn .course-ice-btn-out > span img {
  display: block;
  position: absolute;
  top: -3px;
  left: -13px;
  width: 40.5px;
  height: 47.25px;
}

.group-wrap .wrapper .info .course-btn .course-ice-btn-out .course-ice-btn-in {
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.group-wrap .wrapper .info .course-btn .course-ice-btn-out .course-ice-btn-in:after {
  z-index: -1;
  content: "我要開團";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #6a3e26;
}

.course-message {
  padding-bottom: 10%;
  background-color: #f6c555;
  background-image: url(../img/background.png);
}

.course-message .dividing {
  width: 100%;
  height: 20px;
  background-color: #ffb11b;
}

.course-message .second-title {
  padding: 5% 0;
  position: relative;
  text-align: center;
  margin: auto;
}

@media all and (min-width: 992px) {
  .course-message .second-title {
    width: 70%;
  }
}

.course-message .second-title img {
  width: 70%;
}

@media all and (min-width: 992px) {
  .course-message .second-title img {
    width: 60%;
  }
}

.course-message .second-title h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

@media all and (max-width: 768px) {
  .course-message .second-title h3 {
    font-size: 20px;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}

.course-message .go-between {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 8px 8px 3px #888;
          box-shadow: 8px 8px 3px #888;
}

.course-message .go-between .heading {
  font-size: 18px;
  background-color: #f4cabd;
  padding: 3%;
}

@media all and (min-width: 992px) {
  .course-message .go-between .heading {
    font-size: 20px;
  }
}

.course-message .go-between .content {
  background-color: #ffdee6;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.course-message .go-between .content .member-item {
  padding: 10px;
  max-width: 80px;
  max-height: 80px;
  text-align: center;
}

@media all and (min-width: 992px) {
  .course-message .go-between .content .member-item {
    width: 20%;
  }
}

.course-message .go-between .content .member-item img {
  width: 80%;
  height: 80%;
}

.course-message .go-between .content .member-item span {
  font-size: 13px;
}

.course-message .go-between .content .input-area {
  text-align: start;
}

@media all and (min-width: 992px) {
  .course-message .go-between .content .input-area {
    width: 80%;
  }
}

.course-message .go-between .content .input-area h5 {
  padding: 15px;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.course-message .go-between .content .input-area input {
  padding: 10px;
  width: 100%;
  border-radius: 25px;
  border: none;
}

.course-message .go-between .content .input-area textarea {
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  border: none;
}

.course-message .go-between .content .open-btn {
  margin-top: 10px;
}

.course-message .go-between .content .open-btn .open-btn-out {
  width: 90%;
  margin: auto;
  display: block;
  width: 135px;
  height: 40.5px;
  border-radius: 25px;
  background-color: white;
  border: 2.025px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.course-message .go-between .content .open-btn .open-btn-out:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.course-message .go-between .content .open-btn .open-btn-out > span {
  display: block;
  position: relative;
  width: 125.55px;
  height: 32.4px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2.025px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.course-message .go-between .content .open-btn .open-btn-out > span:hover {
  background-color: #fad689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.course-message .go-between .content .open-btn .open-btn-out > span img {
  display: block;
  position: absolute;
  top: -3px;
  left: -13px;
  width: 40.5px;
  height: 47.25px;
}

.course-message .go-between .content .open-btn .open-btn-out .open-btn-in {
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.course-message .go-between .content .open-btn .open-btn-out .open-btn-in:after {
  z-index: -1;
  content: "開團發佈";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #6a3e26;
}

.course-message .love-line {
  max-width: 1200px;
  padding: 5% 0;
  width: 90%;
  margin: auto;
}

.course-message .love-line img {
  width: 100%;
}

.course-message .form-btn {
  margin-top: 10px;
}

.course-message .form-btn .form-btn-out {
  width: 90%;
  margin: auto;
  display: block;
  width: 135px;
  height: 40.5px;
  border-radius: 25px;
  background-color: white;
  border: 2.025px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.course-message .form-btn .form-btn-out:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.course-message .form-btn .form-btn-out > span {
  display: block;
  position: relative;
  width: 125.55px;
  height: 32.4px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2.025px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.course-message .form-btn .form-btn-out > span:hover {
  background-color: #fad689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.course-message .form-btn .form-btn-out > span img {
  display: block;
  position: absolute;
  top: -3px;
  left: -13px;
  width: 40.5px;
  height: 47.25px;
}

.course-message .form-btn .form-btn-out .form-btn-in {
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.course-message .form-btn .form-btn-out .form-btn-in:after {
  z-index: -1;
  content: "主揪申請";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #6a3e26;
}

.general-form-wrap {
  background-color: #ffd9d9;
  background-image: url(../img/background.png);
}

.general-form-wrap .wrapper {
  max-width: 1200px;
  padding-top: 20%;
  margin: auto;
}

@media all and (min-width: 992px) {
  .general-form-wrap .wrapper {
    padding-top: 15%;
  }
}

.general-form-wrap .wrapper .title {
  padding: 5% 0;
  position: relative;
  text-align: center;
  margin: auto;
}

@media all and (min-width: 992px) {
  .general-form-wrap .wrapper .title {
    width: 70%;
  }
}

.general-form-wrap .wrapper .title img {
  width: 70%;
}

@media all and (min-width: 992px) {
  .general-form-wrap .wrapper .title img {
    width: 60%;
  }
}

.general-form-wrap .wrapper .title h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -78%);
          transform: translate(-50%, -78%);
}

@media all and (max-width: 768px) {
  .general-form-wrap .wrapper .title h3 {
    font-size: 20px;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}

.general-form-wrap .wrapper form {
  margin: auto;
}

@media all and (min-width: 992px) {
  .general-form-wrap .wrapper form {
    width: 70%;
  }
}

.general-form-wrap .wrapper form img {
  width: 20px;
  margin-right: 5px;
}

.general-form-wrap .wrapper form p {
  font-size: 18px;
  display: inline-block;
  color: #434343;
}

@media all and (min-width: 992px) {
  .general-form-wrap .wrapper form p {
    font-size: 24px;
  }
}

.general-form-wrap .wrapper form .form-info {
  padding: 0 15px;
}

.general-form-wrap .wrapper form .check {
  padding-bottom: 20px;
}

.general-form-wrap .wrapper form .check #course1, .general-form-wrap .wrapper form .check #course2, .general-form-wrap .wrapper form .check #time1, .general-form-wrap .wrapper form .check #time2, .general-form-wrap .wrapper form .check #time3, .general-form-wrap .wrapper form .check span {
  visibility: hidden;
}

.general-form-wrap .wrapper form .check label {
  font-size: 18px;
  background-color: #fff;
  padding: 5px;
  vertical-align: middle;
  border-radius: 10px;
}

.general-form-wrap .wrapper form .check input {
  padding: 10px;
  height: 6%;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.general-form-wrap .wrapper form .check input:checked + label {
  border: #ffb11b solid 2px;
}

.general-form-wrap .wrapper form .check input:checked > span {
  visibility: visible;
}

.general-form-wrap .wrapper form .check span {
  display: inline-block;
}

@media all and (max-width: 768px) {
  .general-form-wrap .wrapper form .check span {
    display: block;
  }
}

.general-form-wrap .wrapper form #date-picker {
  padding: 10px 0;
}

.general-form-wrap .wrapper form #date-picker table {
  vertical-align: middle;
  background-color: #fff;
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.general-form-wrap .wrapper form #date-picker table #mon {
  padding: 20px 0;
  background-color: #ea7187;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-weight: bold;
}

.general-form-wrap .wrapper form #date-picker table th {
  padding: 60px 0 20px;
  color: #ea7187;
  font-weight: bold;
}

.general-form-wrap .wrapper form #date-picker table tr {
  width: 100%;
  height: 60px;
}

.general-form-wrap .wrapper form #date-picker table td {
  width: 14%;
  height: 60px;
  vertical-align: middle;
}

.general-form-wrap .wrapper form #date-picker table .now {
  background: #ea7187;
  border-radius: 30px;
  color: #fff;
}

.general-form-wrap .wrapper form select {
  display: block;
  margin: 20px;
  width: 40%;
  height: 6%;
  border-radius: 15px;
  border: none;
}

@media all and (min-width: 992px) {
  .general-form-wrap .wrapper form select {
    width: 15%;
  }
}

.general-form-wrap .wrapper .form-btn {
  padding: 5% 0;
}

.general-form-wrap .wrapper .form-btn .form-ice-btn-out {
  margin: auto;
  display: block;
  width: 135px;
  height: 40.5px;
  border-radius: 25px;
  background-color: white;
  border: 2.025px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.general-form-wrap .wrapper .form-btn .form-ice-btn-out:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.general-form-wrap .wrapper .form-btn .form-ice-btn-out > span {
  display: block;
  position: relative;
  width: 125.55px;
  height: 32.4px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2.025px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.general-form-wrap .wrapper .form-btn .form-ice-btn-out > span:hover {
  background-color: #fad689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.general-form-wrap .wrapper .form-btn .form-ice-btn-out > span img {
  display: block;
  position: absolute;
  top: -3px;
  left: -13px;
  width: 40.5px;
  height: 47.25px;
}

.general-form-wrap .wrapper .form-btn .form-ice-btn-out .form-ice-btn-in {
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.general-form-wrap .wrapper .form-btn .form-ice-btn-out .form-ice-btn-in:after {
  z-index: -1;
  content: "確認預約";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #6a3e26;
}

.group-form-wrap {
  background-color: #fad689;
  background-image: url(../img/background.png);
}

.group-form-wrap .wrapper {
  max-width: 1200px;
  padding-top: 30%;
  margin: auto;
}

@media all and (min-width: 992px) {
  .group-form-wrap .wrapper {
    padding-top: 20%;
  }
}

.group-form-wrap .wrapper .title {
  padding: 5% 0;
  position: relative;
  text-align: center;
  margin: auto;
}

@media all and (min-width: 992px) {
  .group-form-wrap .wrapper .title {
    width: 70%;
  }
}

.group-form-wrap .wrapper .title img {
  width: 70%;
}

@media all and (min-width: 992px) {
  .group-form-wrap .wrapper .title img {
    width: 60%;
  }
}

.group-form-wrap .wrapper .title h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -78%);
          transform: translate(-50%, -78%);
}

@media all and (max-width: 768px) {
  .group-form-wrap .wrapper .title h3 {
    font-size: 20px;
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
}

.group-form-wrap .wrapper form {
  margin: auto;
}

@media all and (min-width: 992px) {
  .group-form-wrap .wrapper form {
    width: 70%;
  }
}

.group-form-wrap .wrapper form > span {
  font-size: 18px;
  display: block;
  padding: 15px;
  color: #434343;
}

@media all and (min-width: 992px) {
  .group-form-wrap .wrapper form > span {
    font-size: 24px;
  }
}

.group-form-wrap .wrapper form > span img {
  width: 20px;
  margin-right: 5px;
}

.group-form-wrap .wrapper form input {
  padding: 0 10px;
  width: 100%;
  height: 6%;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  font-size: 16px;
}

.group-form-wrap .wrapper form #date-picker {
  padding: 10px 0;
}

.group-form-wrap .wrapper form #date-picker table {
  vertical-align: middle;
  background-color: #fff;
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.group-form-wrap .wrapper form #date-picker table #mon {
  padding: 20px 0;
  background-color: #f6c555;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-weight: bold;
}

.group-form-wrap .wrapper form #date-picker table th {
  padding: 60px 0 20px;
  color: #ffb11b;
}

.group-form-wrap .wrapper form #date-picker table tr {
  width: 100%;
  height: 60px;
}

.group-form-wrap .wrapper form #date-picker table td {
  width: 14%;
  height: 60px;
  vertical-align: middle;
}

.group-form-wrap .wrapper form #date-picker table .now {
  background: #ffb11b;
  border-radius: 30px;
  color: #fff;
}

.group-form-wrap .wrapper form select {
  display: block;
  margin: 10px 0;
  width: 40%;
  height: 6%;
  border-radius: 15px;
  border: none;
}

@media all and (min-width: 992px) {
  .group-form-wrap .wrapper form select {
    width: 15%;
  }
}

.group-form-wrap .wrapper .form-btn {
  padding: 5% 0;
}

.group-form-wrap .wrapper .form-btn .form-ice-btn-out {
  margin: auto;
  display: block;
  width: 135px;
  height: 40.5px;
  border-radius: 25px;
  background-color: white;
  border: 2.025px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.group-form-wrap .wrapper .form-btn .form-ice-btn-out:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.group-form-wrap .wrapper .form-btn .form-ice-btn-out > span {
  display: block;
  position: relative;
  width: 125.55px;
  height: 32.4px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2.025px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.group-form-wrap .wrapper .form-btn .form-ice-btn-out > span:hover {
  background-color: #fad689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.group-form-wrap .wrapper .form-btn .form-ice-btn-out > span img {
  display: block;
  position: absolute;
  top: -3px;
  left: -13px;
  width: 40.5px;
  height: 47.25px;
}

.group-form-wrap .wrapper .form-btn .form-ice-btn-out .form-ice-btn-in {
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.group-form-wrap .wrapper .form-btn .form-ice-btn-out .form-ice-btn-in:after {
  z-index: -1;
  content: "我要預約";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 3px #6a3e26;
}
/*# sourceMappingURL=course.css.map */