body{
	background-image: url(../img/background.png);
	background-repeat: repeat;
	background-color: #e6b1ba;
	font-family: "A-OTF-M";
}
img{
	vertical-align: middle;
}
.custom{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	box-sizing: border-box;
	padding: 45px 0 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}
@media screen and (min-width: 768px) {
	.custom{
		flex-flow: row nowrap;
		padding: 145px 0;
	}
}

/*側邊清單列*/
.custom-list{
	width: 90%;
	margin:0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	order: 2;
	margin-top: 20px;
}
@media screen and (min-width: 768px) {
	.custom-list{
		margin-top: 0;
		width: 30%;
		align-items: center;
		order: 0;
	}
}
.custom-list-scale{
	width: 30%;
	max-width: 66px;
}
.custom-list-scale img{
	width: 100%;
}
.custom-list-support{
	background-color: #dc9c76;
	width: 90%;
	height: 20px;
	border-radius: 3px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.point{
	width: 20%;
	position: relative;
	display: block;
}
.point:before{
	content: '';
	width: 5px;
	height: 5px;
	background-color: #bf866a;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
}
.point:after{
	content: '';
	width: 5px;
	height: 5px;
	background-color: #bf866a;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
}
.custom-list-item{
	transform: translateY(-5px);
	top: -3px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}
.custom-list-item-umberlla{
	display: none;
}
@media screen and (min-width: 768px) {
	.custom-list-item-umberlla{
		display: block;
		width: 20%;
		max-width: 66px;
	}
}
.custom-list-item-umberlla img{
	width: 100%;
}
.custom-list-item-price{
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.custom-list-item-price{
		width: 80%;
	}
}
.price-lock{
	width: 20px;
}
.price-lock img{
	width: 100%;
}


/*清單樣式*/
.price-table{
	transform: translateY(-5px);
	width: 100%;
	border: 10px solid #603813;
	border-radius: 5px;
	background-color: #fff8e4;
	padding: 20px;
	box-sizing: border-box;
}
.price-title{
	margin: auto;
	font-family: "A-OTF-M";
	width: 80%;
}
.price-title p{
	padding: 10px 0;
	border-bottom: 2px solid #603813;
	text-align: center;
}
.price-s-table{
	width: 100%;
}
.price-s-table th,td{
	padding: 10px 6px;
	text-align: center;
}
.price-s-table th{
	width: 40%;
}
.price-s-table td{
	width: 60%;
}
.price-s-table tfoot{
	width: 90%;
	margin: auto;
	border-top: 2px dashed #603813;
}


/*表情*/
.mood{
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	order: -1;
	padding: 10px 0;
}
@media screen and (min-width: 768px) {
	.mood{
		order: 0;
		flex-flow: row nowrap;
	}
}
.face{
	position: relative;
	z-index: 1;
}
.progress{
	height: 100px;
	width: 90%;
	background-color: #ffdee6;
	border: 5px solid #6a3e26;
	border-radius: 10px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 10px 10px 10px 10%;
	margin-top: 5px;
}
@media screen and (min-width: 768px) {
	.progress{
		padding: 10px 10px 10px 14%;
		margin-left: -14%;
		margin-top: 0;
	}
}
#mood{
	vertical-align: middle;
	border: 15px solid #6a3e26;
	border-radius: 50%;
	background-color: #fff;
}
.category{
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	padding-right: 10px;
}
.category-item{
	font-size: 24px;
	font-family: "A-OTF-M";
}
@media screen and (min-width: 768px) {
	.category-item{
		font-size: 16px;
	}
}
.progress-group{
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	width: 100%;
	justify-content: space-around;
}
.default{
	background-color: #ccc;
	height: 16px;
	width: 100%;
}
.progress-bar{
	height: 100%;
	width: 80%;
	background-color: #f596aa;
}
/*主要客製*/
.custom-main{
	width: 100%;
	padding: 80px 0 0;
}
@media screen and (min-width: 768px) {
	.custom-main{
		width: 40%;
	}
}
/*進度條*/

.step-group {
  width: 80%;
  margin: auto;
  padding: 10px 0;
}
.step {
  counter-reset:step;
  position: relative;
  z-index: 0;
}
.step li {
  list-style-type: none;
  float:left;
  width: 25%;
  position:relative;
  text-align:center;
}
.step li:before {
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height:30px;
  display:block;
  text-align:center;
  color: #fff;
  margin:0 auto 10px auto;
  border-radius:50%;
  background-color: #838a2d;
  z-index: 0;
}
.step li:not(:first-child):after {
  content:"";
  position:absolute;
  width: 100%;
  height:3px;
  background-color: #838a2d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.step li.active:before {
  background-color: #db4d6d;
}
.step li.active ~ li:after {
  background-color: #bbbdbb;
}
.step li.active ~ li:before {
  background-color: #bbbdbb;
}





.custom-main-show{
	padding: 10px 0;
	margin: auto;
	width: 70%;
	position: relative;
	top: 30px;
	z-index: 2;
}
.custom-main-show img{
	width: 100%;
}

/*底座*/
.custom-bottom{
	border:5px solid #6a3e26;
	background-color: #d2a47f;
	width: 90%;
	margin: auto;
	height: 50px;
	border-radius: 50%;
	position: relative;
}
.custom-bottom:before{
	content: '';
	position: absolute;
	z-index: -1;
	border: 5px solid #6a3e26;
	width: 100%;
	height: 100%;
	top: 50%;
	left: -5px;
	background-color: #6a3e26;
}
.custom-bottom:after{
	content: '';
	z-index: -2;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 5px solid #6a3e26;
	border-radius: 50%;
	background-color: #6a3e26;
	top: 110%;
	left: -5px;
}
/*模板*/
.back{
	background-color: #f3e6c4;
	border: 5px solid #6a3e26;
	border-radius: 10px;
}
/*側邊選單*/
.custom-aside{
	margin:0 auto;
	width: 90%;
	padding: 20px;
	box-sizing: border-box;
}
@media screen and (min-width: 768px) {
	.custom-aside{
		width: 30%;
	}
}
.aside-title{
	padding-bottom: 10px;
}
.aside-title h2{
	font-family: "A-OTF-M";
	font-size: 24px;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.aside-title{
		padding-bottom: 0px;
	}
	.aside-title h2{
		font-size: 34px;
	}
}



/*側邊選單*/
.aside-select{
	display: flex;
	flex-flow: row wrap;
}

/*側邊選單第一區*/
.select-item{
	box-sizing: border-box;
	padding: 5px;
}
@media screen and (min-width: 768px) {
	.select-item{
		box-sizing: border-box;
		padding: 20px 10px;
	}
}
.select-item-1{
	width: 100%;
}
.select-item-4{
	width: 50%;
}
@media screen and (min-width: 768px) {
	.select-item-6{
		width: 33.333333%;
	}
}

.texture-item{
	border: 4px solid #6a3e26;
	border-radius: 30px;
	box-sizing: border-box;
	padding:5px;
	background-image: url('../img/custom/down.png');
	background-position: bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
	.texture-item{
		padding:10px 5px;
	}
}
.texture-item:hover{
	cursor: pointer;
}
.texture-item:hover img{
	background-color: #db4d6d;
}
.texture-item img{
	width: 80%;
	margin: auto;
	background-color: #ffa4b5;
	box-sizing: border-box;
	display: block;
	padding:5px 10px;
	border-radius: 10px;
	transition-property: background-color;
	transition-duration: .5s;
}
.texture-item figcaption{
	font-family: "A-OTF-M";
	font-size: 16px;
	text-align: center;
	padding: 10px 0 20px;
	color: #744934;
}
@media screen and (min-width: 768px) {
	.texture-item figcaption{
		font-size: 18px;
		padding: 10px 0 30px;
	}
}
/*側邊選單第二區*/
.fruite-item{
	text-align: center;
}
.fruite-item img{
	max-height: 80px;
}
@media screen and (min-width: 768px) {
	.fruite-item img{
		max-height: 47px;
	}
}

.range-area{
	padding: 10px 0;
}
#range{
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	outline: none;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	box-shadow: 1px 1px 2px #aaa inset;
}
#range:hover {
	opacity: 1;
}
#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
/*側邊欄第三區*/


/*側邊第四區*/
#text{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 20px;
}

.clearfix{
	clear: both;
}

/*按鈕*/
.aside-button-group{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}