@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aside-button-out-last {
  display: block;
  width: 100px;
  padding: 2px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.aside-button-out-last .aside-button-in {
  display: block;
  color: whitesmoke;
  font-size: 16px;
  position: relative;
  padding: 1px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 100px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.aside-button-out-last .aside-button-in:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.aside-button-out-last .aside-button-in:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.aside-button-out-last .aside-button-in:after {
  z-index: -1;
  content: "上一步";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

.aside-button-out-next {
  display: block;
  width: 100px;
  padding: 2px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.aside-button-out-next .aside-button-in {
  display: block;
  color: whitesmoke;
  font-size: 16px;
  position: relative;
  padding: 1px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 100px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.aside-button-out-next .aside-button-in:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.aside-button-out-next .aside-button-in:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.aside-button-out-next .aside-button-in:after {
  z-index: -1;
  content: "下一步";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

.aside-button-out-complete {
  display: block;
  width: 100px;
  padding: 2px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.aside-button-out-complete .aside-button-in {
  display: block;
  color: whitesmoke;
  font-size: 16px;
  position: relative;
  padding: 1px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 100px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.aside-button-out-complete .aside-button-in:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.aside-button-out-complete .aside-button-in:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.aside-button-out-complete .aside-button-in:after {
  z-index: -1;
  content: "完成";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}
/*# sourceMappingURL=custombtn.css.map */