/* 文字-本地端連結 */
/*A-OTF日文*/
@font-face {
  font-family: "A-OTF-H";
  src: url(../font/A-OTF/A-OTF-MaruFoPro-Heavy.otf);
}
@font-face {
  font-family: "A-OTF-M";
  src: url(../font/A-OTF/A-OTF-MaruFoPro-Medium.otf);
}
/*思源圓黑體*/
@font-face {
  font-family: "GenJyuuGothic-B";
  src: url(../font/genJyuuGothic/GenJyuuGothic-Bold.ttf);
}
@font-face {
  font-family: "GenJyuuGothic-R";
  src: url(../font/genJyuuGothic/GenJyuuGothicX-P-Regular.ttf);
}
/*Css寫 -> font-family: "什麼字型";*/

/*header*/
/*清除*/
* {
  outline: 1px solid #f00;
}
@media screen and (max-width: 768px) {
  #header {
    position: fixed;
    width: 100%;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 10;
  }
  .nav_window {
    display: none;
  }
  .nav_item_icom {
    display: none;
  }
  .item_group {
    display: flex;
    flex-flow: column nowrap;
  }
  .ＭpNavBar-Mp {
    width: 100%;
    position: relative;
    z-index: -98;
  }
  .nav_item {
    padding-top: 200px;
    order: 1;
    position: absolute;
    left: 100%;
    width: 100%;
    z-index: -99;
    background-color: #ffdee6;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 46px);
    transition: 1s;
  }
  .shoppingCartIconMp {
    position: absolute;
    top: 18px;
    left: 4%;
  }
  .nav_item_show {
    left: 0%;
    transition: 1s;
  }
  .nav_list li {
    margin-bottom: 30px;
  }
  .logo_item {
    top: 20%;
    left: 25%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .logo {
    margin: auto;
    width: 60%;
  }
  .logo_item img {
    width: 80%;
  }
  /* 漢堡選單 */
  .hb {
    display: block;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    margin-left: auto;
    position: relative;
    bottom: 15px;
    right: 4%;
  }
  .hb .bar {
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 23%;
    background-color: #ffdee6;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.8s;
  }

  .hb .bar1 {
    top: 8px;
    transform: rotate(0deg);
  }
  .hb .bar2 {
    top: 16px;
    opacity: 1;
  }
  .hb .bar3 {
    bottom: 8px;
    transform: rotate(0deg);
  }
  #menu-control:checked ~ #header .bar1 {
    top: 16px;
    transform: rotate(220deg);
  }
  #menu-control:checked ~ #header .bar2 {
    opacity: 0;
  }
  #menu-control:checked ~ #header .bar3 {
    bottom: 16px;
    transform: rotate(-220deg);
  }
  .nav_text span {
    position: relative;
  }
  .nav_text span::before {
    content: "";
    position: absolute;
    right: 3px;
    bottom: -3px;
    background-color: #ffdee6;
    height: 2px;
    width: 100%;
    transform: scale(0);
  }
  .nav_list li:hover span::before {
    transform: scale(1);
    transition: 0.5s;
  }
  .nav_list li:hover .nav_text img {
    opacity: 1;
    transition: 0.5s;
  }
  .nav_list img {
    display: none;
    width: 15%;
    margin-right: 5px;
    opacity: 0;
    position: relative;
    top: 1px;
  }
  .nav_text {
    text-decoration: none;
    font-family: "A-OTF-M";
    letter-spacing: 2px;
    font-size: 25px;
    color: #6a3e26;
  }
}

@media screen and (min-width: 768px) {
  #header {
    position: fixed;
    width: 100%;
    background-image: url("../img/navBar/headerbgi.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }
  .shoppingCartIconMp {
    display: none;
  }
  .ＭpNavBar-Mp {
    display: none;
  }
  .hb {
    display: none;
  }
  .nav_window {
    display: inline-block;
  }
  .nav_item_icom {
    display: inline-block;
  }
  .item_group {
    padding: 20px 0 0 0;
    width: 100%;
    height: 125px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: flex-start;
  }
  .logo_item {
    order: 0;
    margin: auto;
    width: 700px;
    position: relative;
    margin: 0 20px 0 20px;
  }
  .logo_item img {
    width: 100%;
  }
  .nav_item {
    order: 0;
    width: 100%;
    max-width: 600px;
    z-index: 0;
  }
  .nav_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .nav_text span {
    position: relative;
  }
  .nav_text span::before {
    content: "";
    position: absolute;
    right: 3px;
    bottom: -3px;
    background-color: #ffdee6;
    height: 2px;
    width: 100%;
    transform: scale(0);
  }
  .nav_list_Mp {
    display: none;
  }
  .nav_list li:hover span::before {
    transform: scale(1);
    transition: 0.5s;
  }
  .nav_list li:hover .nav_text img {
    opacity: 1;
    transition: 0.5s;
  }
  .nav_list img {
    display: inline-block;
    width: 15%;
    margin-right: 5px;
    opacity: 0;
    position: relative;
    top: 1px;
  }
  .nav_item_icom {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .memberIcon {
    margin-right: 20%;
  }
  .nav_item_icom img {
    width: 30px;
    opacity: 1;
  }
  .nav_text {
    text-decoration: none;
    font-family: "A-OTF-M";
    letter-spacing: 2px;
    font-size: 18px;
    color: #ffffff;
  }
}

/*rwd內容*/
#menu-control {
  display: none;
}
/* footer */
footer {
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #ea7187;
}
footer span {
  display: block;
  font-family: "GenJyuuGothic-M";
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 15px;
  color: #ffffff;
}
.box {
  width: 100%;
  background-color: rgb(133, 35, 35);
  height: 700px;
}
@media screen and (max-width: 768px) {
  footer span {
    display: block;
    font-family: "GenJyuuGothic-M";
    letter-spacing: 1px;
    font-size: 8px;
    padding-top: 15px;
    color: #ffffff;
}
