/* 文字-本地端連結 */
/*A-OTF日文*/
@font-face {
  font-family: "A-OTF-H";
  src: url(../font/A-OTF/A-OTF-MaruFoPro-Heavy.otf);
}
@font-face {
  font-family: "A-OTF-M";
  src: url(../font/A-OTF/A-OTF-MaruFoPro-Medium.otf);
}
/*思源圓黑體*/

@font-face {
  font-family: "GenJyuuGothic-B";
  src: url(../font/genJyuuGothic/GenJyuuGothic-Bold.ttf);
}
@font-face {
  font-family: "GenJyuuGothic-R";
  src: url(../font/genJyuuGothic/GenJyuuGothicX-P-Regular.ttf);
}
/*Css寫 -> font-family: "什麼字型";*/
* {
  /* outline: 1px solid #f00; */
}
/*header*/
/*清除*/
@media screen and (max-width: 768px) {
  /* 麵包屑 */
  /* 戀愛問答#qa-item-show
    冰棒客製#custom-item-show
    愛的留言#message-item-show
    冰品商城#newshop-item-show
    體驗課程#course-item-show
    最新消息#new-item-show
    關於園區#about-item-show */

  /* css開始 */
  /* #new-item-show span::before {
    transform: scale(1);
  }
  #new-item-show img {
    opacity: 1;
  } */
  /* css結束 */
  #header {
    position: fixed;
    width: 100%;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 99;
  }
  .nav-item-icom {
    display: none;
  }
  .item-group {
    display: flex;
    flex-flow: column nowrap;
  }
  .nav-bar-mp {
    width: 100%;
    position: relative;
    z-index: -20;
  }
  .nav-item {
    padding-top: 130px;
    order: 1;
    position: absolute;
    left: 100%;
    width: 100%;
    z-index: -30;
    background-color: #ffdee6;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh);
    transition: 1s;
  }
  .shopping-cart-icon-mp {
    position: absolute;
    display: none;
    top: 18px;
    left: 4%;
  }
  .icon-login-box {
  }
  .icon-mp img {
    width: 32%;
  }
  .icon-mp {
    position: absolute;
    top: 16%;
    left: 3%;
    width: 22%;
    font-size: 0;
  }
  .icon-mp span {
    padding-top: 4px;
    display: inline-block;
    color: #fff;
    font-size: 2.7vw;
    font-family: "A-OTF-M";
    text-decoration: none;
  }
  .icon-login-box-mp {
    width: 30%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
    font-size: 1vw;
  }
  .icon-login-box-mp img {
    width: 100%;
  }
  .nav-item-show {
    left: 0%;
    transition: 1s;
  }
  .nav-list li {
    margin-bottom: 30px;
  }
  #nav-drop-down-menu-hover {
    margin-bottom: 0px;
  }
  .nav-drop-down-menu {
    margin-top: 5%;
    position: relative;
    top: 60%;
    width: 100%;
    text-align: center;
  }
  .nav-drop-down-menu li {
    margin: 0 auto;
    margin-left: 5%;
    text-decoration: none;
  }
  .nav-drop-down-menu li a {
    display: inline-block;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-size: 6vw;
    letter-spacing: 0.3vw;
    color: #a57761;
    font-family: "GenJyuuGothic-R";
  }
  .nav-drop-down-menu li:hover {
    border-radius: 10px;
    background-color: #fff;
  }
  .logo-item {
    top: 20%;
    left: 25%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .logo {
    margin: auto;
    width: 60%;
  }
  .logo-item img {
    width: 80%;
  }
  /* 漢堡選單 */
  .hb {
    display: block;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    margin-left: auto;
    position: relative;
    bottom: 30%;
    right: 4%;
  }
  .hb .bar {
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background-color: #ffdee6;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.8s;
  }

  .hb .bar1 {
    top: 8px;
    transform: rotate(0deg);
  }
  .hb .bar2 {
    top: 16px;
    opacity: 1;
  }
  .hb .bar3 {
    bottom: 8px;
    transform: rotate(0deg);
  }
  #menu-control:checked ~ #header .bar1 {
    top: 16px;
    transform: rotate(220deg);
  }
  #menu-control:checked ~ #header .bar2 {
    opacity: 0;
  }
  #menu-control:checked ~ #header .bar3 {
    bottom: 16px;
    transform: rotate(-220deg);
  }
  .nav-text span {
    position: relative;
  }
  .nav-text span::before {
    content: "";
    position: absolute;
    right: 3px;
    bottom: -3px;
    background-color: #ffdee6;
    height: 2px;
    width: 100%;
    transform: scale(0);
  }
  .nav-list li:hover span::before {
    transform: scale(1);
    transition: 0.5s;
  }
  .nav-list li:hover .nav-text img {
    opacity: 1;
    transition: 0.5s;
  }
  .nav-list img {
    display: inline-block;
    width: 15%;
    margin-right: 5px;
    opacity: 0;
    position: relative;
    top: 1px;
  }
  .nav-text {
    text-decoration: none;
    font-family: "A-OTF-M";
    letter-spacing: 2px;
    font-size: 25px;
    color: #6a3e26;
  }
}

@media screen and (min-width: 768px) {
  /* scrollbar顏色 */
  ::-webkit-scrollbar {
    background-color: #ffebec;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #ffebec;
    background-color: #ffabb1;
  }
  /* 麵包屑 */
  /* 戀愛問答#qa-item-show
    冰棒客製#custom-item-show
    愛的留言#message-item-show
    冰品商城#newshop-item-show
    體驗課程#course-item-show
    最新消息#new-item-show
    關於園區#about-item-show */

  /* css開始 */
  /* #new-item-show span::before {
    transform: scale(1);
  }
  #new-item-show img {
    opacity: 1;
  } */
  /* css結束 */

  #header {
    position: fixed;
    width: 100%;
    background-image: url("../img/navBar/headerbgi.png");
    background-position: center;
    z-index: 99;
  }
  #header * {
    box-sizing: content-box;
  }
  .shopping-cart-icon-mp {
    display: none;
  }
  .nav-bar-mp {
    display: none;
  }
  .hb {
    display: none;
  }
  .nav_window {
    display: inline-block;
  }
  .nav-item-icom {
    display: inline-block;
  }
  .item-group {
    padding: 8px 0 0 0;
    width: 100%;
    height: 123px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: flex-start;
  }
  .icon-mp {
    display: none;
  }
  .logo-item {
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    order: 0;
    z-index: 3;
    margin: auto;
    width: 16%;
    text-align: center;
    position: absolute;
  }
  .logo-item img {
    width: 100%;
  }
  .nav-item {
    display: flex;
    justify-content: space-between;
    order: 0;
    width: 100%;
    z-index: 0;
  }
  .nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .nav-drop-down-menu {
    opacity: 0;
    transition: 1s;
    position: relative;
    top: -60%;
    left: 12%;
    text-align: center;
    width: 70%;
    background-color: #ffdee6;
    border-radius: 10px;
  }
  .nav-drop-down-menu li {
    position: relative;
    left: -6%;
    margin-left: 6%;
    height: 70%;
    width: 99%;
    display: inline-block;
    text-decoration: none;
  }
  .nav-drop-down-menu li a {
    display: inline-block;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    color: #ea7187;
    font-family: "GenJyuuGothic-R";
  }
  .nav-drop-down-menu li:hover {
    border-radius: 10px;
    background-color: #fff;
  }
  .nav-text span {
    position: relative;
  }
  .nav-text span::before {
    content: "";
    position: absolute;
    right: 3px;
    bottom: -3px;
    background-color: #ffdee6;
    height: 2px;
    width: 100%;
    transform: scale(0);
  }
  .nav-list-login {
    transform: translateX(-2.3vw);
  }
  .nav-list li:hover span::before {
    transform: scale(1);
    transition: 0.5s;
  }
  .nav-list li:hover .nav-text img {
    opacity: 1;
    transition: 0.5s;
  }
  .nav-list img {
    display: inline-block;
    width: 15%;
    margin-right: 5px;
    opacity: 0;
    position: relative;
    top: 1px;
  }
  .nav-item-icom {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .member-icon {
    position: relative;
  }
  .nav-item-icom-group {
  }
  .shopping-cart-icon {
    margin-right: 0.3vw;
  }
  .nav-icon-login {
    text-decoration: none;
  }
  .nav-icon-login span {
    position: absolute;
    top: 7px;
    width: 2.5vw;
    left: 100%;
    font-family: "A-OTF-M";
    color: rgb(255, 255, 255);
  }
  .nav-item-icom img {
    width: 30px;
    opacity: 1;
    vertical-align: middle;
  }
  .nav-text {
    text-decoration: none;
    font-family: "A-OTF-M";
    letter-spacing: 2px;
    font-size: 18px;
    color: #ffffff;
  }
}
/*rwd內容*/
#menu-control {
  display: none;
}
/* footer */
footer {
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #ea7187;
}
footer span {
  display: block;
  font-family: "GenJyuuGothic-M";
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 15px;
  color: #ffffff;
}
.box {
  width: 100%;
  background-color: rgb(133, 35, 35);
  height: 700px;
}
@media screen and (max-width: 768px) {
  footer span {
    display: block;
    font-family: "GenJyuuGothic-M";
    letter-spacing: 1px;
    font-size: 1vw;
    padding-top: 15px;
    color: #ffffff;
  }
}
