* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "GenJyuuGothic-R";
}

.news-wrap .banner, .news-inner-wrap .banner {
  background-color: #cdb3e5;
  background-image: url(../img/course/cloud-news.png), url(../img/qa/cover.png);
  background-repeat: no-repeat,repeat;
  background-position: bottom center, bottom center;
  background-size: 100%,auto;
  width: 100%;
  padding-top: 50px;
}

.news-wrap .banner .title, .news-inner-wrap .banner .title {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 20% 0 30%;
  margin: auto;
}

@media all and (min-width: 769px) {
  .news-wrap .banner .title, .news-inner-wrap .banner .title {
    padding: 150px 0 400px;
  }
}

.news-wrap .banner .title .img-bg, .news-inner-wrap .banner .title .img-bg {
  position: relative;
}

.news-wrap .banner .title .img-bg img, .news-inner-wrap .banner .title .img-bg img {
  width: 80%;
}

@media all and (min-width: 769px) {
  .news-wrap .banner .title .img-bg img, .news-inner-wrap .banner .title .img-bg img {
    width: 50%;
  }
}

.news-wrap .banner .title .img-bg span, .news-inner-wrap .banner .title .img-bg span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28px;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
}

@media all and (min-width: 769px) {
  .news-wrap .banner .title .img-bg span, .news-inner-wrap .banner .title .img-bg span {
    font-size: 34px;
  }
}

@media all and (min-width: 992px) {
  .news-wrap .banner .title .img-bg span, .news-inner-wrap .banner .title .img-bg span {
    font-size: 40px;
  }
}

.news-wrap .select {
  background-color: #fff8e4;
  margin: auto;
  width: 100%;
}

.news-wrap .select .select-group {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.news-wrap .select .select-group .select-filter-group {
  width: 60%;
  margin: auto;
  padding: 15px 30px;
  background-color: #cdb3e5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row nowrap;
      flex-wrap: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.news-wrap .select .select-group .select-filter-group h3 {
  font: 24px;
  text-align: center;
}

.news-wrap .select .select-group .select-filter-group .filter-item {
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .news-wrap .select .select-group .select-filter-group .filter-item {
    display: none;
  }
}

.news-wrap .select .select-group .select-filter-group .filter-item button {
  width: 70%;
  cursor: pointer;
  background-color: #a3a3a3;
  border: none;
  padding: 5px 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 0px #555;
          box-shadow: 0px 3px 0px #555;
  color: #fff;
  font: 16px;
  font-family: "GenJyuuGothic-R";
}

.news-wrap .select .select-group .select-filter-group .filter-item button:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0px 1px 0px #555;
          box-shadow: 0px 1px 0px #555;
  -webkit-transition: .3s;
  transition: .3s;
}

@media all and (min-width: 992px) {
  .news-wrap .select .select-group .select-filter-group .filter-item button {
    width: 100%;
    font: 18px;
  }
}

@media all and (max-width: 768px) {
  .news-wrap .select .select-group .select-filter-group .filter-item button {
    display: none;
  }
}

.news-wrap .select .select-group .select-filter-group .filter-active button {
  background-color: #fc7389;
}

.news-wrap .select .select-group .select-filter-group .mobile select {
  border: #6a3e26 solid 5px;
  width: 150px;
  height: 50px;
  padding: 3px;
}

@media all and (min-width: 769px) {
  .news-wrap .select .select-group .select-filter-group .mobile {
    display: none;
  }
}

.news-wrap .wrapper {
  padding-bottom: 10%;
  width: 100%;
  background-color: #fff8e4;
}

.news-wrap .wrapper .items-group {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-radius: 10px;
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-wrap .wrapper .items-group .item {
  position: relative;
  margin: 20px;
  padding: 20px 20px 10px;
  border-radius: 10px;
  background-color: #e2deff;
  width: 300px;
  height: 360px;
  -webkit-box-shadow: #555 2px 2px 2px;
          box-shadow: #555 2px 2px 2px;
}

.news-wrap .wrapper .items-group .item .sort {
  text-align: center;
  line-height: 20px;
  color: #ffc;
  position: absolute;
  width: 100px;
  height: 40px;
  background: #986db2;
  top: -20px;
  left: 33%;
}

.news-wrap .wrapper .items-group .item .sort::before {
  content: "";
  border-style: solid solid solid solid;
  border-color: transparent transparent  #77428d  #77428d;
  border-width: 10px 5px;
  height: 0px;
  width: 0px;
  position: absolute;
  right: -10px;
}

.news-wrap .wrapper .items-group .item span {
  width: 250px;
  margin: auto;
  color: #434343;
}

.news-wrap .wrapper .items-group .item .time {
  padding: 5px;
  font-size: 13px;
  display: block;
}

.news-wrap .wrapper .items-group .item h3 {
  line-height: 20px;
  padding: 5px;
  font-size: 18px;
  width: 60%;
  display: inline-block;
}

.news-wrap .wrapper .items-group .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-wrap .wrapper .items-group .item .content img {
  -webkit-transform: rotateZ(60deg);
          transform: rotateZ(60deg);
  visibility: hidden;
  width: 23%;
  height: 23%;
}

.news-wrap .wrapper .items-group .item .img {
  margin: auto;
  width: 250px;
  height: 250px;
  background-color: #ffc;
  color: #555;
}

.news-wrap .wrapper .items-group .item:hover {
  background-color: #cdb3e5;
}

.news-wrap .wrapper .items-group .item:hover .ice {
  visibility: visible;
}

.news-wrap .bookmark {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.news-wrap .bookmark ul, .news-wrap .bookmark li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-wrap .bookmark li {
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: 434343;
  border: #cdb3e5 solid 1px;
}

.news-wrap .bookmark li:hover {
  background-color: #cdb3e5;
  color: #e2deff;
}

.news-inner-wrap {
  font-family: "GenJyuuGothic-R";
}

.news-inner-wrap .inner-wrapper {
  background-color: #fff8e4;
  width: 100%;
}

.news-inner-wrap .inner-wrapper .title-box {
  max-width: 1200px;
  background-color: #cdb3e5;
  width: 90%;
  height: 100px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

@media all and (min-width: 769px) {
  .news-inner-wrap .inner-wrapper .title-box {
    width: 70%;
  }
}

.news-inner-wrap .inner-wrapper .title-box::before {
  content: '';
  -webkit-box-flex: .5;
      -ms-flex-positive: .5;
          flex-grow: .5;
}

.news-inner-wrap .inner-wrapper .title-box .before {
  padding: 10px;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

.news-inner-wrap .inner-wrapper .title-box .clear {
  clear: both;
}

.news-inner-wrap .inner-wrapper .title-box .img {
  height: 50px;
  float: left;
  padding: 0 10px;
}

.news-inner-wrap .inner-wrapper .title-box .img img {
  height: 100%;
}

.news-inner-wrap .inner-wrapper .title-box span {
  color: #434343;
  font-size: 16px;
  padding: 5px;
}

@media all and (max-width: 768px) {
  .news-inner-wrap .inner-wrapper .title-box span {
    font-size: 13px;
  }
}

.news-inner-wrap .inner-wrapper .title-box h3 {
  padding: 5px;
  font-family: "GenJyuuGothic-B";
}

@media all and (max-width: 768px) {
  .news-inner-wrap .inner-wrapper .title-box h3 {
    font-size: 16px;
  }
}

.news-inner-wrap .inner-wrapper .article-image {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  max-width: 1200px;
  width: 90%;
}

@media all and (min-width: 769px) {
  .news-inner-wrap .inner-wrapper .article-image {
    width: 80%;
  }
}

.news-inner-wrap .inner-wrapper .article-image img {
  width: 100%;
  padding: 20px 0;
}

@media all and (min-width: 769px) {
  .news-inner-wrap .inner-wrapper .article-image img {
    width: 80%;
  }
}

.news-inner-wrap .inner-wrapper .article-text {
  width: 60%;
  margin: auto;
  line-height: 40px;
}

@media all and (max-width: 768px) {
  .news-inner-wrap .inner-wrapper .article-text {
    width: 80%;
    font-size: 16px;
    line-height: 32px;
  }
}

.news-inner-wrap .inner-wrapper .change-page {
  padding: 50px 0;
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media all and (max-width: 768px) {
  .news-inner-wrap .inner-wrapper .change-page {
    width: 80%;
    font-size: 16px;
    padding: 20px 0;
  }
}

.news-inner-wrap .inner-wrapper .change-page .page-btn {
  cursor: pointer;
  padding: 5px 0;
  width: 50%;
  font-size: 16px;
  color: #434343;
  border: #cdb3e5 solid 1px;
}

.news-inner-wrap .inner-wrapper .change-page .page-btn:hover {
  background-color: #cdb3e5;
  color: #000;
}

.news-inner-wrap .inner-wrapper .change-page .page-btn p, .news-inner-wrap .inner-wrapper .change-page .page-btn span {
  padding-top: 5px;
}

.news-inner-wrap .inner-wrapper .change-page .pre {
  border-radius: 10px 0 0 10px;
}

.news-inner-wrap .inner-wrapper .change-page .post {
  border-radius: 0 10px 10px 0;
}
/*# sourceMappingURL=news.css.map */