@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid black;
}

.page-shop {
  background: #F8C3CD url(../img/shop/backgroundpic.png);
  font-family: "GenJyuuGothic-B";
}

.page-shop .shop-general {
  padding-top: 150px;
  margin: auto;
  width: 100%;
  height: 1000px;
}

.page-shop .general-store {
  width: 90%;
  margin: auto;
}

.page-shop .general-store .roof {
  width: 100%;
}

.page-shop .general-store .roof img {
  display: block;
  width: 100%;
}

.page-shop .general-store .roof .title {
  width: 40%;
  height: 40px;
  margin: auto;
  background-color: #6A3E26;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.page-shop .general-store .roof .title span {
  width: 90%;
  height: 35px;
  margin: auto;
  border-radius: 5px;
  border: 2px solid #efac40;
  display: block;
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.page-shop .general-store .select-bar {
  width: 100%;
  height: 30px;
  background-color: #FFF8E4;
  margin: auto;
  padding: 5px;
}

.page-shop .general-store .commodity {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-shop .general-store .commodity .shap-ice-type {
  width: 50%;
  border-radius: 60% / 120% 120% 0 0;
  height: 35px;
  margin: auto;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-shop .general-store .commodity .shap-ice-type img {
  width: 45%;
  display: block;
  margin: auto;
}

.page-shop .general-store .commodity .shap-love-stage {
  width: 100%;
  height: 40px;
  background-color: #EFAC40;
  border-top-left-radius: 25px;
  border-top-right-radius: 30px;
  font-size: 28px;
  text-align: center;
  line-height: 35px;
}

.page-shop .general-store .commodity .commodity-item-content {
  border: 5px solid black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.page-shop .general-store .commodity .commodity-item-content img {
  padding-top: 10px;
  display: block;
  margin: auto;
  width: 40%;
}

.page-shop .general-store .commodity .commodity-item-content span {
  display: block;
  padding: 5px;
}

.page-shop .general-store .commodity .commodity-item-content .btn-numbox {
  padding: 5px;
  font-size: 0px;
}

.page-shop .general-store .commodity .commodity-item-content .btn-numbox .qty {
  width: 35%;
  text-align: center;
}

.page-shop .general-store .commodity .commodity-item-content .btn-numbox .qtyminus {
  background-color: #6A3E26;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 18%;
  height: 20px;
  border: 0px;
  color: white;
}

.page-shop .general-store .commodity .commodity-item-content .btn-numbox .qtyplus {
  background-color: #6A3E26;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 18%;
  height: 20px;
  border: 0px;
  color: white;
}

.shop-btn-out {
  display: block;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  background-color: white;
  border: 1.5px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.shop-btn-out > span {
  display: block;
  width: 93px;
  height: 24px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 1.5px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.shop-btn-out > span:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.shop-btn-out > span:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.shop-btn-out .shop-btn-in {
  color: white;
  font-size: 100px;
  position: relative;
  z-index: 5;
  text-align: center;
  line-height: 200px;
}

.shop-btn-out .shop-btn-in:after {
  z-index: -1;
  content: "加入購物車";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 2px black;
}
/*# sourceMappingURL=newshop.css.map */