@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-shop {
  background: #F8C3CD url(../img/shop/backgroundpic.png);
  font-family: "GenJyuuGothic-B";
}

.page-shop .shop-general {
  padding-top: 150px;
  margin: auto;
  width: 100%;
}

.page-shop .general-store {
  width: 90%;
  margin: auto;
}

@media all and (min-width: 992px) {
  .page-shop .general-store {
    width: 1200px;
  }
}

.page-shop .general-store .roof {
  width: 100%;
}

.page-shop .general-store .roof img {
  display: block;
  width: 100%;
}

.page-shop .general-store .roof .title {
  width: 40%;
  height: 40px;
  margin: auto;
  background-color: #6A3E26;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media all and (min-width: 992px) {
  .page-shop .general-store .roof .title {
    width: 20%;
    height: 100px;
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
}

.page-shop .general-store .roof .title > span {
  width: 90%;
  height: 35px;
  margin: auto;
  border-radius: 5px;
  border: 2px solid #efac40;
  display: block;
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .roof .title > span {
    width: 93%;
    height: 85px;
    border: 5px solid #efac40;
    font-size: 36px;
    line-height: 70px;
  }
}

.page-shop .general-store .select-bar {
  width: 100%;
  height: 30px;
  background-color: #FFF8E4;
  margin: auto;
  padding: 5px;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .select-bar {
    height: 60px;
  }
}

@media all and (max-width: 768px) {
  .page-shop .general-store .select-bar > div > input {
    display: none;
  }
  .page-shop .general-store .select-bar > div > input ~ input {
    display: none;
  }
}

@media all and (min-width: 992px) {
  .page-shop .general-store .select-bar > div {
    padding-top: 10px;
  }
  .page-shop .general-store .select-bar > div:nth-child(4) {
    width: 100px;
    background-color: red;
  }
  .page-shop .general-store .select-bar > div:nth-child(4):before {
    display: inline-block;
    content: "";
    width: 2px;
    height: 10px;
    background-color: gray;
  }
  .page-shop .general-store .select-bar > select {
    display: none;
  }
  .page-shop .general-store .select-bar > select ~ select {
    display: none;
  }
  .page-shop .general-store .select-bar input {
    font-size: 16px;
    margin: 0px 5px;
    width: 70px;
    border: 0px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #6A3E26;
    cursor: pointer;
  }
}

.page-shop .general-store .commodity {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  background-color: whitesmoke;
}

.page-shop .general-store .commodity .commodity-item {
  padding-bottom: 15px;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .commodity .commodity-item {
    margin: 0px 5%;
    width: 18%;
    padding-bottom: 45px;
  }
}

.page-shop .general-store .commodity .commodity-item .shap-ice-type {
  width: 55%;
  border-radius: 60% / 120% 120% 0 0;
  height: 25px;
  margin: auto;
  background-color: #fad689;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .commodity .commodity-item .shap-ice-type {
    height: 30px;
  }
}

.page-shop .general-store .commodity .commodity-item .shap-ice-type img {
  width: 45%;
  display: block;
  margin: auto;
}

.page-shop .general-store .commodity .commodity-item .shap-love-stage {
  width: 100%;
  height: 25px;
  background-color: #fad689;
  border-top-left-radius: 25px;
  border-top-right-radius: 30px;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .commodity .commodity-item .shap-love-stage {
    height: 30px;
    line-height: 35px;
  }
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content {
  border: 8px solid #fad689;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-bottom: 5px;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .commodity .commodity-item .commodity-item-content > div {
    height: 150px;
  }
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content img {
  padding-top: 10px;
  display: block;
  margin: auto;
  width: 40%;
  height: 120px;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .commodity .commodity-item .commodity-item-content img {
    width: 30%;
  }
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content .item-text > span {
  display: block;
  padding: 5px;
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content .item-text > span ~ span {
  display: block;
  padding: 5px;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .commodity .commodity-item .commodity-item-content .shop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 24px;
  }
  .page-shop .general-store .commodity .commodity-item .commodity-item-content .shop-btn .btn-numbox {
    width: 40%;
  }
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content .shop-btn #myform {
  height: 24px;
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content .shop-btn .btn-numbox {
  padding: 5px;
  font-size: 0px;
  display: none;
}

@media all and (min-width: 992px) {
  .page-shop .general-store .commodity .commodity-item .commodity-item-content .shop-btn .btn-numbox {
    display: block;
    padding: 0px;
  }
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content .shop-btn .btn-numbox .qty {
  width: 50%;
  text-align: center;
  height: 24px;
  padding: 0px;
  border: 0px;
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content .shop-btn .btn-numbox .qtyminus {
  background-color: #6A3E26;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 25%;
  height: 24px;
  border: 0px;
  color: white;
  padding: 0px;
  cursor: pointer;
}

.page-shop .general-store .commodity .commodity-item .commodity-item-content .shop-btn .btn-numbox .qtyplus {
  padding: 0px;
  background-color: #6A3E26;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 25%;
  height: 24px;
  border: 0px;
  color: white;
  cursor: pointer;
}

.page-shop .general-store .commodity .red .shap-ice-type {
  background-color: #EA7187;
}

.page-shop .general-store .commodity .red .shap-love-stage {
  background-color: #EA7187;
}

.page-shop .general-store .commodity .red .commodity-item-content {
  border: 8px solid #EA7187;
}

.page-shop .general-store .commodity .blue .shap-ice-type {
  background-color: #9DC5F6;
}

.page-shop .general-store .commodity .blue .shap-love-stage {
  background-color: #9DC5F6;
}

.page-shop .general-store .commodity .blue .commodity-item-content {
  border: 8px solid #9DC5F6;
}

.page-shop .general-store .commodity .green .shap-ice-type {
  background-color: #6BDBDA;
}

.page-shop .general-store .commodity .green .shap-love-stage {
  background-color: #6BDBDA;
}

.page-shop .general-store .commodity .green .commodity-item-content {
  border: 8px solid #6BDBDA;
}

.shop-btn-out {
  display: block;
  width: 80px;
  height: 24px;
  border-radius: 40px;
  background-color: white;
  border: 1.2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.shop-btn-out > span {
  display: block;
  width: 74.4px;
  height: 19.2px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 1.2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.shop-btn-out > span:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.shop-btn-out > span:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.shop-btn-out .shop-btn-in {
  color: red;
  font-size: 10px;
  position: relative;
  z-index: 5;
  text-align: center;
  line-height: 20px;
}

.shop-btn-out .shop-btn-in:after {
  z-index: -1;
  content: "加入購物車";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 2px white;
}

.shop-btn-out span {
  line-height: 13px;
}
/*# sourceMappingURL=newshop.css.map */