@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.page-qa {
  font-family: "GenJyuuGothic-R";
  background-color: #ffe8e8;
}

.page-qa .asw-btn {
  display: block;
  width: 200px;
  padding: 2px;
  margin: 20px auto;
  background-color: #fff;
  border: 3px solid #6a3e26;
  border-radius: 100px;
  text-align: center;
}

.page-qa .asw-btn span {
  display: block;
  padding: 10px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  border-radius: 100px;
  color: #fff;
  font-size: 16px;
  -webkit-transition: .2s;
  transition: .2s;
}

.page-qa .asw-btn:hover span {
  background-color: #ffabb1;
}

.page-qa .asw-btn:active span {
  background-color: #db4d6d;
}

.page-qa .pop-box {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-qa .pop-box .result {
  background-image: url(../img/pop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70%;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-qa .pop-box .result .pop-close {
  position: absolute;
  top: -2%;
  right: 0;
}

.page-qa .pop-box .result .result-content {
  padding-top: 100px;
  text-align: center;
  color: #6a3e26;
}

.page-qa .pop-box .result .result-content .result-stage {
  font-size: 30px;
  color: #6a3e26;
}

.page-qa .pop-box .result-a, .page-qa .pop-box .result-b, .page-qa .pop-box .result-c, .page-qa .pop-box .result-d {
  display: none;
}

.page-qa .pop-box .result-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-qa .wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.page-qa .qa {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
}

.page-qa .qa .cloud {
  display: none;
}

.page-qa .qa .title-main {
  width: 90%;
  height: 150px;
  margin: auto;
  padding: 50px 0;
  background: url(../img/qa/title02.png) center center no-repeat;
  background-size: contain;
  text-align: center;
}

.page-qa .qa .title-main .title {
  color: #fff;
  font-size: 24px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.page-qa .qa .title-main .title:after {
  z-index: -1;
  content: "戀冰測驗";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.page-qa .qa .title-main .title {
  z-index: 1;
  line-height: 20px;
}

.page-qa .qa .title-main span {
  font-size: 12px;
  line-height: 24px;
}

.page-qa .qa .letter {
  overflow: hidden;
  position: relative;
}

.page-qa .qa .letter .envelope-bg {
  display: none;
}

.page-qa .qa .letter .topic {
  padding: 5px;
  margin: auto;
  background-color: #f8c3cd;
}

.page-qa .qa .letter .topic .q1, .page-qa .qa .letter .topic .q2, .page-qa .qa .letter .topic .q3, .page-qa .qa .letter .topic .q4, .page-qa .qa .letter .topic .q5, .page-qa .qa .letter .topic .q6, .page-qa .qa .letter .topic .q7, .page-qa .qa .letter .topic .q8, .page-qa .qa .letter .topic .q9, .page-qa .qa .letter .topic .q10 {
  display: none;
}

.page-qa .qa .letter .topic .show {
  display: block;
}

.page-qa .qa .letter .topic .title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-qa .qa .letter .topic .title-area .topic-fruit {
  display: block;
  width: 60px;
}

.page-qa .qa .letter .topic .title-area .quest {
  font-size: 16px;
  text-align: left;
  color: #cb1b45;
}

.page-qa .qa .letter .envelope-front {
  display: none;
}

.page-qa .stage {
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-qa .stage .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-qa .stage .popsicle {
  text-align: center;
}

.page-qa .stage .content {
  background-color: #fff8e4;
  padding: 20px;
  border-radius: 10px;
}

.page-qa .stage .content .mainhead {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 30px;
}

.page-qa .stage .content .stage-title {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-size: 40px;
  font-family: 'A-OTF-M';
  color: #434343;
  border-right: 5px solid #6bdbda;
}

.page-qa .stage .content .stage-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-qa .stage .content .stage-value .value-item {
  width: 100%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.page-qa .stage .content .stage-value .value-item .item-name {
  text-align: center;
}

.page-qa .stage .content .stage-value .value-bar {
  height: 20px;
  background-color: #f8c3cd;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.page-qa .stage .content .prod-name {
  padding: 10px;
  background-color: #fad689;
  margin-bottom: 20px;
  font-size: 24px;
  color: #6a3e26;
}

.page-qa .stage .content .subhead {
  width: 100px;
  padding: 10px;
  background-color: #f596aa;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.page-qa .stage .content .desc {
  text-align: justify;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
}

.page-qa .stage .content .element-group {
  margin-bottom: 50px;
  font-size: 0;
}

.page-qa .stage .content .element-group .element {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #6a3e26;
  font-size: 0;
  margin-right: 20px;
  position: relative;
}

.page-qa .stage .content .element-group .element:last-child {
  margin-right: 0;
}

.page-qa .stage .content .element-group .element:hover .fruit-desc {
  display: block;
}

.page-qa .stage .content .element-group .element .img-fruit {
  margin-bottom: 20px;
}

.page-qa .stage .content .element-group .element .img-fruit img {
  width: 100%;
}

.page-qa .stage .content .element-group .element .fruit-desc {
  display: none;
  padding: 10px;
  background-color: #0abbb5;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
}

.page-qa .stage .content .element-group .element .fruit-desc::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid #0abbb5;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);
}

.page-qa .stage .content .ice-btn-out {
  display: block;
  width: 150px;
  padding: 2px;
  height: 45px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px #715124;
          box-shadow: 0px 3px #715124;
}

.page-qa .stage .content .ice-btn-out:active {
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.page-qa .stage .content .ice-btn-out .btn-costum {
  display: block;
  color: whitesmoke;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  padding: 3px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 138px;
  height: 34.5px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  cursor: pointer;
}

.page-qa .stage .content .ice-btn-out .btn-costum:hover {
  background-color: #FAD689;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.page-qa .stage .content .ice-btn-out .btn-costum > img {
  display: block;
  position: absolute;
  top: -7px;
  left: -13px;
  width: 40.5px;
  height: 49.95px;
}

.page-qa .stage .content .ice-btn-out .btn-costum:after {
  z-index: -1;
  content: "去客製";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

.page-qa .stage .content .ice-btn-out {
  margin: auto;
}

.page-qa .stage .content .ice-btn-out .btn-costum {
  line-height: 24px;
}

.page-qa .stage.single {
  border-top: 10px solid #754c24;
  background: #f6c555 url(../img/qa/cover.png) top left;
}

.page-qa .stage.single .sour {
  width: 100%;
}

.page-qa .stage.single .sweet {
  width: 20%;
}

.page-qa .stage.single .bitter {
  width: 40%;
}

.page-qa .stage.firstlove {
  background: #6bdbda url(../img/qa/cover.png) top left;
}

.page-qa .stage.firstlove .sour {
  width: 30%;
}

.page-qa .stage.firstlove .sweet {
  width: 60%;
}

.page-qa .stage.firstlove .bitter {
  width: 20%;
}

.page-qa .stage.infatuation {
  background: #f8c3cd url(../img/qa/cover.png) top left;
}

.page-qa .stage.infatuation .sour {
  width: 20%;
}

.page-qa .stage.infatuation .sweet {
  width: 100%;
}

.page-qa .stage.infatuation .bitter {
  width: 10%;
}

.page-qa .stage.break {
  background: #9dc5f6 url(../img/qa/cover.png) top left;
}

.page-qa .stage.break .sour {
  width: 30%;
}

.page-qa .stage.break .sweet {
  width: 10%;
}

.page-qa .stage.break .bitter {
  width: 100%;
}

@media all and (max-width: 768px) {
  .page-qa .stage .popsicle img {
    width: 100%;
  }
}

@media all and (min-width: 769px) {
  .page-qa .asw-btn span {
    font-size: 18px;
  }
  .page-qa .pop-box .result {
    height: 50%;
  }
  .page-qa .pop-box .result .pop-close {
    position: absolute;
    top: -10%;
    right: 10%;
  }
  .page-qa .qa {
    padding-top: 200px;
  }
  .page-qa .qa .cloud {
    display: block;
    position: absolute;
  }
  .page-qa .qa .cloud:nth-child(0n + 1) {
    width: 10%;
    top: 40%;
    -webkit-animation: clouda 50s linear 0s infinite alternate;
            animation: clouda 50s linear 0s infinite alternate;
  }
  .page-qa .qa .cloud:nth-child(0n + 2) {
    width: 8%;
    top: 70%;
    left: 20%;
    -webkit-animation: clouda 60s linear 0s infinite alternate;
            animation: clouda 60s linear 0s infinite alternate;
  }
  .page-qa .qa .cloud:nth-child(0n + 3) {
    width: 5%;
    right: 10%;
    top: 20%;
    -webkit-animation: cloudb 60s linear 0s infinite alternate;
            animation: cloudb 60s linear 0s infinite alternate;
  }
  .page-qa .qa .cloud:nth-child(0n + 4) {
    right: 10%;
    top: 50%;
    -webkit-animation: cloudb 60s linear 0s infinite alternate;
            animation: cloudb 60s linear 0s infinite alternate;
  }
  .page-qa .qa .cloud:nth-child(0n + 5) {
    width: 7%;
    right: 20%;
    top: 80%;
    -webkit-animation: cloudb 60s linear 0s infinite alternate;
            animation: cloudb 60s linear 0s infinite alternate;
  }
  @-webkit-keyframes clouda {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(500%);
              transform: translateX(500%);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(1000%);
              transform: translateX(1000%);
      opacity: 1;
    }
  }
  @keyframes clouda {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(500%);
              transform: translateX(500%);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(1000%);
              transform: translateX(1000%);
      opacity: 1;
    }
  }
  @-webkit-keyframes cloudb {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(-500%);
              transform: translateX(-500%);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(-1000%);
              transform: translateX(-1000%);
      opacity: 1;
    }
  }
  @keyframes cloudb {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(-500%);
              transform: translateX(-500%);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(-1000%);
              transform: translateX(-1000%);
      opacity: 1;
    }
  }
  .page-qa .qa .title-main {
    width: 520px;
    height: 150px;
    padding: 30px 0;
  }
  .page-qa .qa .title-main .title {
    color: #fff;
    font-size: 40px;
    position: relative;
    z-index: 0;
    text-align: center;
  }
  .page-qa .qa .title-main .title:after {
    z-index: -1;
    content: "戀冰測驗";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-text-stroke: 8px #6a3e26;
  }
  .page-qa .qa .title-main .title {
    z-index: 1;
    line-height: 40px;
  }
  .page-qa .qa .title-main span {
    font-size: 18px;
    line-height: 32px;
  }
  .page-qa .qa .letter .envelope-bg {
    display: block;
    background-image: url(../img/qa/envelopebg.png);
    width: 90%;
    height: 680px;
    background-size: cover;
    margin: auto;
  }
  .page-qa .qa .letter .topic {
    height: 500px;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 50px;
    pointer-events: auto;
    text-align: center;
  }
  .page-qa .qa .letter .topic .title-area .quest {
    font-size: 28px;
    text-align: center;
  }
  .page-qa .qa .letter .envelope-front {
    display: block;
    width: 90%;
    height: 255px;
    margin: -300px auto 0;
    position: relative;
    pointer-events: none;
  }
  .page-qa .qa .letter .envelope-front img {
    width: 100%;
  }
  .page-qa .stage {
    height: 885px;
  }
  .page-qa .stage .content {
    padding: 50px;
  }
  .page-qa .stage .content .ice-btn-out {
    margin: 0;
    margin-left: auto;
  }
  .page-qa .stage .content .element-group {
    margin-bottom: 30px;
  }
  .page-qa .stage .content .element-group .element {
    width: 80px;
    height: 80px;
  }
}
/*# sourceMappingURL=qa.css.map */