@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
}

.page-shop-inside {
  background: #F8C3CD url(../img/shop/backgroundpic.png);
  font-family: "GenJyuuGothic-B";
}

.page-shop-inside .item-detailed {
  padding-top: 120px;
  padding-bottom: 50px;
}

.page-shop-inside .detailed-pic {
  border: 5px solid #F6C555;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
}

.page-shop-inside .detailed-ice {
  display: block;
  margin: auto;
  width: 90%;
  padding: 10px;
}

.page-shop-inside .collection {
  width: 100%;
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.page-shop-inside .detailed-content {
  padding: 0px 1%;
}

.page-shop-inside .detailed-content-box {
  background-color: #F6C555;
  width: 85%;
  padding: 10px;
  margin: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.page-shop-inside .detailed-text {
  line-height: 25px;
}

.page-shop-inside .detailed-pri {
  font-size: 20px;
}

.page-shop-inside .detaild-shop-buy {
  display: block;
  width: 250px;
  padding: 2px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.page-shop-inside .detaild-shop-buy .detaild-shop-btn {
  display: block;
  color: whitesmoke;
  font-size: 20px;
  position: relative;
  padding: 1px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 250px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.page-shop-inside .detaild-shop-buy .detaild-shop-btn:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.page-shop-inside .detaild-shop-buy .detaild-shop-btn:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.page-shop-inside .detaild-shop-buy .detaild-shop-btn:after {
  z-index: -1;
  content: "加入購物車";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

.page-shop-inside .detaild-shop-buy {
  margin: auto;
}

.page-shop-inside .btn-numbox {
  width: 100px;
  font-size: 0px;
}

.page-shop-inside .btn-numbox .qty {
  width: 30%;
  text-align: center;
  height: 28px;
  padding: 0px;
  border: 0px;
}

@media all and (max-width: 768px) {
  .page-shop-inside .btn-numbox .qty {
    width: 50%;
  }
}

.page-shop-inside .btn-numbox .qtyminus {
  background-color: #6A3E26;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 20%;
  height: 28px;
  border: 0px;
  color: white;
  padding: 0px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .page-shop-inside .btn-numbox .qtyminus {
    width: 25%;
  }
}

.page-shop-inside .btn-numbox .qtyplus {
  padding: 0px;
  background-color: #6A3E26;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 20%;
  height: 28px;
  border: 0px;
  color: white;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .page-shop-inside .btn-numbox .qtyplus {
    width: 25%;
  }
}

.page-shop-inside .message-input-box {
  background-color: #F596AA;
  border-radius: 20px;
  padding: 10px 20px;
}

.page-shop-inside .message-title {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.page-shop-inside .other-review-message-box {
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 10px;
}

.page-shop-inside .other-review-wrap {
  border-bottom: 2px solid gray;
  padding: 10px 20px 10px 20px;
}

.page-shop-inside .message-input {
  height: 160px;
  background-color: white;
  border-radius: 10px;
}

.page-shop-inside .form-control {
  width: 100%;
  border-radius: 10px;
  resize: none;
  display: block;
}

.page-shop-inside .sentout-btn {
  margin-left: auto;
  border-radius: 10px;
}

.page-shop-inside .sentout-btn-box {
  padding-top: 10px;
}

.page-shop-inside .sentout-btn {
  display: block;
  width: 100px;
  padding: 2px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.page-shop-inside .sentout-btn .sentout-btn-in {
  display: block;
  color: whitesmoke;
  font-size: 12px;
  position: relative;
  padding: 1px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 100px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.page-shop-inside .sentout-btn .sentout-btn-in:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.page-shop-inside .sentout-btn .sentout-btn-in:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.page-shop-inside .sentout-btn .sentout-btn-in:after {
  z-index: -1;
  content: "送出";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

.page-shop-inside .total-review-number {
  padding: 5px 0px 2px 0px;
}

.page-shop-inside .total-review-people {
  padding-top: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.page-shop-inside .detailed-star, .page-shop-inside .detailed-text, .page-shop-inside .pri-btn {
  padding: 10px 0px 0px 0px;
}

.page-shop-inside .number-name {
  font-size: 18px;
  padding: 5px 0px 8px 10px;
}

.page-shop-inside .number-pic {
  background-color: whitesmoke;
}

.page-shop-inside .number-pic img {
  width: 100%;
}

.page-shop-inside .number-star {
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.page-shop-inside .report-sentout-btn {
  margin-left: auto;
}

.page-shop-inside .detailed-pic {
  background-color: whitesmoke;
}

.page-shop-inside .detaild-img-box {
  width: 236px;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
}

.page-shop-inside .detaild-button {
  padding-top: 15px;
}

.page-shop-inside .report-btn {
  border-bottom: 2px gray;
  text-align: right;
}

.page-shop-inside .report {
  margin-left: auto;
  width: 50px;
  height: 25px;
  background-color: #EA7187;
  border: 0px;
  border-radius: 10px;
}

.page-shop-inside .date {
  font-size: 12px;
  margin-left: auto;
}

.page-shop-inside .review-text {
  padding-top: 0px;
}

@media all and (min-width: 992px) {
  .page-shop-inside .item-detailed {
    padding-top: 200px;
    padding-bottom: 50px;
    border-radius: 20px;
  }
  .page-shop-inside .detaild-img-box {
    width: 236px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
  }
  .page-shop-inside .detailed-pic {
    border: 0px solid #F6C555;
    background-color: #F6C555;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    margin: 0px;
    padding: 30px;
    padding: 30px 30px 30px 40px;
  }
  .page-shop-inside .detailed-content {
    padding: 0px;
    background-color: #6A3E26;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .page-shop-inside .detailed-ice {
    display: block;
    margin: auto;
    width: 100%;
  }
  .page-shop-inside .pri-btn {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-shop-inside .detailed-content {
    padding: 0px;
  }
  .page-shop-inside .other-review-wrap {
    border-bottom: 2px solid gray;
    padding: 20px 20px 10px 20px;
  }
  .page-shop-inside .detailed-content-box {
    background-color: #F6C555;
    width: 100%;
    padding: 30px 40px 30px 30px;
    height: 100%;
    margin-right: auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
  }
  .page-shop-inside .detaild-button {
    padding-top: 25px;
  }
  .page-shop-inside .detailed-star, .page-shop-inside .detailed-text, .page-shop-inside .pri-btn {
    padding: 10px 0px 0px 0px;
  }
  .page-shop-inside .detaild-shop-buy {
    display: block;
    width: 250px;
    padding: 2px;
    border-radius: 40px;
    background-color: white;
    border: 2px solid #715124;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .page-shop-inside .detaild-shop-buy .detaild-shop-btn {
    display: block;
    color: whitesmoke;
    font-size: 24px;
    position: relative;
    padding: 1px;
    z-index: 1;
    text-align: center;
    display: block;
    width: 250px;
    border-radius: 20px;
    background-color: #fc7389;
    border: 2px solid #e4575f;
    text-align: center;
    margin: auto;
    cursor: pointer;
  }
  .page-shop-inside .detaild-shop-buy .detaild-shop-btn:hover {
    background-color: #ffabb1;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .page-shop-inside .detaild-shop-buy .detaild-shop-btn:active {
    background-color: #db4d6d;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .page-shop-inside .detaild-shop-buy .detaild-shop-btn:after {
    z-index: -1;
    content: "加入購物車";
    position: absolute;
    left: 0px;
    right: 0px;
    -webkit-text-stroke: 2px black;
  }
  .page-shop-inside .detailed-name {
    font-size: 28px;
    padding-bottom: 12px;
  }
  .page-shop-inside .detailed-text {
    line-height: 25px;
  }
  .page-shop-inside .detailed-pri {
    font-size: 25px;
  }
  .page-shop-inside .collection {
    width: 100%;
    display: block;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 30px;
    height: 30px;
  }
  .page-shop-inside .message-input-box {
    padding: 10px 40px;
  }
  .page-shop-inside .btn-numbox {
    width: 120px;
    font-size: 0px;
  }
  .page-shop-inside .btn-numbox .qty {
    width: 50%;
    text-align: center;
    height: 28px;
    padding: 0px;
    border: 0px;
  }
}

@media all and (min-width: 992px) and (max-width: 768px) {
  .page-shop-inside .btn-numbox .qty {
    width: 50%;
  }
}

@media all and (min-width: 992px) {
  .page-shop-inside .btn-numbox .qtyminus {
    background-color: #6A3E26;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 25%;
    height: 28px;
    border: 0px;
    color: white;
    padding: 0px;
    cursor: pointer;
  }
}

@media all and (min-width: 992px) and (max-width: 768px) {
  .page-shop-inside .btn-numbox .qtyminus {
    width: 25%;
  }
}

@media all and (min-width: 992px) {
  .page-shop-inside .btn-numbox .qtyplus {
    padding: 0px;
    background-color: #6A3E26;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 25%;
    height: 28px;
    border: 0px;
    color: white;
    cursor: pointer;
  }
}

@media all and (min-width: 992px) and (max-width: 768px) {
  .page-shop-inside .btn-numbox .qtyplus {
    width: 25%;
  }
}

@media all and (min-width: 992px) {
  .page-shop-inside .number-pic {
    width: 6.66667%;
  }
  .page-shop-inside .number-name {
    padding-bottom: 12px;
  }
  .page-shop-inside .date {
    text-align: right;
  }
}
/*# sourceMappingURL=shop-inside.css.map */