@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.roof {
  margin: auto;
}

.roof img {
  width: 100%;
}

.roof .title {
  width: 40%;
  height: 50px;
  margin: auto;
  background-color: #6A3E26;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

@media all and (min-width: 992px) {
  .roof .title {
    width: 20%;
    height: 100px;
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
}

.roof .title > span {
  width: 93%;
  height: 90%;
  margin: auto;
  border-radius: 5px;
  border: 2px solid #efac40;
  display: block;
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

@media all and (min-width: 992px) {
  .roof .title > span {
    width: 93%;
    height: 85px;
    border: 5px solid #efac40;
    font-size: 36px;
    line-height: 70px;
  }
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

body {
  background: #F8C3CD url(../img/shop/backgroundpic.png);
  font-family: "GenJyuuGothic-B";
}

.product-img {
  width: 50%;
  margin: auto;
  display: block;
}

@media all and (min-width: 992px) {
  .product-img {
    width: 40%;
  }
}

.latest-collection-love {
  width: 26px !important;
  height: 23px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media all and (min-width: 992px) {
  .latest-collection-love {
    width: 17% !important;
    height: 10%;
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
}

.latest-news {
  width: 100%;
  padding-top: 150px;
}

.latest-news .title-main {
  width: 90%;
  height: 150px;
  margin: auto;
  padding: 50px 0;
  background: url(../img/qa/title02.png) center center no-repeat;
  background-size: contain;
  text-align: center;
}

.latest-news .title-main .title {
  color: #fff;
  font-size: 24px;
  position: relative;
  z-index: 0;
  text-align: center;
}

.latest-news .title-main .title:after {
  z-index: -1;
  content: "最新商品";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-text-stroke: 5px #6a3e26;
}

.latest-news .title-main .title {
  z-index: 1;
  line-height: 28px;
}

.latest-news .latest-item {
  margin: auto;
  background-color: #FFF8E4;
  border: 5px solid #FFB11B;
  position: relative;
  padding: 5%;
  border-radius: 20px;
}

.latest-news .latest-pic {
  margin: auto;
  width: 60px;
}

.latest-news .latest-name, .latest-news .latest-pri {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.latest-news .owl-theme .owl-dots {
  padding-top: 10px;
}

.latest-news .owl-carousel .owl-nav button.owl-next span, .latest-news .owl-carousel .owl-nav button.owl-prev span {
  display: none;
}

.latest-news .owl-theme .owl-nav {
  display: none;
}

.latest-news .owl-theme .owl-nav {
  padding-top: 10%;
}

@media all and (min-width: 992px) {
  .latest-news .latest-item {
    width: 80%;
  }
  .latest-news .owl-carousel .owl-stage-outer {
    width: 950px;
    margin: auto;
    padding-top: 20px;
  }
  .latest-news .latest-pic {
    margin: auto;
    width: 60px;
  }
}

.general .single .ice-type {
  background-color: #fad689;
}

.general .single .general-item-content {
  border: 8px solid #FAD689;
  border-top: 0px;
}

@media all and (min-width: 992px) {
  .general .single .general-item-content {
    border: 10px solid #FAD689;
    border-top: 0px;
  }
}

.general .first-love .ice-type {
  background-color: #6BDBDA;
}

.general .first-love .general-item-content {
  border: 8px solid #6BDBDA;
  border-top: 0px;
}

@media all and (min-width: 992px) {
  .general .first-love .general-item-content {
    border: 10px solid #6BDBDA;
    border-top: 0px;
  }
}

.general .fall-in-love .ice-type {
  background-color: #EA7187;
}

.general .fall-in-love .general-item-content {
  border: 8px solid #EA7187;
  border-top: 0px;
}

@media all and (min-width: 992px) {
  .general .fall-in-love .general-item-content {
    border: 10px solid #EA7187;
    border-top: 0px;
  }
}

.general .break-up .ice-type {
  background-color: #9DC5F6;
}

.general .break-up .general-item-content {
  border: 8px solid #9DC5F6;
  border-top: 0px;
}

@media all and (min-width: 992px) {
  .general .break-up .general-item-content {
    border: 10px solid #9DC5F6;
    border-top: 0px;
  }
}

.general .general-type-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 30px;
  background-color: #FFF8E4;
}

.general .general-store {
  margin: auto;
  background-color: whitesmoke;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.general .general-item {
  padding: 20px 0px;
}

.general .select {
  padding-left: 10px;
}

.general .filter-item {
  display: none;
  cursor: pointer;
}

.general .ice-type {
  border-radius: 50% / 100% 100% 0 0;
  height: 45px;
  margin: auto;
  background-color: #fad689;
  position: relative;
}

.general .ice-type img {
  position: absolute;
  width: 24%;
  display: block;
  margin: auto;
  top: 4px;
  left: 0px;
  right: 0px;
}

.general .ice-type p {
  text-align: center;
  line-height: 70px;
  font-size: 16px;
  color: whitesmoke;
}

.general .general-item-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  margin: auto;
  border: 10px solid #FAD689;
  position: relative;
}

.general .item-img {
  padding: 10px;
}

.general .item-text span {
  text-align: center;
  display: block;
  padding: 5px 0px;
  font-size: 18px;
}

.general .item-pri {
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
}

.general .btn-numbox {
  display: none;
}

.general .shop-btn {
  padding-bottom: 5px;
}

.general .shop-btn .shop-buy-btn {
  margin: auto;
}

.general .shop-buy-btn {
  display: block;
  width: 120px;
  padding: 2px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.general .shop-buy-btn .shop-btn-in {
  display: block;
  color: whitesmoke;
  font-size: 20px;
  position: relative;
  padding: 1px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 120px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.general .shop-buy-btn .shop-btn-in:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.general .shop-buy-btn .shop-btn-in:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.general .shop-buy-btn .shop-btn-in:after {
  z-index: -1;
  content: "加入購物車";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

@media all and (min-width: 992px) {
  .general .general-store {
    margin: auto;
    padding: 20px;
  }
  .general .general-item-content {
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto;
    border: 10px;
    border-top: 0px;
    position: relative;
  }
  .general .ice-type {
    height: 66px;
  }
  .general .ice-type img {
    position: absolute;
    width: 27%;
    display: block;
    margin: auto;
    top: 4px;
    left: 0px;
    right: 0px;
  }
  .general .ice-type p {
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    color: whitesmoke;
  }
  .general .item-img {
    padding: 10px;
  }
  .general .item-text {
    padding: 10px 0px 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .general .item-text span {
    display: block;
    padding: 5px 0px;
    font-size: 18px;
  }
  .general .item-pri {
    font-size: 20px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 5px 10px 5px;
  }
  .general .item-pri span {
    display: block;
  }
  .general .item-pri .btn-numbox {
    font-size: 0px;
    display: block;
    display: block;
    padding: 0px;
    width: 83%;
    margin: auto;
  }
  .general .item-pri .btn-numbox form {
    text-align: right;
  }
  .general .item-pri .btn-numbox .qty {
    width: 40%;
    text-align: center;
    height: 30px;
    padding: 0px;
    border: 0px;
  }
  .general .item-pri .btn-numbox .qtyminus {
    background-color: #6A3E26;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 25%;
    height: 30px;
    border: 0px;
    color: white;
    padding: 0px;
    cursor: pointer;
  }
  .general .item-pri .btn-numbox .qtyplus {
    padding: 0px;
    background-color: #6A3E26;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 25%;
    height: 30px;
    border: 0px;
    color: white;
    cursor: pointer;
  }
  .general .shop-btn {
    padding-bottom: 5px;
  }
  .general .shop-btn .shop-buy-btn {
    margin: auto;
  }
  .general .shop-buy-btn {
    display: block;
    width: 150px;
    padding: 2px;
    border-radius: 40px;
    background-color: white;
    border: 2px solid #715124;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .general .shop-buy-btn .shop-btn-in {
    display: block;
    color: whitesmoke;
    font-size: 20px;
    position: relative;
    padding: 1px;
    z-index: 1;
    text-align: center;
    display: block;
    width: 150px;
    border-radius: 20px;
    background-color: #fc7389;
    border: 2px solid #e4575f;
    text-align: center;
    margin: auto;
    cursor: pointer;
  }
  .general .shop-buy-btn .shop-btn-in:hover {
    background-color: #ffabb1;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .general .shop-buy-btn .shop-btn-in:active {
    background-color: #db4d6d;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .general .shop-buy-btn .shop-btn-in:after {
    z-index: -1;
    content: "加入購物車";
    position: absolute;
    left: 0px;
    right: 0px;
    -webkit-text-stroke: 2px black;
  }
  .general .general-type-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
  }
  .general .general-type-btn div:nth-child(5) {
    border-right: black;
  }
  .general .filter-item {
    margin: 0px 10px;
    display: block;
  }
  .general .filter-item button {
    cursor: pointer;
    background-color: #a3a3a3;
    border: none;
    padding: 0 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 0px #555;
            box-shadow: 0px 3px 0px #555;
    color: #fff;
    font: 18px "A-OTF-M";
  }
  .general .filter-item:hover button {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-box-shadow: 0px 1px 0px #555;
            box-shadow: 0px 1px 0px #555;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .general .select {
    display: none;
  }
}

.custom .custom-store {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  background-color: whitesmoke;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.custom .custom-item {
  padding: 20px 0px;
}

.custom .ice-type {
  border-radius: 50% / 100% 100% 0 0;
  height: 45px;
  margin: auto;
  background-color: #fad689;
  position: relative;
}

.custom .ice-type .fas {
  position: absolute;
  width: 24%;
  display: block;
  margin: auto;
  top: 6px;
  left: 0px;
  right: 0px;
  color: white;
}

.custom .ice-type span {
  display: inline-block;
  position: absolute;
  left: 49%;
  top: 7px;
  color: white;
}

.custom .ice-type p {
  text-align: center;
  line-height: 72px;
  bottom: 1px;
  font-size: 16px;
  color: whitesmoke;
}

.custom .custom-item-content {
  padding: 5px;
  margin: auto;
  border: 5px solid #FAD689;
  position: relative;
}

.custom .item-img {
  padding: 10px;
}

.custom figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom figure div {
  border-radius: 50%;
  border: 2px solid #6a3e26;
  background-color: white;
  margin: 0px 3px;
}

.custom figure img {
  width: 100%;
}

.custom .item-text span {
  display: block;
  padding: 5px 0px;
  font-size: 18px;
}

.custom .item-text .review {
  padding-bottom: 5px;
  font-size: 12px;
}

.custom .item-text .review span {
  display: inline-block;
  font-size: 12px;
}

.custom .item-pri {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.custom .btn-numbox {
  display: none;
}

.custom .shop-btn {
  padding-bottom: 5px;
}

.custom .shop-btn .shop-buy-btn {
  margin: auto;
}

.custom .shop-buy-btn {
  display: block;
  width: 120px;
  padding: 2px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.custom .shop-buy-btn .shop-btn-in {
  display: block;
  color: whitesmoke;
  font-size: 20px;
  position: relative;
  padding: 1px;
  z-index: 1;
  text-align: center;
  display: block;
  width: 120px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.custom .shop-buy-btn .shop-btn-in:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.custom .shop-buy-btn .shop-btn-in:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.custom .shop-buy-btn .shop-btn-in:after {
  z-index: -1;
  content: "加入購物車";
  position: absolute;
  left: 0px;
  right: 0px;
  -webkit-text-stroke: 2px black;
}

@media all and (min-width: 992px) {
  .custom .custom-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (min-width: 992px) {
  .custom .custom-item-content {
    padding: 5px;
    margin: auto;
    border: 10px solid #FAD689;
    position: relative;
  }
  .custom .custom-item {
    width: 23%;
  }
  .custom figure {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .custom figure div {
    width: 25%;
    height: 25%;
  }
  .custom .ice-type {
    height: 50px;
    font-size: 18px;
  }
  .custom .ice-type .fas {
    top: 6px;
    left: 11px;
    right: 0px;
  }
  .custom .ice-type p {
    font-size: 18px;
    line-height: 80px;
  }
  .custom .custom-item-pri {
    padding: 10px 22px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .custom .btn-numbox {
    display: block;
    font-size: 0px;
    display: block;
    display: block;
    padding: 0px;
    width: 50%;
  }
  .custom .btn-numbox form {
    text-align: right;
  }
  .custom .btn-numbox .qty {
    width: 40%;
    text-align: center;
    height: 28px;
    padding: 0px;
    border: 0px;
  }
  .custom .btn-numbox .qtyminus {
    background-color: #6A3E26;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 25%;
    height: 28px;
    border: 0px;
    color: white;
    padding: 0px;
    cursor: pointer;
  }
  .custom .btn-numbox .qtyplus {
    padding: 0px;
    background-color: #6A3E26;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 25%;
    height: 28px;
    border: 0px;
    color: white;
    cursor: pointer;
  }
}
/*# sourceMappingURL=shop.css.map */