@charset "UTF-8";
@font-face {
  font-family: "A-OTF-H";
  src: url(../font/A-OTF/A-OTF-MaruFoPro-Heavy.otf);
}

@font-face {
  font-family: "A-OTF-M";
  src: url(../font/A-OTF/A-OTF-MaruFoPro-Medium.otf);
}

/*思源圓黑體*/
@font-face {
  font-family: "GenJyuuGothic-B";
  src: url(../font/genJyuuGothic/GenJyuuGothic-Bold.ttf);
}

@font-face {
  font-family: "GenJyuuGothic-R";
  src: url(../font/genJyuuGothic/GenJyuuGothicX-P-Regular.ttf);
}

.shop-item {
  width: 300px;
  height: 400px;
}

.item-type {
  width: 50%;
  border-radius: 60% / 120% 120% 0 0;
  height: 35px;
  margin: auto;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-type img {
  width: 45%;
  display: block;
  margin: auto;
}

.item-love-stage {
  width: 100%;
  height: 40px;
  background-color: #EFAC40;
  border-top-left-radius: 25px;
  border-top-right-radius: 30px;
  font-family: "A-OTF-M";
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
}

.item-content {
  width: 284px;
  height: 309px;
  border: 8px solid #EFAC40;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.ice-pic {
  width: 100%;
  height: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ice-pic img {
  display: block;
  width: 20%;
  height: 80%;
  padding-top: 15px;
}

.ice-pic i {
  padding-top: 12px;
}

.ice-text {
  width: 284px;
  height: 50%;
}

.item-content-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-content-name p {
  width: 50%;
  padding: 10px 5px;
  font-family: "GenJyuuGothic-B";
  font-size: 18px;
}

.shop-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-shop {
  background: #F8C3CD url(../img/shop/backgroundpic.png);
}

.page-shop .page-shop-outer {
  padding-top: 150px;
  margin: auto;
  width: 100%;
  height: 1000px;
}

.page-shop .page-shop-outer .news {
  width: 100%;
  height: 500px;
}

@media all and (min-width: 997px) {
  .page-shop .page-shop-outer .news {
    width: 1200px;
    margin: auto;
  }
}

.page-shop .page-shop-outer .news .roof-img {
  margin: auto;
  width: 90%;
}

.page-shop .page-shop-outer .news .roof-img img {
  display: inline-block;
  width: 100%;
}

.page-shop .page-shop-outer .news .roof-img .news-title {
  margin: auto;
  width: 40%;
  height: 50px;
  border-radius: 20px;
  background-color: #6A3E26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media all and (min-width: 997px) {
  .page-shop .page-shop-outer .news .roof-img .news-title {
    width: 20%;
    height: 120px;
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
}

.page-shop .page-shop-outer .news .roof-img .new-title-decoration {
  margin: auto;
  width: 90%;
  height: 40px;
  border: 2px solid #EFAC40;
  border-radius: 15px;
}

@media all and (min-width: 997px) {
  .page-shop .page-shop-outer .news .roof-img .new-title-decoration {
    width: 90%;
    height: 100px;
  }
}

.page-shop .page-shop-outer .news .shop-content {
  width: 100%;
}

.page-shop .page-shop-outer .news .shop-content .select-bar {
  width: 90%;
  height: 30px;
  background-color: #FFF8E4;
  margin: auto;
}

.page-shop .page-shop-outer .news .shop-content .ice {
  background-color: #7A4741;
}

.page-shop .page-shop-outer .news .shop-content .shop-content-commodity {
  width: 90%;
  height: 400px;
  background-color: white;
  margin: auto;
}

.shop-btn .shop-btn-out {
  width: 115px;
  height: 30px;
  border-radius: 25px;
  background-color: white;
  border: 2px solid #715124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.shop-btn .shop-btn-out .shop-btn-in {
  width: 108px;
  height: 24px;
  border-radius: 20px;
  background-color: #fc7389;
  border: 2px solid #e4575f;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.shop-btn .shop-btn-out .shop-btn-in:hover {
  background-color: #ffabb1;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.shop-btn .shop-btn-out .shop-btn-in:active {
  background-color: #db4d6d;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.shop-btn .shop-btn-out .shop-btn-in .shop-btn-text {
  display: inline-block;
  line-height: 20px;
}

.shop-btn-text {
  color: white;
  font-size: 16px;
  position: relative;
  text-align: center;
}

.shop-btn-text:after {
  z-index: -1;
  content: "加入購物車";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
/*# sourceMappingURL=shop.css.map */