* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../img/background.png);
  background-color: #fff;
  background-position: center;
  background-repeat: repeat;
}

.letter-title {
  padding: 150px 0 0;
  text-align: center;
}

.letter-title .title-img {
  text-align: center;
  position: relative;
}

.letter-title .title-img img {
  width: 100%;
  max-width: 583px;
}

.letter-title .title-img h1 {
  font: 30px "GenJyuuGothic-R";
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -85%);
          transform: translate(-50%, -85%);
}

@media all and (max-width: 768px) {
  .letter-title .title-img h1 {
    font: 18px "GenJyuuGothic-R";
  }
}

.letter {
  padding: 0 0 100px;
}

.letter .letter-area {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.letter .letter-content {
  width: 45%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 10px #aaa;
          box-shadow: 3px 3px 10px #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 768px) {
  .letter .letter-content {
    width: 90%;
    margin: auto;
  }
}

.letter .letter-content .letter-header {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.letter .letter-content .letter-header .user-head {
  width: 15%;
  padding-bottom: 15%;
  position: relative;
}

.letter .letter-content .letter-header .user-head img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.letter .letter-content .letter-header .fa-user-circle {
  font-size: 30px;
}

.letter .letter-content .letter-header p {
  width: 80%;
  margin-left: auto;
  font-size: 20px;
  font-family: "GenJyuuGothic-R";
}

.letter .letter-content .letter-body {
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

.letter .letter-content .letter-body label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.letter .letter-content .letter-body label:hover {
  opacity: .8;
}

.letter .letter-content .letter-body label .letter-load {
  text-align: center;
  margin: 0 0 20px;
}

.letter .letter-content .letter-body label .letter-load p {
  font: 24px "GenJyuuGothic-R";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px;
  color: #fff;
  border-radius: 20px;
  background-color: #fc7389;
}

.letter .letter-content .letter-body label .letter-phone {
  display: none;
}

@media all and (max-width: 768px) {
  .letter .letter-content .letter-body label .letter-phone {
    display: block;
  }
}

.letter .letter-content .letter-body label .letter-phone figure {
  text-align: center;
}

.letter .letter-content .letter-body label .letter-phone figure img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.letter .letter-content .letter-body .plus-img {
  width: 100%;
  padding: 40% 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.letter .letter-content .letter-body .plus-img i {
  font-size: 60px;
}

.letter .letter-content .letter-body input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.letter .letter-content .letter-footer {
  padding: 20px 0;
  width: 80%;
  font-family: "GenJyuuGothic-R";
  -webkit-transition: margin .5s;
  transition: margin .5s;
  margin: 30px 0;
}

.letter .letter-content .letter-footer p {
  font-size: 24px;
  line-height: 2;
}

.letter .letter-content .letter-footer .write-title input, .letter .letter-content .letter-footer .write-content input {
  width: 100%;
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  border-radius: 20px;
  border: 3px solid #6a3e26;
  -webkit-transition: padding .5s;
  transition: padding .5s;
}

.letter .letter-content .letter-footer .write-title p span, .letter .letter-content .letter-footer .write-content p span {
  font-size: 16px;
  color: #949494;
}

.letter .letter-content .letter-footer .write-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.letter .letter-content .letter-footer .write-buttons label {
  display: block;
  cursor: pointer;
}

.letter .letter-content .letter-footer .write-buttons label input {
  cursor: pointer;
  font: 24px "GenJyuuGothic-R";
  border-radius: 10px;
  padding: 0 25px;
  border: none;
  -webkit-box-shadow: 0 3px 0 #949494;
          box-shadow: 0 3px 0 #949494;
  background-color: #a3a3a3;
  color: #fff;
}

.letter .letter-content .letter-footer .write-buttons label:hover input {
  background-color: #b7b7b7;
}

.letter .letter-content .letter-footer .write-buttons label:active input {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 1px 0 #949494;
          box-shadow: 0 1px 0 #949494;
  -webkit-transition: .2s;
  transition: .2s;
}

.break-up {
  border: 12px solid #9dc5f6;
}

.break-up .fa-cloud {
  color: #79a6cc;
}

.break-up .s-text {
  color: #79a6cc;
}

.true-love {
  border: 12px solid #6bdbda;
}

.true-love .fa-cloud {
  color: #0abbb5;
}

.true-love .s-text {
  color: #0abbb5;
}

.hot-love {
  border: 12px solid #ea7187;
}

.hot-love .fa-cloud {
  color: #db4d6d;
}

.hot-love .s-text {
  color: #db4d6d;
}

.single {
  border: 12px solid #fad689;
}

.single .fa-cloud {
  color: #f6c555;
}

.single .s-text {
  color: #f6c555;
}

.message-item {
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 20px;
  margin: 25px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media all and (max-width: 768px) {
  .message-item {
    display: none;
  }
}

.message-item .cloud {
  position: absolute;
  top: -7%;
  right: -7%;
}

.message-item .cloud .fa-cloud {
  font-size: 70px;
}

.message-item .cloud span {
  text-align: center;
  font-family: "A-OTF-M";
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.message-item .message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
}

.message-item .message-header .user-head {
  width: 15%;
  padding-bottom: 15%;
  position: relative;
}

.message-item .message-header .user-head img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.message-item .message-header .fa-user-circle {
  width: 10%;
  font-size: 30px;
  color: #f94982;
}

.message-item .message-header p {
  margin-left: auto;
  width: 80%;
  font-size: 20px;
  font-family: "GenJyuuGothic-R";
}

.message-item .message-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

.message-item .message-body .holder {
  width: 100%;
  padding-bottom: 100%;
  border: 1px solid #ccc;
  position: relative;
}

.message-item .message-body .holder img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.message-item .message-body h3 {
  width: 70%;
  font-size: 20px;
  line-height: 40px;
  font-family: "GenJyuuGothic-R";
  margin-left: auto;
  text-align: justify;
}

.message-item .message-body h3 span {
  padding: 0 10px 0 0;
}

.message-item .message-body p {
  width: 70%;
  font-family: "GenJyuuGothic-R";
  font-size: 16px;
  line-height: 32px;
  margin-left: auto;
  padding: 0 0 10px;
  text-align: justify;
  word-wrap: break-word;
}

.message-item .message-body .m-text {
  height: 42px;
}

.message-item .message-body .s-text {
  text-align: right;
}

.message-item .message-footer {
  margin-top: auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-item .message-footer button {
  cursor: pointer;
  font-family: "A-OTF-M";
  width: 45%;
  background-color: #fc7389;
  border: 3px solid #6a3e26;
  border-radius: 30px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

.custom-ice {
  position: absolute;
  width: 40%;
  left: -10%;
  bottom: -5%;
}

.custom-ice img {
  width: 100%;
}
/*# sourceMappingURL=writemessage.css.map */