@import 'mixin/mixin';

*{
    box-sizing: border-box;
    text-decoration: none;
}


.page-account{
    font-family: "GenJyuuGothic-R";
    font-size: 18px;

    .wrap{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 10px;
    }
    
    .banner{
        width: 100%;
        height: 0;
        padding-top:40%;
        background: #ffdfe0 url(../img/account/member02.png) bottom left no-repeat;
        background-size: contain;
        margin: auto;
        position: relative;

        @include out-Line-Font(title,#fff,40px,5px,#6a3e26,會員中心);
            .title{
                position: absolute;
                left: 0;
                right: 0;
                top: calc(40%);
            }
    }

    .account{
        background-color: #fff8e4;
        padding-bottom: 100px;
        
        .wrap{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    }

    .menu{
        background-color: #ea7187;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .profile-picture{
            color: #fff;
            font-size: 20px;
            padding: 20px 20px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            i{
                font-size: 50px;
                display: block;
                padding-right: 20px;
            }

            a{
                display: block;
                padding-top: 10px;
                font-size: 18px;
            }
        }

        .account-list{
            width: 100%;
            display: flex;
            flex-flow: row wrap;

            li{
                text-align: center;                
                
                .link-item{
                    display: block;
                    color: #fff;
                    padding: 10px;
                    
                    &:hover{
                        background-color: #db4d6d;
                    }                    

                    i{
                        font-size: 30px;
                        display: block;
                        padding: 10px;
                    }
                }
                .active{
                    background-color: #db4d6d;
                }                
            }
            
        }
    }
    .content-area{
        min-height: 700px;
        background-color: #fff;
        padding: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        h2{
            font-size: 24px;
            color: #3e556a;
            padding-top: 10px;
        }
        
        .show-content{
            display: block;
        }
    }

    .content-profile{
        display: none;
        .profile-item{
            background-color: #ffdee6;
            border-radius: 10px;
            padding: 20px;
            margin: 20px 0;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .passwaord, .address{
                display: inline-block;
                padding-right: 10px;
            }

            label{
                display: block;
                text-align: right;
                padding-right: 20px;
            }

            input{
                // height: 30px;
                border-radius: 5px;
                font-size: 18px;
                display: block;
                padding: 5px;
            }
        }
        input[type=submit]{
            padding:10px 20px;
            border:none;
            cursor:pointer;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            background-color: #db4d6d;
            color: #fff;
            font-family: "GenJyuuGothic-R";
            font-size: 18px;

            &:hover{
                background-color: #cb1b45;
            }
        }
    }

    .content-order{
        display: none;
        .order-item{
            padding: 20px;
            margin: 20px 0;
            background-color: #ffdee6;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .order-desc{
                p{
                    padding: 10px;
                }
            }
        }

        @include rwd(medium){
            .order-desc{
                display: flex;
    
                .total{
                    text-align: right;
                }
            }
        }
    }

    .content-collection{
        display: none;
        .collection-item{
            padding: 20px;
            margin: 20px 0;
            background-color: #ffdee6;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .collection-desc{
                display: flex;

                .heart{
                    text-align: right;
                    cursor: pointer;
                }
                p{
                    padding: 10px;
                }
            }
        }
    }

    .content-custom{
        display: none;
        .custom-item{
            padding: 20px;
            margin: 20px 0;
            background-color: #ffdee6;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .custom-desc{
                p{
                    padding: 10px;
                }
            }
        }

        @include rwd(medium){
            .custom-desc{
                display: flex;
    
                .time{
                    text-align: right;
                }
            }
        }
    }

    .content-course{
        display: none;
        .class-item{
            padding: 20px;
            margin: 20px 0;
            background-color: #ffdee6;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .class-desc{
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                .cancel{
                    text-align: right;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    a{
                        color: #db4d6d;
                    }
                }
                p{
                    padding: 10px;
                }
            }
        }
    }



    @include rwd(mobile){        
        .banner{
            padding-top:90%;
            background-size: cover;
            .title{
                top: 50%;
            }
        }
    }


    @include rwd(medium){
        .menu{
            border-top-right-radius: 0;
            border-bottom-left-radius: 10px;

            .profile-picture{
                padding: 30px 20px;
                flex-flow: row nowrap;

                
            }    
            .account-list{
                justify-content: flex-end;
                li{
                    .link-item{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;

                        i{
                           display: inline; 
                        }
                    }  
                }
                
            }
        }

        .content-area{
            padding: 20px 40px;

            h2{
                padding: 20px 0;
            }
        }
    }
}


    

    



    




    
   




    
