@import 'mixin/mixin';

*{
    box-sizing: border-box;
    text-decoration: none;
}


.page-account{
    font-family: "GenJyuuGothic-R";
    font-size: 18px;

    .wrap{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 10px;
    }
    
    .banner{
        width: 100%;
        height: 0;
        padding-top:40%;
        background: #ffdfe0 url(../img/account/member02.png) bottom left no-repeat;
        background-size: contain;
        margin: auto;
        position: relative;

        @include out-Line-Font(title,#fff,40px,5px,#6a3e26,會員中心);
            .title{
                position: absolute;
                left: 0;
                right: 0;
                top: calc(40%);
            }
    }

    .account{
        background-color: #fff8e4;
        padding-bottom: 100px;
        
        .wrap{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .profile-id{
                font-size: 16px;
            }
        }
    }

    .menu{
        background-color: #ea7187;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .profile-picture{
            color: #fff;
            font-size: 20px;
            padding: 20px 20px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            .btn-file{
                font-size: 16px;
                color: blue;

                &:hover{
                    cursor: pointer;
                }
            }
            #upFile{
                display: none;
            }

            .profile-img{
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;
                img{
                    width: 100%;
                    display: block;
                   
                }
            }

            
            p{
                padding-bottom: 10px;
            }

            a{
                padding-top: 10px;
                font-size: 18px;
            }
        }

        .account-list{
            width: 100%;
            display: flex;
            flex-flow: row wrap;

            li{
                text-align: center;                
                
                .link-item{
                    display: block;
                    color: #fff;
                    padding: 10px;
                    
                    &:hover{
                        background-color: #db4d6d;
                    }                    

                    i{
                        font-size: 30px;
                        display: block;
                        padding: 10px;
                    }
                }
                .active{
                    background-color: #db4d6d;
                }                
            }
            
        }
    }
    .content-area{
        min-height: 700px;
        background-color: #fff;
        padding: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        h2{
            font-size: 24px;
            color: #3e556a;
            padding-top: 10px;
        }
        
        .show-content{
            display: block;
        }
    }

    label{
        display: block;
        text-align: right;
        padding-right: 20px;
    }

    input{
        border-radius: 5px;
        font-size: 18px;
        display: block;
        padding: 5px;
    }

    input[type=submit]{
        padding:10px 20px;
        border:none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #db4d6d;
        color: #fff;
        font-family: "GenJyuuGothic-R";
        font-size: 18px;

        &:hover{
            background-color: #cb1b45;
        }
    }

    .content-profile{
        display: none;
        .profile-item{
            background-color: #ffdee6;
            border-radius: 10px;
            padding: 20px;
            margin: 20px 0;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .passwaord, .address{
                display: inline-block;
                padding-right: 10px;
            }

            
        }
       
    }

    .content-order{
        display: none;
        .order-item{
            padding: 20px;
            margin: 20px 0;
            background-color: #ffdee6;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .order-desc{
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                .thead{
                    font-weight: bold;
                }
                p{
                    padding: 10px;
                }                
            }
            .prod-item-pop{
                display: none;
                padding: 10px;
                border-top: 1px solid #000;
                p{
                    padding-bottom:10px;
                }
                .item-list-group{                   
                    padding: 5px;
                    background-color: #ffbaba;
                    .list-head{
                        border-bottom: 1px solid #000;
                    }

                    .item-list{
                        padding-top: 10px;
                        display: flex;
                        flex-flow: row wrap;
                        .list-count{
                            text-align: right;
                        }
                    }
                }
            }
            .prod-item-pop.prod-item-show{
                display: block;
            }
        }

        @include rwd(medium){
            .order-desc{
                display: flex;
    
                .total{
                    text-align: right;
                }
            }
        }
    }

    .content-collection{
        display: none;
        .collection-item{
            padding: 20px;
            margin: 20px 0;
            background-color: #ffdee6;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .prod-img img{
                width: 50%;
            }

            .collection-desc{
                display: flex;
                flex-flow: row wrap;

                .heart{
                    text-align: right;

                    i{
                        color: #cb1b45;
                        font-size: 24px;
                    }
                }
                p{
                    padding: 10px;
                }
            }
        }
    }

    .content-custom{
        display: none;
        table{
            display: flex;
            flex-flow: row wrap;
        }
        .custom-item{
            padding: 20px;
            margin: 20px 0;
            background-color: #ffdee6;
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .custom-desc{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                .thead{
                    border-bottom:1px solid #ffbaba;                    
                    p{
                        font-weight: bold;
                    }

                    @include rwd(mobile){
                        border-bottom:none; 
                    }
                }
                p{
                    padding: 10px;
                }

                .cto-img img{                   
                     width: 50%;                   
                }
                
            }
        }
        @include rwd(medium){
            .thead-img{
                display: none;
            }
        }
    }

    .content-course{
        display: none;

            thead{
                // border-right: 1px solid #ffbaba;
                td{
                    font-weight: bold;
                }

                @include rwd(medium){
                    border-right: none;
                    border-bottom: 1px solid #ffbaba;
                }
            }

            .class-item{
                padding: 10px 20px;
                margin: 20px 0;
                background-color: #ffdee6;
                display: flex;
                flex-flow: row wrap;
                align-items: center;                
    
                .class-desc{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;

                    .thead{
                        font-weight: bold;
                    }

                    p{
                        padding: 10px;
                    }
    
                    .cancel, .qrcode{ 
                        @include rwd(medium){
                            text-align: right;  
                        }
                        
                        a{
                            color: #db4d6d;
    
                            &:hover{
                                border-bottom: 1px solid #db4d6d;
                            }
                        }
                    }
                }
            }
        
        
    }

    .psw-change-box{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: none;
        background-color: rgba(0,0,0,.3);

        .psw-bg{
            padding: 20px;
            background-color: #d1d631;
            border-radius: 10px;
            margin: auto;
            display: flex;
            position: relative;

            #psw-box-close{
                position: absolute;
                top: -80px;
                right: -10px;
            }

            .psw-content{
                margin: auto;
            }

            .psw-box-title{
                text-align: center;
                color: #6a3e26;
                font-size: 24px;
                padding: 20px;
            }

            .psw-item{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                margin: auto;
                padding: 10px;

                label{
                    padding-right: 0;
                    padding-bottom: 10px;
                    text-align: left;
                }

                #profile-save{
                    margin: auto;
                }

                #new-psw-save{
                    padding:10px 20px;
                    border:none;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: #db4d6d;
                    color: #fff;
                    font-family: "GenJyuuGothic-R";
                    font-size: 18px;
                    margin: auto;

                    &:hover{
                        background-color: #cb1b45;
                    }
                }

                #psw-error{
                    display: block;
                    color: #cb1b45;
                    font-size: 20px;
                    padding-bottom: 10px;
                    margin: auto;
                    text-align: center;
                }
            }
            
        }
    }



    @include rwd(mobile){        
        .banner{
            padding-top:90%;
            background-size: cover;
            .title{
                top: 50%;
            }
        }
    }


    @include rwd(medium){
        .menu{
            border-top-right-radius: 0;
            border-bottom-left-radius: 10px;

            .profile-picture{
                padding: 30px 20px;
                flex-flow: row nowrap;

                
            }    
            .account-list{
                justify-content: flex-end;
                li{
                    .link-item{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;

                        i{
                           display: inline; 
                        }
                    }  
                }
                
            }
        }

        .content-area{
            padding: 20px 40px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;

            h2{
                padding: 20px 0;
            }
        }
    }
}


    

    



    




    
   




    
