@import "mixin/mixin";
*{
    box-sizing: border-box;
    a{
        text-decoration: none;
    }
}
.page-confirm{
    background: #F8C3CD url(../img/shop/backgroundpic.png);
    font-family: "GenJyuuGothic-B";
    button{
        margin: 0px;
        padding: 0px;
        border: 0px solid transparent;
        outline:none;
        background-color: transparent;
    }
    .dis-mobile-n{
        @include rwd(mobile){
        display: none;
        }
    }
    .float{
        float:left;
    }
    .clear{
        float:both;
    }
    .dis-lg-n{
        @include rwd(desktop){
            display: none;
        }
    }
    .fw-w{
        flex-wrap: wrap;
    }
    .bor-20{
        border-radius: 20px;
    }
    .btn-numbox{
        // width: 100%;
        font-size: 0px;
        // @include rwd(desktop){
        //     display: block;
        //     padding: 0px;
        //     width: 43%;
        //     // margin-left: 38%;
        //     // width: 50%;
        // }
        .qty{
            // display: inline-block;
            width: 30%;
            text-align: center;
            height: 28px;
            padding: 0px;
            border: 0px;
            @include rwd(mobile){
                width: 27%;
            }
        }
        .qtyminus{
            background-color: #6A3E26;
            border-bottom-left-radius:20px;
            border-top-left-radius:20px;
            width: 20%;
            height:28px; 
            border:0px; 
            color:white;
            padding: 0px;
            cursor: pointer;
            @include rwd(mobile){
                width: 15%;
            }
        }
        .qtyplus{
            padding: 0px;
            background-color: #6A3E26;
            border-bottom-right-radius:20px;
            border-top-right-radius:20px;
            width: 20%;
            height:28px; 
            border:0px; 
            color:white;
            cursor: pointer;
            @include rwd(mobile){
                width: 15%;
            }
        }
    }
    .rela{
        position: relative;
    }
    .button{
        background-color: transparent;
        border:0px;
    }
    .text-center{
        text-align: center;
    }
    .text-20{
        font-size: 20px;
    }    
    h2{
        font-size:28px; 
    }
    h3{
        font-size: 22px;
    }
    .container{
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
    .des-flex{
        @include rwd(desktop){
            display: flex;    
        }
         
    }
    .flex{
        display: flex;  
    }
    .mol-flex{
        @include rwd(mobile){
            display: flex;  
        }
    }
    .ai-c{
        align-items: center;
    }
    .ju-c{
        justify-content: center;
    }
    .m-a{
        margin: auto;
    }
    .p-10{
        padding: 10px;
    }
    .p-20{
        padding: 20px;
    }
    .bagc-w{
        background-color: white;
    }

    // 以上共用
    .confirm-column{
        padding-top:120px; 
        
    }
    .confirm-title{
        padding: 20px 0px;
    }
    .list-wrap{
        background-color:#FFF8E4;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        height: 60px;
    }
   
    // .cart-row > div + div {
    //     border-left: 1px solid black;
       
    // }
    .confirm-row{
        width: 90%;
         background-color: white; 
         border-radius:20px; 
         font-size: 16px;
         margin-bottom: 20px;
    }
    .row-pic{
        border-bottom: 2px solid black;
        padding:10px;
        height: 104px;
        img{
            width: 100%;
        }
    }
    .row-pic-box{
        width: 20%;
    }
    .row-name{
        p{
            display: none;
        }
        text-align: left;
        height: 104px;
        padding:10px 10px 10px 20px;
        border-bottom: 2px solid black; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .confirm-btn{
        padding-top:10px;
        display: flex;
        span{
            display: none;
        }
    }
    .small-total{
        padding-top:10px;
        text-align:right;
    }
    .confirm-total{
      text-align: right;
      padding-right:30px;   
      font-size: 20px;
    }
    .package-information-title{
        border-bottom:2px solid #FAD689;
        span{
            text-align: center;
            display: inline-block;
            width:100px;
            height: 30px;
            line-height: 30px;
            border-top-left-radius:10px;
            border-top-right-radius:10px; 
            background-color: #FAD689;
        }
      
    }
   
    .package-information{
        >form{
            background-color: white;
            >div{
                border-bottom: 1px solid gray opacity($color:gray);
                padding: 8px 0px 8px 10px;
            }
        }
    }
    .confirm-btn{
        text-align: center;
    }
    button{
        margin: 0px 10px;
    }
    .confirm-a{
        display: inline-block;
    }
    @include ice-btn(confirm-shop,100px,confirm-shop-in,16px,16px,確認結帳);
    @include btn(Previous,100px,Previous-in,16px, 上一步);
    .confirm-list{
        padding: 10px;
    }
    // 金流及貨運方式
    .pay-transport-title{
        padding-bottom: 20px;
    }
    .pay-transport{
        background-color: white;
        border-radius: 20px;
        height: 300px;
    }
    .pay-transport-btn{
        font-size: 0px;
        border-bottom: 1px solid #FAD689;
    }
    .confirm-btn{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        a{
            margin-right: 10px;
        }
    }
    .tabtitle{

        li{        
          font-size: 20px;
          text-align: center;
          line-height: 26px;  
        }
        a{
            color: black;
        }
        
    }
    .pay,.transport,.recipient{
        display: inline-block;
        background-color: #FAD689;
        border: 2px solid #FAD689;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #282828;
        height: 30px;
        &:hover{
            background-color: #FFB11B;
        }
    }
    .transport-way{
        height: 900px;
    }
    .transport-check,.onlion-check{
        font-size: 16px;
    }
    .pay-transport{
        width: 90%;
        background-color: white;
        border-radius: 20px;
        height: 390px;
    }
    // input[type="radio"] {
    //     display:none;
    // }
    // input[type="radio"] + label span {
    //     display:inline-block;
    //     width:16px;
    //     height:16px;
    //     cursor:pointer;
    //     background: url(../img/shop/circle-regular.svg);         
    // }
    .transport-check{
        vertical-align:middle; 
    }
    // input[type="radio"]:checked + label span {
    //     background:url(../img/shop/check-circle-solid.svg)no-repeat;
    // }
    #recipient{
        span{
            display: inline-block;
        }
        input{
            display: block;
        }
        // input[type="checkbox"] {
        //     // display:none;
        // }
        // input[type="checkbox"] + label span {
        //     // display:inline-block;
        //     width:16px;
        //     height:16px;
        //     cursor:pointer;
        //     background: url(../img/shop/circle-regular.svg);         
        // }
        // input[type="checkbox"]:checked + label span {
        //     background:url(../img/shop/check-circle-solid.svg)no-repeat;
        // }
    }    







    // 網頁版
    @include rwd(desktop){
        .confirm-title{
            padding: 150px 0px 20px 0px;
        }
        .list-wrap{
            font-size: 20px;
        }
        .list-wrap > div + div {
            border-left: 1px solid black;
        }
        .confirm-row > div + div {
            border-left: 1px solid black;
        }
        .row-name{
            >p{
                display: flex;
                margin: auto;
            }
        }
       .confirm-row{
            width: 100%;
            background-color: white; 
            border-radius:0px; 
            font-size: 16px;
            flex-wrap:nowrap;
            margin-bottom: 0px;
            border-bottom: 1px solid #c8c8c8;

        }
       .row-pic{
           border-bottom: 0px solid black;
           padding:0px;
           height: 104px;
           img{
               width: 100%;
           }
       }
       .row-pic-box{
           width: 17%;
       }
       .row-name{
           >div{
               display:none;
               ~div{
                   display: none;
               }
           }
           height: 104px;
           padding:0px;
           border-bottom: 0px solid black; 
           display: flex;
           flex-direction: column;
           justify-content: space-around;
       }
       .confirm-unit-price{
           height: 104px;
           line-height: 105px;
       }
       #recipient input{
        display: inline-block;
        margin-bottom: 10px;
    }
    //    .confirm-btn{
    //        display:block;
    //        text-align: center;
    //        padding-top:0px;
    //        height: 104px;
    //        line-height: 105px;
    //        span{
    //         display: block;
    //     }
    //    }
    .confirm-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
        a{
            margin-right: 10px;
        }
        span{
            display: block;
        }
    }   
    .small-total{
        padding-top:0px; 
        height: 104px;
        line-height: 105px;
        text-align:center;
    }
    .confirm-total{
        text-align: right;
        padding-right:20px;   
        font-size: 20px;
    }
    .pay-transport{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 300px;
    }
    .package-information-title{
        border-bottom:2px solid #FAD689;
        span{
            text-align: center;
            display: inline-block;
            width:100px;
            height: 30px;
            line-height: 30px;
            border-top-left-radius:10px;
            border-top-right-radius:10px; 
            background-color: #FAD689;
        }
        
    }
    .confirm-list{
    padding: 0px;
        }
    }
}