@import "mixin/mixin";
*{
    box-sizing: border-box;
    // outline: 1px solid black;
    span{
        font-size: 16px;
        button{
            margin: 0px;
            padding: 0px;
            border: 1px solid transparent;
            outline:none;
            background-color: none;
        }
    }
}
.page-cartlist{
    background: #F8C3CD url(../img/shop/backgroundpic.png);
    font-family: "GenJyuuGothic-B";
    // img{
    //     width: 100%;
    //     margin: auto;
    //     // display: block;
    // }
    .dis-mobile-n{
        @include rwd(mobile){
        display: none;
        }
    }
    .float{
        float:left;
    }
    .clear{
        float:both;
    }
    .dis-lg-n{
        @include rwd(desktop){
            display: none;
        }
    }
    .fw-w{
        flex-wrap: wrap;
    }
    .bor-20{
        border-radius: 20px;
    }
    .btn-numbox{
        // width: 100%;
        font-size: 0px;
        // @include rwd(desktop){
        //     display: block;
        //     padding: 0px;
        //     width: 43%;
        //     // margin-left: 38%;
        //     // width: 50%;
        // }
        .qty{
            // display: inline-block;
            width: 30%;
            text-align: center;
            height: 28px;
            padding: 0px;
            border: 0px;
            @include rwd(mobile){
                width: 27%;
            }
        }
        .qtyminus{
            background-color: #6A3E26;
            border-bottom-left-radius:20px;
            border-top-left-radius:20px;
            width: 20%;
            height:28px; 
            border:0px; 
            color:white;
            padding: 0px;
            cursor: pointer;
            @include rwd(mobile){
                width: 15%;
            }
        }
        .qtyplus{
            padding: 0px;
            background-color: #6A3E26;
            border-bottom-right-radius:20px;
            border-top-right-radius:20px;
            width: 20%;
            height:28px; 
            border:0px; 
            color:white;
            cursor: pointer;
            @include rwd(mobile){
                width: 15%;
            }
        }
    }
    .rela{
        position: relative;
    }
    .button{
        background-color: transparent;
        border:0px;
    }
    .text-center{
        text-align: center;
    }
    .text-20{
        font-size: 20px;
    }    
    h2{
        font-size:28px; 
    }
    h3{
        font-size: 22px;
    }
    .container{
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
    .des-flex{
        @include rwd(desktop){
            display: flex;    
        }
         
    }
    .flex{
        display: flex;  
    }
    .mol-flex{
        @include rwd(mobile){
            display: flex;  
        }
    }
    .ai-c{
        align-items: center;
    }
    .ju-c{
        justify-content: center;
    }
    .m-a{
        margin: auto;
    }
    .p-10{
        padding: 10px;
    }
    .p-20{
        padding: 20px;
    }
    .bagc-w{
        background-color: white;
    }

    // 以上共用
    .cart-head{
        padding-top:100px;
        // height: 50px;;
        max-width: 1200px;
        width: 100%;
        text-align: center;
        h2{
            padding-bottom: 20px;
        }
    }
    .item-pic{
        border-bottom: 2px solid black;
        padding:10px;
        height: 104px;
       
        img{
            width: 100%;
        }
    }
    .mobile-price{
        padding:10px;
        border-bottom: 2px solid black;
        height: 104px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .cartlist-btn{
        padding-top:10px; 
    }
    .cart-btn{
        display: flex;
        padding-top:20px;
        a{
            display: block;
            margin: 0px 5px;
        }
    }
    .cart-list-item{
        background-color: white;
        border-radius: 20px;
        display: flex;
        margin-bottom: 10px;
        width:90%;
    }
    form{
        padding: 10px;
    }
   
    .small-total{
        padding-top:18px;
        height: 38px; 
    }
    .total-pri{
        text-align: right;
        padding-right: 30px;
    }
    .continue-shop{
        margin: auto;
    }
    a{
        text-decoration: none;
    }
    .maybe-title{
        text-align: center;
        padding-bottom: 30px;
    }
    .delete{
        position: absolute;
        top:0px;
        right: 10px;
    }
    .trash-img{
        width: 100%;
    }
    .news-item{
        background-color: #FFF4DE;
        border-radius: 20px;
        width: 50%;
    }
    .newpic{
        width: 30%;
        margin: auto;
        padding-top:30px; 
        
        img{
            width: 100%;
        }
        .new-collection-love{
        display: block;
        width: 11%;
        height: 9%;
        position: absolute;
        right: 8px;
        top:30px;
            }  
        }
        .new-name,.new-pic{
        text-align: center;
        padding: 5px 0px;
        }
        .cart-btn{
            text-align: center;
            padding-bottom: 80px;
        }
        .left-arrow{
            position: absolute;
            display: inline-block;
            width: 20px;
            height: 30px;
            top:15%;
            left:30px;
    
           }
           .right-arrow{
            position: absolute;
            display: inline-block;
            width: 20px;
            height: 30px;
            top:15%;
            right:30px;
           }
    .pay-transport-title{
        padding-bottom: 20px;
    }
    .pay-transport{
        background-color: white;
        border-radius: 20px;
    }
    .pay-transport-btn{
        font-size: 0px;
        border-bottom: 1px solid #FAD689;
    }
    .pay,.transport{
    display: inline-block;
    background-color: #FAD689;
    border: 2px solid #FAD689;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #282828;
    height: 30px;
    &:hover{
        background-color: #FFB11B;
    }
    }
    .transport-check,.onlion-check{
        font-size: 16px;
    }
    @include btn(go-buy,100px,go-buy-in,16px, 進行結帳);
    @include btn(continue-shop,100px,continue-shop-in,16px, 繼續購物);
    input[type="radio"] {
        display:none;
    }
    input[type="radio"] + label span {
        display:inline-block;
        width:16px;
        height:16px;
        cursor:pointer;
        background: url(../img/shop/circle-regular.svg);         
    }
    .transport-check{
        vertical-align:middle; 
    }
    input[type="radio"]:checked + label span {
        background:url(../img/shop/check-circle-solid.svg)no-repeat;
    }
    #empty-text{
        width: 94.6%;
        margin: auto;
        background-color: white;
        
    }
    
    
    // 網頁版
    @include rwd(desktop){
        #empty-text{
        text-align: center;
        width: 95%;
        margin: auto;
        background-color: white;
            
        }
        .cart-head{
            padding-top:150px;
            max-width: 1200px;
            width: 100%;
            text-align: center;
        }
        .cart-column{
            background-color:#FFF8E4;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            height: 60px;
            line-height: 50px;
        }
        .small-total{
            padding-top:0px;
            line-height: 50px;
        }
        .unit-price{
            line-height: 50px;
        }
        .cart-column > div + div {
            height: 50px;
            border-left: 1px solid black;
        }
        .cart-row > div + div {
            border-left: 1px solid black;
            height: 50px;
        }
        .mobile-price{
            border-bottom: 0px ;
            padding:0px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .delete{
            display: block;
            position: static;
            top:0px;
            right: 10px;
            margin:auto;
            height: 50px;
            line-height: 74px;
            border-left:1px solid black; 
            div{
            margin: auto;
            .trash-img{
                        width: 100%;
                    }       
            }
            
        }
       
        form{
            padding: 0px;
        }
        .cart-row{
             background-color: white;
             border-bottom:1px solid rgb(200,200,200);
             img{
                 width: 100%;
             }
        }
        .cart-list-item{
            width: 100%;
            background-color: white;
            border-radius: 0px;
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            flex-flow: space-around;
            margin-bottom:  0px;
    
        }
        .cartlist-btn{
            padding-top:0px;
            line-height: 50px;
        }
        .item-pic{
            border-bottom: 0px ;
        }
        .cart-title{
            // background-color: #6A3E26;
            height: 80px;
            line-height: 80px;
        }
        .pay-transport{
            border-radius:0px;
        }
        .total-pri{
            font-size: 20px;
            background-color: white;
            text-align: right;
            span{
                font-size: 20px;
                margin-right: 20px;
            }
           
        }
        .cart-btn{
            background-color: white; 
             padding: 10px 0px 30px 0px;
             margin-bottom: 100px;
             border-bottom-left-radius:20px;
             border-bottom-right-radius:20px;
        }
        
        a{
            text-decoration: none;
        }
        .button{
            margin: auto;
        }
        // @include btn(continue-shop,100px,continue-shop-in,16px, 繼續購物);
        .continue-shop-in{
            background-color: white;
        }
        // @include btn(go-buy,100px,go-buy-in,16px, 進行結帳);
       .pay-transport-title{
        padding: 5px 0px;
        border-top:1px solid rgb(200,200,200);
        padding:10px 0px 20px 0px;
       }
       .pay-transport-btn{
           font-size: 0px;
           border-bottom: 1px solid #FFB11B;
          
       }
       .pay,.transport{
        background-color: #FAD689;
        border: 2px solid #FAD689;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #282828;
        height: 40px;
        &:hover{
            background-color: #FFB11B;
        }
       }
       .transport-check{
          line-height: 10px;
       }
    //    .transport-check,.onlion-check{
    //        height: 20px;
    //     //    line-height: 30px;
    //     &:before{
    //         display: inline-block;
    //         content: "";
    //         width: 18px;
    //         height: 18px;
    //         border:2px solid black;

    //     }
    //    }
    //    @include btn(go-buy,100px,go-buy-in,16px, 進行結帳);
        .maybe-like{
            padding:40px 0px; 
        }
        .maybe-title{
            text-align: center;
            padding: 30px 0px;
        }
       .left-arrow{
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 30px;
        top:40%;
        left:30px;

       }
       .right-arrow{
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 30px;
        top:40%;
        right:30px;
       }
       .news-item{
        width: 15%;
        height: 230px;
        border:4px solid #FFCE5B;
        border-radius: 20px;
        padding-top: 10px;
        background-color: #FFF4DE;
       }
       .newpic{
        width: 30%;
        margin: auto;
        padding-top:30px; 
        
        img{
            width: 100%;
        }
        .new-collection-love{
        display: block;
        width: 15%;
        height: 9%;
        position: absolute;
        right: 8px;
        top:30px;
            }  
        }
        .new-name,.new-pic{
        text-align: center;
        padding: 5px 0px;
        }
    }
}
