@import "mixin/mixin";

.btn-out{
    @include btn-out(145px , 40px);
}
.btn-in{
   @include btn-in(138px , 34px);
   
}
@include out-Line-Font(btn-text,white,16px,2px,white,加入購物車); 


.ice-btn-out{
    @include ice-btn-out(135px , 40px);
    position: relative;
}
.ice-btn-in{
   @include ice-btn-in(128px , 34px);
}
@include out-Line-Font(ice-btn-text,white,16px,2px,white,下一題); 
.ice-img{
    display:inline-block;
    width: 38px;
    height: 50px;
    position: absolute;
    left: -5px;
    top:0px;
    img{
        width: 100%;
    }
}



@font-face {
	font-family: "A-OTF-H";
	src: url(../font/A-OTF/A-OTF-MaruFoPro-Heavy.otf);
  }
  @font-face {
	font-family: "A-OTF-M";
	src: url(../font/A-OTF/A-OTF-MaruFoPro-Medium.otf);
  }
  /*思源圓黑體*/
  @font-face {
	font-family: "GenJyuuGothic-B";
	src: url(../font/genJyuuGothic/GenJyuuGothic-Bold.ttf);
  }
  @font-face {
	font-family: "GenJyuuGothic-R";
    src: url(../font/genJyuuGothic/GenJyuuGothicX-P-Regular.ttf);
}
    
.ice-btn-text{
    font-family: "A-OTF-M";
}

.btn-text{
    line-height: 32px;
  font-family: "A-OTF-M";
}

 



//out-Line-Font()外框字使用教學

//使用之前先在HTML中把自己要使用的字輸入好
//建議使用"span"標籤包住並使用一個class名稱

//out-Line-Font($class,$color,$size,$width,$shadow,$text)
//$class -> 包住字體的class名稱(class名稱即可無須前面.)
//$color -> 字顏色(ex:#fff)
//$size -> 字大小(ex:20px)
//$width -> 外框粗細(ex:2px)
//$shadow -> 外框顏色(ex:#fff)
//$text -> 外框使用的字(與HTML中的文字相同)





//格線系統
@for $i from 1 through 12 {
  .col-#{$i}{
    width: ($i / 12) * 100%;
  }
}

@include rwd(medium){
  @for $i from 1 through 12 {
    .col-md-#{$i}{
      width: ($i / 12) * 100%;
    }
  }
}

@include rwd(desktop){
  @for $i from 1 through 12 {
    .col-lg-#{$i}{
      width: ($i / 12) * 100%;
    }
  }
}