@import "mixin/mixin";


@font-face {
	font-family: "A-OTF-H";
	src: url(../font/A-OTF/A-OTF-MaruFoPro-Heavy.otf);
  }
  @font-face {
	font-family: "A-OTF-M";
	src: url(../font/A-OTF/A-OTF-MaruFoPro-Medium.otf);
  }
  /*思源圓黑體*/
  @font-face {
	font-family: "GenJyuuGothic-B";
	src: url(../font/genJyuuGothic/GenJyuuGothic-Bold.ttf);
  }
  @font-face {
	font-family: "GenJyuuGothic-R";
    src: url(../font/genJyuuGothic/GenJyuuGothicX-P-Regular.ttf);
}
    
.ice-btn-text{
    font-family: "A-OTF-M";
}

.btn-text{
    line-height: 32px;
  font-family: "A-OTF-M";
}

 

// 按鈕教學
  // 普通按鈕  btn-out($width,$class,$color,$size,$width2,$shadow,$text)
  // 有冰棒圖案 ice-btn-out($width,$class,$color,$size,$width2,$shadow,$text)

// 變數解釋
  //使用之前先在HTML中把自己要使用的字輸入好
  //建議使用"span"標籤包住並使用一個class名稱
  //$width ->按鈕寬度
  //$class -> 包住字體的class名稱(class名稱即可無須前面.)
  //$color -> 字顏色(ex:#fff)
  //$size -> 字大小(ex:20px),隨著按鈕的寬度設定,請自行調整字大小,這樣字才會置中
  //$width2 -> 外框粗細(ex:2px)
  //$shadow -> 外框顏色(ex:#fff)
  //$text -> 外框使用的字(與HTML中的文字相同)


.btn-out{
  @include btn-out(70px,btn-in,white,8px,2px,black,加入購物車);
}
.ice-btn-out{
 @include ice-btn-out(80px,btn-in,white,10px,3px,black,加入購物車);
}








//格線系統
@include rwd(mobile){
  @for $i from 1 through 12 {
    .col-#{$i}{
      width: ($i / 12) * 100%;
    }
  }
}

@include rwd(medium){
  @for $i from 1 through 12 {
    .col-md-#{$i}{
      width: ($i / 12) * 100%;
    }
  }
}

@include rwd(desktop){
  @for $i from 1 through 12 {
    .col-lg-#{$i}{
      width: ($i / 12) * 100%;
    }
  }
}