@import "mixin/mixin";
*{
    box-sizing: border-box;
    a{
        text-decoration: none;
    }
}
.page-confirm{
    background: #F8C3CD url(../img/shop/backgroundpic.png);
    font-family: "GenJyuuGothic-B";
    button{
        margin: 0px;
        padding: 0px;
        border: 0px solid transparent;
        outline:none;
        background-color: transparent;
    }
    .dis-mobile-n{
        @include rwd(mobile){
        display: none;
        }
    }
    .float{
        float:left;
    }
    .clear{
        float:both;
    }
    .dis-lg-n{
        @include rwd(desktop){
            display: none;
        }
    }
    .fw-w{
        flex-wrap: wrap;
    }
    .bor-20{
        border-radius: 20px;
    }
    .btn-numbox{
        // width: 100%;
        font-size: 0px;
        // @include rwd(desktop){
        //     display: block;
        //     padding: 0px;
        //     width: 43%;
        //     // margin-left: 38%;
        //     // width: 50%;
        // }
        .qty{
            // display: inline-block;
            width: 30%;
            text-align: center;
            height: 28px;
            padding: 0px;
            border: 0px;
            @include rwd(mobile){
                width: 27%;
            }
        }
        .qtyminus{
            background-color: #6A3E26;
            border-bottom-left-radius:20px;
            border-top-left-radius:20px;
            width: 20%;
            height:28px; 
            border:0px; 
            color:white;
            padding: 0px;
            cursor: pointer;
            @include rwd(mobile){
                width: 15%;
            }
        }
        .qtyplus{
            padding: 0px;
            background-color: #6A3E26;
            border-bottom-right-radius:20px;
            border-top-right-radius:20px;
            width: 20%;
            height:28px; 
            border:0px; 
            color:white;
            cursor: pointer;
            @include rwd(mobile){
                width: 15%;
            }
        }
    }
    .rela{
        position: relative;
    }
    .button{
        background-color: transparent;
        border:0px;
    }
    .text-center{
        text-align: center;
    }
    .text-20{
        font-size: 20px;
    }    
    h2{
        font-size:28px; 
    }
    h3{
        font-size: 22px;
    }
    .container{
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
    .des-flex{
        @include rwd(desktop){
            display: flex;    
        }
         
    }
    .flex{
        display: flex;  
    }
    .mol-flex{
        @include rwd(mobile){
            display: flex;  
        }
    }
    .ai-c{
        align-items: center;
    }
    .ju-c{
        justify-content: center;
    }
    .m-a{
        margin: auto;
    }
    .p-10{
        padding: 10px;
    }
    .p-20{
        padding: 20px;
    }
    .bagc-w{
        background-color: white;
    }

    // 以上共用
    .confirm-column{
        padding-top:120px; 
        
    }
    .confirm-title{
        padding: 20px 0px;
    }
    .list-wrap{
        background-color:#FFF8E4;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        height: 60px;
    }
   
    // .cart-row > div + div {
    //     border-left: 1px solid black;
       
    // }
    .confirm-row{
         background-color: white; 
         border-radius:20px; 
         font-size: 16px;
    }
    .row-pic{
        border-bottom: 2px solid black;
        padding:10px;
        height: 104px;
        img{
            width: 100%;
        }
    }
    .row-pic-box{
        width: 20%;
    }
    .row-name{
        height: 104px;
        padding:20px 10px 0px 10px;
        border-bottom: 2px solid black; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .confirm-btn{
        padding-top:10px;
    }
    .small-total{
        padding-top:10px; 
    }
    .confirm-total{
      text-align: right;
      padding-right:20px;   
      font-size: 20px;
    }
    .package-information-title{
        border-bottom:2px solid #FAD689;
        span{
            text-align: center;
            display: inline-block;
            width:100px;
            height: 30px;
            line-height: 30px;
            border-top-left-radius:10px;
            border-top-right-radius:10px; 
            background-color: #FAD689;
        }
      
    }
    .package-information{
        >form{
            background-color: white;
            >div{
                border-bottom: 1px solid gray opacity($color:gray);
                padding: 8px 0px 8px 10px;
            }
        }
    }
    .confirm-btn{
        text-align: center;
    }
    button{
        margin: 0px 10px;
    }
    @include ice-btn(confirm-shop,100px,confirm-shop-in,16px,16px,確認結帳);
    // @include btn(confirm-shop,100px,confirm-shop-in,16px, 確認結帳);
    @include btn(Previous,100px,Previous-in,12px, 上一步);








    // 網頁版
    @include rwd(desktop){
        .confirm-title{
            padding: 150px 0px 20px 0px;
        }
        .list-wrap{
            font-size: 20px;
        }
        .list-wrap > div + div {
            border-left: 1px solid black;
        }
        .confirm-row > div + div {
            border-left: 1px solid black;
        }
       .confirm-row{
            background-color: white; 
            border-radius:0px; 
            font-size: 16px;
            flex-wrap:nowrap;
        }
       .row-pic{
           border-bottom: 0px solid black;
           padding:0px;
           height: 104px;
           img{
               width: 100%;
           }
       }
       .row-pic-box{
           width: 17%;
       }
       .row-name{
           height: 104px;
           padding:0px;
           border-bottom: 0px solid black; 
           display: flex;
           flex-direction: column;
           justify-content: space-around;
       }
       .confirm-unit-price{
           height: 104px;
           line-height: 105px;
       }
       .confirm-btn{
           text-align: center;
           padding-top:0px;
           height: 104px;
           line-height: 105px;
       }
       .small-total{
           padding-top:0px; 
           height: 104px;
           line-height: 105px;
       }
       .confirm-total{
         text-align: right;
         padding-right:20px;   
         font-size: 20px;
       }
       .package-information-title{
           border-bottom:2px solid #FAD689;
           span{
               text-align: center;
               display: inline-block;
               width:100px;
               height: 30px;
               line-height: 30px;
               border-top-left-radius:10px;
               border-top-right-radius:10px; 
               background-color: #FAD689;
           }
         
       }
    }
}