@import "mixin/mixin";
*{
    outline: #f00 solid 1px;
}

.welcome-wrap{
    background-color: #ffe8e8;
    width: 100%;
    
        .wrapper{

            @include rwd(desktop){
                margin: auto;
                display:flex;
                align-items:center;
                justify-content:center;
                max-width: 1200px;
            }
        }

        .kanban{
            padding-top: 200px;
            width: 100%;
            margin: auto;
                img{
                    width: 70%;
                    margin: auto;
                    display: block;
                }
                .group-title,.general-title,.group-subtitle,.general-subtitle{
                    z-index: 1;
                }
                .item{
                     position: relative;
                     top: -50px;
                }
                h2{
                    display: inline-block;
                    position: relative;
                }
        }
    @include out-Line-Font(group-title,#fff,40px,5px,#6a3e26,揪團課程);
    @include out-Line-Font(general-title,#fff,40px,5px,#6a3e26,一般課程);
    @include out-Line-Font(group-subtitle,#6a3e26,16px,5px,#fff8e4,不定時開課);
    @include out-Line-Font(general-subtitle,#6a3e26,16px,5px,#fff8e4,每日固定開課);
}