@import "mixin/mixin";
// *{
//     outline: #f00 solid 1px;  
// }
body{
    font-family: "GenJyuuGothic-R";
}
//共用區
$bg-pink:#ffd9d9;
$bg-yellow:#f6c555;
$d-gray:#8c8574;
$font-gray:#434343;
@include out-Line-Font(group-title,#fff,28px,5px,#6a3e26,揪團課程);
@include out-Line-Font(general-title,#fff,28px,5px,#6a3e26,一般課程);
@include out-Line-Font(group-subtitle,#6a3e26,12px,3px,#fff8e4,不定時開課);
@include out-Line-Font(general-subtitle,#fff8e4,12px,3px,#6a3e26,每日固定開課);
@include out-Line-Font(message-title,#fff,34px,5px,#6a3e26,揪團留言板);
@include out-Line-Font(general-form-title,#fff,34px,5px,#6a3e26,一般課程預約);
@include out-Line-Font(group-form-title,#fff,34px,5px,#6a3e26,揪團課程預約);



.welcome-wrap{
    background-color:$bg-pink;
    font-family: "GenJyuuGothic-B";
        .wrapper{
            
            margin: auto;
            @include rwd(medium){
                display:flex;
                align-items:center;
                justify-content:center;
                max-width: 1200px;
                height: 100vh;
            }
        }

        .kanban{
            padding-top: 30%;
            width: 100%;
            margin: auto;
            @include rwd(medium){
                padding-top: 20%;
            }
                .spaceship{
                    width: 60%;
                    margin: auto;
                }
                img{
                    width: 100%;
                }
               
                .item{
                    width: 70%;
                    position: relative;
                    text-align:center; 
                    transform: translateY(-15%);
                    margin: auto;
                    .title{
                        position:absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        @include rwd(desktop){
                          font-size: 40px
                        }
                    }

                    .subtitle{
                        position:absolute;
                        top:15%;
                        right: 12%;
                        transform:rotate(27deg);
                        @include rwd(medium){
                        top:19%;
                        right: 13%;
                        transform:rotate(29deg);
                        }
                        @include rwd(desktop){
                        top:20%;
                        right: 14%;
                        transform:rotate(30deg);
                        font-size: 14px
                        }
                    }
                }
            //背景圖看板
                // .general-item{
                //     background-image: url("../img/course/kanban-general.png");
                //     background-repeat:no-repeat;
                //     background-position: center;
                // }
                // .group-item{
                //     background-image: url("../img/course/kanban-group.png");
                //     background-repeat:no-repeat;
                //     background-position: center;
                // }
                
        }
    
}

.general-wrap{
    background-color: $bg-pink;
    
    .wrapper{
        max-width: 1200px; 
        padding-top:40%;
        padding-bottom:10%;
        margin: auto;

        @include rwd(desktop){
            padding-top: 20%;
        }
        
        .general-item{
            width: 70%;
            position: relative;
            text-align:center; 
            margin: auto;
                @include rwd(desktop){
                    width: 30%;
                }

                img{
                    width: 100%;
                }

                .title{
                    position:absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                        @include rwd(desktop){
                        font-size: 40px
                        }
                }

                .subtitle{
                    position:absolute;
                    top:15%;
                    right: 12%;
                    transform:rotate(27deg);
                    @include rwd(medium){
                    top:19%;
                    right: 13%;
                    transform:rotate(29deg);
                    }
                    @include rwd(desktop){
                    top:20%;
                    right: 14%;
                    transform:rotate(30deg);
                    font-size: 14px;
                    }
                }
            
        }
        //????????????
        .line{
            visibility: hidden;
            width: 40%;
            margin: -20px auto;
            // display: flex;
            // align-items:center;
            // justify-content:center;
                text-align: center;
                
            img{
                width: 70%;
                margin: auto;
                z-index: -2;
                @include rwd(desktop){
                    width: 40%;
                }
            }
            
        }
        .info{
        background-color: #fff0f4;
        border: #de5673 solid 5px;
        border-radius: 20px;
        width: 90%;
        margin: auto;
        z-index: 2;
        .general-name{
            background-color:#de5673 ;
            border-radius: 20px;
            width: 60%;
            margin: auto ;
            text-align: center;
            height: 50px;
            line-height: 50px;
            transform: translateY(-50%);
                @include rwd(desktop){
                    width: 40%;
                }
                h2{
                    
                    color: #fff;
                    @include rwd(desktop){
                        font-size: 24px;
                        
                    }
                }
            }
            .info-box{
                @include rwd(desktop){
                    display: flex;
                }

                .diy-img{
                width: 80%;
                margin: auto;
                    img{
                        width: 100%;
                    }
                    @include rwd(desktop){
                    width: 50%;
                    padding: 5%;
                    }
                }
                        
                .diy-content{
                    width: 80%;
                    margin: auto;
                    @include rwd(desktop){
                        width: 50%;
                        padding: 5%;
                    }
                    .info-subtitle{
                        background-color: #ffd365;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        margin: 10px 0;
                        h4{
                            font-size: 18px;
                        }
                    }
                    .info-dec{
                        li{
                            font-size: 18px;
                            font-family: "GenJyuuGothic-B";
                            padding:10px 0 5px;
                        }
                        p{
                            font-size: 13px;
                            letter-spacing: 1px;
                            line-height: 15px;
                            @include rwd(desktop){
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }
                    }
                }


            }
        

            .course-btn{
                padding: 5% 0;
                    .course-ice-btn-out{
                    margin: auto;
                    @include ice-btn-out(135px,course-ice-btn-in,#fff,18px,3px,#6a3e26,我要預約);
  
                }
            }
            
            

        
        }
    }
    
} 

//揪團課程
.group-wrap{
    background-color: $bg-pink;
    .wrapper{
        max-width: 1200px; 
        padding-top:40%;
        padding-bottom:10%;
        margin: auto;

        @include rwd(desktop){
            padding-top: 20%;
        }
        
        .group-item{
            width: 70%;
            position: relative;
            text-align:center; 
            margin: auto;
                @include rwd(desktop){
                    width: 30%;
                }

                img{
                    width: 100%;
                }

                .title{
                    position:absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                        @include rwd(desktop){
                        font-size: 40px
                        }
                }

                .subtitle{
                    position:absolute;
                    top:15%;
                    right: 12%;
                    transform:rotate(27deg);
                    @include rwd(medium){
                    top:19%;
                    right: 13%;
                    transform:rotate(29deg);
                    }
                    @include rwd(desktop){
                    top:20%;
                    right: 14%;
                    transform:rotate(30deg);
                    font-size: 14px;
                    }
                }
            
        }
        .line{
            width: 40%;
            margin: auto;
            display: flex;
            align-items:center;
            justify-content:center;
            margin-top:-5%;

            img{
                width: 70%;
                @include rwd(desktop){
                    width: 40%;
                }
            }
            
        }
        .info{
        background-color: #fff0f4;
        border: #de5673 solid 5px;
        border-radius: 20px;
        width: 90%;
        margin: auto;

        .group-name{
            background-color:#de5673 ;
            border-radius: 20px;
            width: 80%;
            margin: auto ;
            text-align: center;
            height: 50px;
            line-height: 50px;
            transform: translateY(-50%);
                @include rwd(desktop){
                    width: 40%;
                }
                h2{
                    font-size: 18px;
                    color: #fff;
                    @include rwd(desktop){
                        font-size: 24px;
                        
                    }
                }
            }
            .info-box{
                @include rwd(desktop){
                    display: flex;
                }

                .diy-img{
                width: 80%;
                margin: auto;
                    img{
                        width: 100%;
                    }
                    @include rwd(desktop){
                    width: 50%;
                    padding: 5%;
                    }
                }
                        
                .diy-content{
                    width: 80%;
                    margin: auto;
                    @include rwd(desktop){
                        width: 50%;
                        padding: 5%;
                    }
                    .info-subtitle{
                        background-color: #ffd365;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        margin: 10px 0;
                        h4{
                            font-size: 18px;
                        }
                    }
                    .info-dec{
                        li{
                            font-size: 18px;
                            font-family: "GenJyuuGothic-B";
                            padding:10px 0 5px;
                        }
                        p{
                            font-size: 13px;
                            letter-spacing: 1px;
                            line-height: 15px;
                            @include rwd(desktop){
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }
                    }
                }


            }

            .course-btn{
                padding: 5% 0;
                    .course-ice-btn-out{
                    margin: auto;
                    @include ice-btn-out(135px,course-ice-btn-in,#fff,18px,3px,#6a3e26,我要開團);
  
                }
            }
        }
    }
}

//揪團-留言區
.course-message{
        padding-bottom: 10%;
        background-color: $bg-yellow;
        background-image: url(../img/background.png);
       .dividing{
           width: 100%;
           height: 20px;
           background-color: #ffb11b;
       }
       .second-title{
            padding: 5% 0;
            position: relative;
            text-align:center; 
            margin: auto;
            @include rwd(desktop){
                width: 70%;
            }
            img{
                width: 70%;
                @include rwd(desktop){
                    width: 60%;
                }
            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -70%);
                @include rwd(mobile){
                    font-size: 20px;
                    transform: translate(-50%,-60%);
                }
            }
        }
        .go-between{
            max-width: 1200px;
            width: 90%;
            margin: auto; 
            box-shadow: 8px 8px 3px #888;
            .heading{
                font-size: 18px;
                background-color: #f4cabd;
                padding: 3%;
                @include rwd(desktop){
                    font-size: 20px;
                }
            }
            .content{
                background-color: #ffdee6;
                padding: 3%;
                
                // @include rwd(desktop){
                //     display: flex;
                //     flex-wrap: wrap;
                //     justify-content: center;
                //     text-align: center;
                // }
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                .member-item{
                padding: 10px;
                max-width: 80px;
                max-height: 80px;
                text-align: center;
                @include rwd(desktop){
                    width: 20%;
                   }
                    img{
                        width: 80%;
                        height: 80%;
                    }
                    span{
                        font-size: 13px;
                    }
                }
                .input-area{ 
                    text-align: start;
                    // padding: 5%;
                    @include rwd(desktop){
                        width: 80%;
                       }
                    h5{
                    padding: 15px;
                    font-size: 18px;
                    display: inline-block;
                    text-align: center;
                    vertical-align: top;
                    }
                    input{
                        padding: 10px;
                        width: 100%;
                        border-radius:25px; 
                        border: none;
                    }
                    textarea{
                    
                        padding: 10px;
                        width: 100%;
                        border-radius:15px; 
                        border: none;
                    }
                  }
                  .open-btn{
                        margin-top:10px ;
                        
                        .open-btn-out{
                        width: 90%;
                        margin: auto;
                            @include ice-btn-out(135px,open-btn-in,#fff,18px,3px,#6a3e26,開團發佈);
                        }
                   }
                 
                
            }
           
        } 
        .love-line{
                max-width: 1200px;
                padding: 5% 0;
                width: 90%;
                margin: auto;
                img{
                    width: 100%;
                }
        }
        .form-btn{
            margin-top:10px ;  
            .form-btn-out{
            width: 90%;
            margin: auto;
                @include ice-btn-out(135px,form-btn-in,#fff,18px,3px,#6a3e26,主揪申請);
            }
       }

}
//預約表單-一般
.general-form-wrap{
    background-color: $bg-pink;
    background-image: url(../img/background.png);
    .wrapper{
        max-width: 1200px; 
        padding-top:20%;
        margin: auto;
        @include rwd(desktop){
            padding-top: 15%;
        }
        .title{
            padding: 5% 0;
            position: relative;
            text-align:center; 
            margin: auto;
            @include rwd(desktop){
                width: 70%;
            }
            img{
                width: 70%;
                @include rwd(desktop){
                    width: 60%;
                }
            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-78%);
                
                @include rwd(mobile){
                    font-size: 20px;
                    transform: translate(-50%,-60%);
                }
            }
        }
        form{
            margin: auto;
            @include rwd(desktop){
                width: 70%;
            }
            img{
                width: 20px;
                margin-right: 5px;
            }
            p{
                font-size: 18px;
                display: inline-block;
                color: $font-gray;
                @include rwd(desktop){
                    font-size: 24px;
                }
                // &::before{
                //     background-image: url(../img/btn/ICE.png);
                //     width: 10px;
                //     height: 10px;
                // }
                
            }
            .form-info{
                padding: 0 15px;
            }
            .check{
                padding-bottom: 20px;
                #course1, #course2,#time1,#time2,#time3,span{
                    visibility: hidden;
                }
                label{
                    font-size: 18px;
                    background-color: #fff;
                    padding: 5px;
                    vertical-align: middle;
                    border-radius: 10px;
                }
                input{
                    padding:10px;
                    height: 6%;
                    border-radius:10px; 
                    border: none;
                    font-size: 16px;
                    &:checked + label {
                    border: #ffb11b solid 2px;
                    }
                    &:checked > span{
                        visibility: visible;
                    }
                }
                span{
                    display: inline-block;
                    @include rwd(mobile){
                        display: block;
                    }
                }
            }
           

            #date-picker{
                padding: 10px 0;
                table {
                    vertical-align: middle;
                    background-color: #fff;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    border-radius:  0 0 10px 10px;
                    #mon{
                        padding: 20px 0;
                        background-color:#ea7187;
                        border-radius: 10px 10px 0 0;
                        color: #fff;
                        font-weight: bold;
                    }
                    th{
                        padding:60px 0 20px;
                        color: #ea7187;
                        font-weight: bold;
                    }
                    tr{
                        width: 100%;
                        height: 60px;
                    }
                    td{
                        width:14%;
                        height: 60px;
                        vertical-align:middle;
                       
                    }
                    .now{
                        background: #ea7187;
                        border-radius: 30px;
                        color: #fff;
                    }
                   
                }
                    
            }
            
            select{
                display: block;
                margin: 20px;
                width: 40%;
                height: 6%;
                border-radius:15px; 
                border: none;
                @include rwd(desktop){
                    width: 15%;
                }
            }
        }
        .form-btn{
            padding: 5% 0;
                .form-ice-btn-out{
                margin: auto;
                @include ice-btn-out(135px,form-ice-btn-in,#fff,18px,3px,#6a3e26,確認預約);
            }
        }

    }
}

//預約表單-揪團

.group-form-wrap{
    background-color: #fad689;
    background-image: url(../img/background.png);
   
    .wrapper{
        max-width: 1200px; 
        padding-top:30%;
        margin: auto;
        @include rwd(desktop){
            padding-top: 20%;
        }
        .title{
            padding: 5% 0;
            position: relative;
            text-align:center; 
            margin: auto;
            @include rwd(desktop){
                width: 70%;
            }
            img{
                width: 70%;
                @include rwd(desktop){
                    width: 60%;
                }
            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-78%);
                
                @include rwd(mobile){
                    font-size: 20px;
                    transform: translate(-50%,-60%);
                }
            }
        }
        form{
            margin: auto;
            @include rwd(desktop){
                width: 70%;
            }
            > span{
                font-size: 18px;
                display: block;
                padding: 15px;
                color: $font-gray;
                @include rwd(desktop){
                    font-size: 24px;
                }
                // &::before{
                //     background-image: url(../img/btn/ICE.png);
                //     width: 10px;
                //     height: 10px;
                // }
                img{
                    width: 20px;
                    margin-right: 5px;
                }
            }

            input{
                padding: 0 10px;
                width: 100%;
                height: 6%;
                border-radius:10px; 
                border: none;
                margin: 10px 0;
                font-size: 16px;
            }

            #date-picker{
                padding: 10px 0;
                table {
                    vertical-align: middle;
                    background-color: #fff;
                    width: 100%;
                    // height: 200px;
                    margin: auto;
                    text-align: center;
                    border-radius:  0 0 10px 10px;
                    #mon{
                        padding: 20px 0;
                        background-color:$bg-yellow;
                        border-radius: 10px 10px 0 0;
                        color: #fff;
                        font-weight: bold;
                    }
                    th{
                        padding:60px 0 20px;
                        color: #ffb11b;
                    }
                    tr{
                        width: 100%;
                        height: 60px;
                    }
                    td{
                        width:14%;
                        height: 60px;
                        vertical-align:middle;
                       
                    }
                    .now{
                        background: #ffb11b;
                        border-radius: 30px;
                        color: #fff;
                    }
                   
                }
                    
            }
            
            select{
                display: block;
                margin: 10px 0;
                width: 40%;
                height: 6%;
                border-radius:15px; 
                border: none;
                @include rwd(desktop){
                    width: 15%;
                }
            }
        }
        .form-btn{
            padding: 5% 0;
                .form-ice-btn-out{
                margin: auto;
                @include ice-btn-out(135px,form-ice-btn-in,#fff,18px,3px,#6a3e26,我要預約);
            }
        }

    }
   
    
}