@import "mixin/mixin";
*{
    // outline: #f00 solid 1px;
    text-decoration: none;  
}
body{
    font-family: "GenJyuuGothic-R";
}
//共用區
$bg-pink:#ffd9d9;
$bg-yellow:#f6c555;
$bg-light-yellow:#fff8e4;
$bg-blue:#c9fcfb;
$font-gray:#434343;
$deep-pink:#db4d6d;
.welcome-wrap,.general-wrap{
        .wrapper{
        padding: 150px 0;
        max-width: 1200px;
        margin: auto;
    }
}


//歡迎頁
.welcome-wrap{
    @include rwd(medium){
    background: $bg-blue url(../img/indexImg/diyIcebgc-top.png) no-repeat bottom center ;
    }
    height: 1000px;
    background-color: $bg-blue;
    
    .wrapper{
        padding: 150px 0;
        max-width: 1200px;
        margin: auto;
        @include rwd(desktop){
                padding-top: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
        }

    }
    .kanban{
        @include rwd(mobile){
           padding: 50px 0; 
            
        }
    }
    .gift{
        margin: auto;
        height: 80px;
        width: 400px; 
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        @include rwd(mobile){
            height: 60px;
            width: 300px; 
            
        }
        
        span{
            display: inline-block;
            line-height: 20px;
        }
    }

    @include out-Line-Font(group-subtitle,#fff,20px,5px,#6a3e26,不定時開課);
    @include out-Line-Font(general-subtitle,#fff,20px,5px,#6a3e26,每日固定開課);
    .gift-y{ 
        background-image: url(../img/course/gift-yellow.png);
    }
    .gift-p{ 
        background-image: url(../img/course/gift-pink.png);
    }
    .title-box{
        @include rwd(mobile){
            height: 250px;
            width: 300px;
            line-height: 210px;
        }
        background-color: #fff;
        height: 300px;
        width: 400px;
        border-radius: 20px;
        margin: auto;
        vertical-align: middle;
        text-align: center; 
        padding: 5%;
        line-height: 240px;
        .group-title{
            background-color: $bg-yellow;
        } 
        .general-title{
            background-color: $bg-pink;
        }
        h2{
            font-family: "GenJyuuGothic-B";
            border-radius: 15px;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            
        }
        @include out-Line-Font(group-title,#fff,40px,5px,#6a3e26,揪團課程);
        @include out-Line-Font(general-title,#fff,40px,5px,#6a3e26,一般課程);
    }
}

//一般課程
.general-wrap{
    background-color: $bg-pink;
    height: 1000px;
    
    .wrapper{
        padding: 100px 0;
        max-width: 1200px;
        margin: auto;
        @include rwd(desktop){
                padding-top: 200px;
        }

    }
    .general-ribbon{
         margin: auto;
         background: url(../img/ribbon.png)center center no-repeat;
         background-size: contain;
         text-align: center;
         height: 150px;
         width: 100%;    
         padding: 45px 0;
         @include rwd(medium){  
            width: 500px;
            height: 150px;
            padding: 30px 0;
        }  
            .subtitle{
            font-size: 13px;
            color: $font-gray;
            line-height: 26px;
            @include rwd(medium){  
            font-size: 18px;
            color: $font-gray;
            line-height: 32px;
            }
        }
            @include out-Line-Font(title,#fff,24px,3px,#6a3e26,一般課程);
            @include rwd(medium){ 
                @include out-Line-Font(title,#fff,40px,5px,#6a3e26,一般課程);
            }
    }
    .kanban-group{
       
        @include rwd(desktop){
           display: flex;
        }
    }
    .gift{   
        text-align:center; 
        position: relative;
        span{
            display: inline-block;
            color: #fff;
            position:absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,40%);
            @include rwd(desktop){
                font-size: 24px
            }

        }
          
    }
    .info-subtitle{
        border-bottom: $deep-pink solid 5px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 10px 0;
        h4{
            font-size: 18px;
        }
    }
    .info-dec{
        li{
            font-size: 18px;
            font-family: "GenJyuuGothic-B";
            padding:10px 0 5px;
        }
        p{
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 15px;
            @include rwd(desktop){
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

   

}