@import "mixin/mixin";
*{
    outline: none;
    // outline: #f00 solid 1px;
    text-decoration: none;  
    box-sizing: border-box;

}
body{
    font-family: "GenJyuuGothic-R";
}
//共用區
$bg-pink:#ffd9d9;
$bg-yellow:#f6c555;
$bg-medium-yellow:#fad689;
$bg-light-yellow:#fff8e4;
$bg-blue:#c9fcfb;
$font-gray:#434343;
$deep-pink:#db4d6d;

.group-wrap,.general-wrap{
    .cloud{
        display: none;
        z-index: 0;
    }
    @include rwd(medium){
    .cloud{
        display: block;
        position: absolute;
    }
    .cloud:nth-child(0n + 1){
        left: 0;
        width: 10%;
        top:30%;
        animation: clouda 20s linear 0s infinite alternate;
    }
    .cloud:nth-child(0n + 2){
        width: 8%;
        top: 60%;
        left: 20%;
        animation: clouda 30s linear 1s infinite alternate;
    }
    .cloud:nth-child(0n + 3){
        width: 18%;
        right: 10%;
        top: 20%;
        animation: cloudb 40s linear 0s infinite alternate;
    }
    .cloud:nth-child(0n + 4){
        width: 9%;
        top: 50%;
        right: 0%;
        animation: cloudb 50s linear 1s infinite alternate;
    }
    .cloud:nth-child(0n + 5){
        width: 15%;
        right: 80%;
        top: 40%;
        animation: cloudb 60s linear 0s infinite alternate;
    }

    @keyframes clouda {
        0% {
        transform: translateX(0);
        opacity: 1;
        }
        50% {
        transform: translateX(500%);
        opacity: 0.5;
        }
        100% {
        transform: translateX(1000%);
        opacity: 1;
        }
    }

        @keyframes cloudb {
            0% {
            transform: translateX(100%);
            opacity: 1;
            }
            50% {
            transform: translateX(-500%);
            opacity: 0.5;
            }
            100% {
            transform: translateX(-1000%);
            opacity: 1;
            }
        }
    }
}

//歡迎頁
.welcome-wrap{
    @include rwd(mobile){
        .spaceship{
            display: none;
        }
     }
  
    @include rwd(medium){
        .spaceship{
        position: absolute;
        transform: scale(0.4);
        animation: airBall 10s linear ; 
        animation-fill-mode: forwards;
       }
        @keyframes airBall {
            0% {
              left: -50%;
              top:15%; }
            20% {
              top: 5%; }
            40% {
              top: 15%; }
            50% {
              top: 5%; }

            70% {
              top: 15%; }
            100% {
              left: 100%;
              top: 5%; 
             } 
        }
    }
    
    @include rwd(medium){
    background: $bg-blue url(../img/indexImg/diyIcebgc-top.png) no-repeat bottom center ;
     width: 100%;
     height: 100%;
    }
     background-color: $bg-blue;
     
    .wrapper{
        padding:10% 0;
        max-width: 1200px;
        margin: auto;
        @include rwd(desktop){
            padding-top: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .kanban{
        width: 100%;
        margin: auto;
        @include rwd(mobile){
           padding: 50px 0;  
        }
        @include rwd(medium){
            opacity:0;
            position: relative;  
        }

    }

    @include rwd(medium){
        .kanban-y{
            //animation: name duration timing-function delay iteration-count direction;
              animation: throw-gift-y 0.8s  ease-in 4s 1 ; 
              animation-fill-mode: forwards;// 在動畫結束之後，停在 100% 的狀態
          }
          .kanban-p{
              //animation: name duration timing-function delay iteration-count direction;
                animation: throw-gift-p 0.8s  ease-in 7s 1 ; 
                animation-fill-mode: forwards;// 在動畫結束之後，停在 100% 的狀態
          }
          @keyframes throw-gift-y{
              0%{
              opacity:0;
              transform:scale(0.3);
              }
              100%{ 
                  opacity:1;//透明度
                  transform:scale(1);
              }
      
          }
          @keyframes throw-gift-p {
              0%{
              opacity:0;
              transform:scale(0.3);
              }
              100%{ 
                  opacity:1;//透明度
                  transform:scale(1);
              }
      
          }
    }

    
    .gift{   
        text-align:center; 
        position: relative;
        width: 100%;
        margin: auto;
        span{
            display: inline-block;
            color: #fff;
            position:absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,40%);
            font-size: 20px;
            @include rwd(desktop){
                font-size: 24px
            }

        }
          
    }

    .title-box{
        @include rwd(mobile){
            height: 250px;
            width: 300px;
            line-height: 210px;
        }
        background-color: #fff;
        height: 300px;
        width: 350px;
        border-radius: 20px;
        margin: auto;
        vertical-align: middle;
        text-align: center; 
        padding: 5%;
        line-height: 240px;
        .group-title{
            background-color: $bg-yellow;
        } 
        .general-title{
            background-color: $bg-pink;
        }
        h2{
            font-family: "GenJyuuGothic-B";
            border-radius: 15px;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            
        }
        @include out-Line-Font(group-title,#fff,40px,5px,#6a3e26,揪團課程);
        @include out-Line-Font(general-title,#fff,40px,5px,#6a3e26,一般課程);
    }
}

//一般課程
.general-wrap{
    background-color: $bg-pink;
    .wrapper{
        padding-top: 30%;
        max-width: 1200px;
        margin: auto;
        @include rwd(medium){
                padding-top: 200px;
        }
    }
    .general-ribbon{
         margin: auto;
         background: url(../img/ribbon.png)center center no-repeat;
         background-size: contain;
         text-align: center;
         height: 150px;
         width: 100%;    
         padding: 45px 0;
         @include rwd(medium){  
            width: 500px;
            height: 150px;
            padding: 30px 0;
        }  
            .subtitle{
            font-size: 13px;
            color: $font-gray;
            line-height: 26px;
            @include rwd(medium){  
            font-size: 18px;
            color: $font-gray;
            line-height: 32px;
            }
        }
            @include out-Line-Font(title,#fff,24px,3px,#6a3e26,一般課程);
            @include rwd(medium){ 
                @include out-Line-Font(title,#fff,40px,5px,#6a3e26,一般課程);
            }
    }
    .kanban-group{
        @include rwd(medium){
           display: flex;
        } 
        .kanban{
            width: 80%;

            margin: auto;
            @include rwd(medium){
                padding: 30px;
             } 
        }   
        
        .gift{
            top:2px;
            img{
                width: 100%;
            }
            text-align:center; 
            position: relative;
            span{
                width: 100%;
                display: inline-block;
                color: #fff;
                position:absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,40%);
                @include rwd(desktop){
                    font-size: 24px;
                    transform: translate(-50%,70%);
                }

            }
          
        }

        .content-box{
            padding-top: 30px;
            border: $deep-pink solid 5px;
            border-radius: 10px;
            background-color: #fff;
            .diy-img{
                width: 60%;
                margin: auto;
                img{
                    width: 100%;
                }
            }
            .info-title{
                width: 80%;
                margin: auto;
                text-align: center;
                border-bottom: $deep-pink solid 2px;
                 h4{
                font:20px "A-OTF-M";
               }
            }
            

        .info-dec{
            width: 75%;
            margin: auto;
            li{
                font-size: 18px;
                font-family: "GenJyuuGothic-B";
                padding:10px 0 5px;
            }
            p{
                font-size: 13px;
                letter-spacing: 1px;
                line-height: 15px;
                @include rwd(desktop){
                    font-size: 16px;
                    line-height: 20px;
                }
            }  
        }
            .course-btn{
                padding: 20px;
                .course-ice-btn-out{
                    margin: auto;
                }
            }
            @include ice-btn(course-ice-btn-out,135px,course-ice-btn-in,20px,20px, 我要預約);
        }
    }
}
//一般課程-留言板
.message-cloud{
    height: 200px;
        @include rwd(medium){
             height: 400px;
        }
    background:$bg-pink url(../img/course/cloud-message.png) bottom center no-repeat ;
    background-size: 100%;
   
}
.general-message-wrap{
    background-color: $bg-light-yellow;
    padding-bottom:50px; 
    .title-box{
        text-align: center;
        @include out-Line-Font(message-title,#fff,40px,8px,$deep-pink,課程留言板);
        h3{
            font-family: A-OTF-M ;
        }
        span{
            text-align: center;
            font-size: 18px;
            color: $font-gray;
            font-family: A-OTF-M ;
            line-height: 32px;
        }
    }
    .leave-message-wrap{
        @include rwd(medium){
               width: 70%;
        }
        width: 90%;
        margin: 30px auto;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: $deep-pink;
        margin: 20px auto;
            .message-mem{ 
                text-align: center;
                line-height: 1.5;
                i{
                    color: #fff;
                    font-size: 50px;
                }
                p{
                    font-size: 18px;
                    color: #fff;
                }
            }
            .balloons{
                textarea{
                    width: 100%;
                    font-size: 16px;
                    border-radius: 20px;
                    border: 3px solid #6a3e26;
                    padding: 10px;
                    height: 200px;
                    line-height: 1.5;
                    resize: none;
                }
            }
            .message-btn{
                padding-top: 20px;
                .message-btn-out{
                    width: 100%;
                    margin: auto;
                }
            @include btn(message-btn-out,135px,message-btn-in,20px, 我要留言);
            }
    }
    .mem-message-wrap{
        @include rwd(medium){
            width: 70%; 
            padding: 20px 30px ;
            font-size: 18px;
     }
     width: 90%;
     padding:10px 20px ;
     margin: 30px auto 0 ;
     font-size: 16px;
    
        border-radius: 10px;
        background-color:#FFC8C7 ;
        .mem-message-item{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 10px 0;
        }
        
        .message-mem{ 
            text-align: center;
            i{
                color: #aaa;
                font-size:55px;
            }
        }
        .message-con{
            p{
                color: #434343;
            }
            padding: 10px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
            position: relative;;
            &::before{
                content: "";
              
                border-style: solid solid solid solid; 
                border-color:transparent   #fff transparent transparent;
                border-width: 15px  25px 15px 15px;
                height: 0px; 
                width: 0px; 
                position:absolute;
                left: -40px;
                top: 20px;
                @include rwd(mobile){
                    border-width: 10px  15px 10px 10px;
                    left: -25px;
                    top: 20px;
                 }
            }
            .mem-ifo{
                width: 95%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                padding-bottom:10px; 
                border-bottom: $deep-pink solid 1px;
            }
            .mem-con{
                width: 95%;
                margin: auto;
                line-height: 36px;
            }
        }
        .more-btn{
            padding-top: 20px;
            .more-btn-out{
                width: 100%;
                margin: auto;
            }
        @include btn(more-btn-out,135px,more-btn-in,20px, 查看更多);
        }
    }
}

//一般課程預約表單
.general-form-wrap{
    background-color: $bg-pink;
    background-image: url(../img/background.png);

    .wrapper{
       
        padding-bottom:10%; 
        max-width: 1200px; 
        padding-top:30%;
        margin: auto;
        @include rwd(desktop){
            padding-top: 150px;
        }
        .title{
            padding: 5% 0;
            position: relative;
            text-align:center; 
            margin: auto;
            @include rwd(desktop){
                width: 70%;
            }
            img{
                width: 70%;
                @include rwd(desktop){
                    width: 60%;
                }
            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-75%);
                @include rwd(mobile){
                    font-size: 20px;
                  
                }
            }
        }
        form{
            padding: 5%;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 3px 3px 10px #aaa;
            margin:  auto ;
            @include rwd(desktop){
                width: 70%;
            }
            img{
                width: 20px;
                margin-right: 5px;
            }
            p{
                font-size: 18px;
                display: inline-block;
                color: $font-gray;
                @include rwd(desktop){
                    font-size: 24px;
                }
                // &::before{
                //     background-image: url(../img/btn/ICE.png);
                //     width: 10px;
                //     height: 10px;
                // }
                
            }
            .form-info{
                padding: 0 15px;
            }
            .check{
                padding-bottom: 20px;
                #course1, #course2,#time1,#time2,#time3,span{
                    visibility: hidden;
                }
                label{
                    border: 3px solid #6a3e26;
                    font-size: 18px;
                    background-color: #fff;
                    padding: 10px 20px;
                    vertical-align: middle;
                    border-radius: 10px;
                    box-shadow: 2px 2px 2px #888888;
                }
                input{
                    padding:10px;
                    height: 6%;
                    border-radius:10px; 
                    border: none;
                    font-size: 16px;
                    &:checked + label {
                    border: #ffb11b solid 5px;
                    }
                    &:checked + label + span{
                        visibility: visible;
                    }
                }
                span{
                    display: inline-block;
                    @include rwd(mobile){
                        display: block;
                    }
                }
                .check-pic{
                    position: relative;
                    top: -20px;
                    right:15px;
                }
            }
           

            #date-picker{
                padding: 10px;
                margin: 15px;
                
                table {
                    vertical-align: middle;
                    background-color: #fff;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    border-radius:  0 0 10px 10px;
                    box-shadow: 2px 2px 2px #888888;
                    #mon{
                        padding: 20px 0;
                        background-color:#ea7187;
                        border-radius: 10px 10px 0 0;
                        color: #fff;
                        font-weight: bold;
                        box-shadow: 2px 2px 2px #888888;
                    }
                    th{
                        padding:60px 0 20px;
                        color: #ea7187;
                        font-weight: bold;
                    }
                    tr{
                        width: 100%;
                        height: 60px;
                    }
                    td{
                        width:14%;
                        height: 60px;
                        vertical-align:middle;
                       
                    }
                    .now{
                        background: #ea7187;
                        border-radius: 30px;
                        color: #fff;
                    }
                }
                    
            }
            select{
                border: 3px solid #6a3e26;
                display: block;
                margin: 20px 30px;
                width: 40%;
                height: 6%;
                border-radius:15px; 
       
                @include rwd(desktop){
                    width: 15%;
                }
            }
        }
        .form-btn{
            padding: 5% 0;
     .form-ice-btn-out{
         width: 100%;
         margin: auto;
     }
                @include ice-btn(form-ice-btn-out,135px,form-ice-btn-in,18px,18px,確認預約);

        }

    }
}



//揪團課程-預約表單

.group-form-wrap{
    background-color: #fad689;
    background-image: url(../img/background.png);
   
    .wrapper{
        max-width: 1200px; 
        padding-top:30%;
        padding-bottom:10%; 
        margin: auto;
        @include rwd(desktop){
            padding-top: 150px;
        }
        .title{
            padding: 5% 0;
            position: relative;
            text-align:center; 
            margin: auto;
            @include rwd(desktop){
                width: 70%;
            }
            img{
                width: 70%;
                @include rwd(desktop){
                    width: 60%;
                }
            }
            h3{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-78%);
                
                @include rwd(mobile){
                    font-size: 20px;
                    transform: translate(-50%,-60%);
                }
            }
        }
        form{
            padding: 5%;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 3px 3px 10px #aaa;
            margin: auto;
            @include rwd(desktop){
                width: 70%;
            }
            > span{
                font-size: 18px;
                display: block;
                padding: 15px;
                color: $font-gray;
                @include rwd(desktop){
                    font-size: 24px;
                }
                // &::before{
                //     background-image: url(../img/btn/ICE.png);
                //     width: 10px;
                //     height: 10px;
                // }
                img{
                    width: 20px;
                    margin-right: 5px;
                }
            }

            input{
               
                padding: 20px;
              
                width: 100%;
                height: 6%;
              
                font-size: 18px;
                border-radius: 20px;
                border: 3px solid #6a3e26;
                margin: 10px 0;
           
            }

            #date-picker{
           
                margin: 10px 0;
                border-radius: 20px;
                border: 5px solid $bg-yellow;
                table {
                    vertical-align: middle;
                    background-color: #fff;
                    width: 100%;
                    // height: 200px;
                    margin: auto;
                    text-align: center;
                    border-radius:  0 0 10px 10px;
                    #mon{
                        padding: 20px 0;
                        background-color:$bg-yellow;
                        border-radius: 10px 10px 0 0;
                        color: #fff;
                        font-weight: bold;
                    }
                    th{
                        padding:60px 0 20px;
                        color: #ffb11b;
                    }
                    tr{
                        width: 100%;
                        height: 60px;
                    }
                    td{
                        width:14%;
                        height: 60px;
                        vertical-align:middle;
                       
                    }
                    .now{
                        background: #ffb11b;
                        border-radius: 30px;
                        color: #fff;
                    }
                   
                }
                    
            }
            
            select{
                border: 3px solid #6a3e26;
                display: block;
                margin: 10px 0;
                height: 40px;
                @include rwd(desktop){
                    width: 15%;
                }
            }
        }
        .form-btn{
            padding: 5% 0;
            .form-ice-btn-out{
                 width: 90%;
            margin: auto;
            }
           
            @include ice-btn(form-ice-btn-out,135px,form-ice-btn-in,18px,18px,  確認預約);
        }
    }   
}

//揪團課程
.group-wrap{
    background-color: #9dc5f6 ;
    
    .wrapper{
       
        padding-top: 30%;
        max-width: 1200px;
        margin: auto;
        @include rwd(desktop){
                padding-top: 200px;
        }

        .group-ribbon{
            z-index: 1;
            margin: auto;
            background: url(../img/ribbon.png)center center no-repeat;
            background-size: contain;
            text-align: center;
            height: 150px;
            width: 100%;    
            padding: 45px 0;
            @include rwd(medium){  
               width: 500px;
               height: 150px;
               padding: 30px 0;
            }  
            .subtitle{
            font-size: 13px;
            color: $font-gray;
            line-height: 26px;
                @include rwd(medium){  
                font-size: 18px;
                color: $font-gray;
                line-height: 32px;
                }
           }
               @include out-Line-Font(title,#fff,24px,3px,#6a3e26,揪團課程);
               @include rwd(medium){ 
                   @include out-Line-Font(title,#fff,40px,5px,#6a3e26,揪團課程);
               }
       }
        .kanban{
            z-index: 3;
            width: 90%;
            margin: auto;
            @include rwd(medium){
                  width: 70%;
                  padding: 30px;
                  margin: auto;
            }
            .gift{
                top:2px;
                img{
                    width: 100%;
                }
                text-align:center; 
                position: relative;
                span{
                    width: 100%;
                    font-size:18px;
                    display: inline-block;
                    color: #fff;
                    position:absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,70%);
                    @include rwd(medium){
                        font-size: 32px;  
                        transform: translate(-50%,110%);
                    }
                }
            } 
                .content-box{
                padding-top: 30px;
                border: $bg-medium-yellow solid 5px;
                border-radius: 10px;
                background-color: #fff;
                @include rwd(desktop){
                    display: flex;
                    flex-flow: row wrap; 
                }
                .diy-img{
                    img{
                        @include rwd(mobile){
                        width: 80%;
                        margin: auto;
                        } 
                    }
                    text-align: center;
                }
                .info-title{
                    width: 80%;
                    margin: auto;
                    text-align: center;
                    border-bottom: $bg-medium-yellow solid 2px;
                    h4{
                    font:20px "A-OTF-M";
                }
                }
                .info-dec{
                    width: 75%;
                    margin: auto;
                    li{
                        font-size: 18px;
                        font-family: "GenJyuuGothic-B";
                        padding:10px 0 5px;
                    }
                    p{
                        font-size: 13px;
                        letter-spacing: 1px;
                        line-height: 15px;
                        @include rwd(desktop){
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }  
                }
                .course-btn{
                    padding: 20px;
                    .course-ice-btn-out{
                        margin: auto;
                    }
                }
                @include ice-btn(course-ice-btn-out,135px,course-ice-btn-in,20px,20px, 我要開團);
            }
        }   
 
    
    }

}
//揪團留言板 
 .group-message-cloud{
        height: 200px;
        @include rwd(medium){
             height: 400px;
        }
        background:#9dc5f6 url(../img/course/course-Wcloud.png)center bottom  no-repeat;
        background-size: 100%;
  
    }
.group-message-wrap{ 
    background-color: $bg-light-yellow;
    position: relative;
  
    .title-box{
        transform: translateY(-1%);
   
        background-color: $bg-light-yellow;
        text-align: center;
        @include out-Line-Font(message-title,#fff,40px,8px,$deep-pink,開團留言板);
        h3{  
          
            font-family: A-OTF-M ;
        }
        span{
            text-align: center;
            font-size: 18px;
            color: $font-gray;
            font-family: A-OTF-M ;
            line-height: 32px;
        }
    }
    
    
    .group-message{
        max-width: 1200px;
        margin: auto;
        .open-group{
            margin: 30px;
            padding: 20px 30px;
            background-color: $bg-yellow;
            border-radius: 10px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            p{
                font-size: 20px;
                color:$font-gray;
            }
            .time{
                font-size: 16px;
            }
            .message-meb{
                text-align: center;
                line-height: 30px;
                i{
                    color: #fff;
                    font-size: 50px;
                }
            }
            .write-area{
                line-height: 2;
                input{
                    width: 90%;
                    font-size: 16px;
                    border-radius: 20px;
                    border: 3px solid #6a3e26;
                    padding: 10px;
                }
                textarea{
                    width: 90%;
                    font-size: 16px;
                    border-radius: 20px;
                    border: 3px solid #6a3e26;
                    padding: 10px;
                    height: 200px;
                    line-height: 1.5;
                    resize: none;
                }
            }
            .message-btn{
                padding-top: 20px;
                
                .message-btn-out{
                    width: 100%;
                    margin: auto;
                }
                @include btn(message-btn-out,135px,message-btn-in,20px, 我要留言);
            }
  
        }
        .love-line{
           width: 100%;
           padding:50px 0;
           @include rwd(mobile){
            width: 90%;
            padding:20px 0;
            margin: auto;
            img{
                width: 100%;
            }
          }
        }
        .array-btn{
            padding: 50px;
            .array-ice-btn-out{
                margin: auto;
            }
        }
        @include ice-btn(array-ice-btn-out,135px,array-ice-btn-in,20px,20px, 主揪報團);
        .team-name{ 
            background-color: $bg-yellow;
            margin: 100px 0;
            text-align: center;
            font: 18px 'A-OTF-M';
            color:$font-gray;
            width: 70%;
            margin: auto;
            height: 40px;
            border-radius:40px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
            transform: translateY(50%);
            @include rwd(medium){
                font: 24px 'A-OTF-M';
                width: 40%;
                height: 50px;
                border-radius:50px;
            }
        }
        .main-group-message{
            padding-top:50px; 
            margin-bottom: 50px;
            background-color:$bg-medium-yellow;
            border-radius: 10px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            @include rwd(mobile){
               width: 95%;
               margin: auto
            }
            p{
                font-size: 16px;
                color:$font-gray;
                @include rwd(medium){
                
                    font-size: 18px;
                }
            }
            .time{
                font-size: 16px;
            }
            .message-meb{
                text-align: center;
                line-height: 30px;
                i{
                    color: #aaa;
                    font-size: 50px;
                }
                @include rwd(mobile){
                   margin: 0  20px 0 0;
                 }
            }
            .message-con{
                font-size: 16px;
                background-color: #fff;
                border-radius:10px;
                line-height: 1.5;
                width: 70%;
                height: 180px;
                padding:10px;
                position: relative;;
                &::before{
                    content: "";
                    border-style: solid solid solid solid; 
                    border-color:transparent   #fff transparent transparent;
                    border-width: 15px  25px 15px 15px;
                    height: 0px; 
                    width: 0px; 
                    position:absolute;
                    left: -40px;
                    top: 20px;
                    @include rwd(mobile){
                        border-width: 10px  15px 10px 10px;
                        left: -25px;
                        top: 20px;
                     }
                }
                @include rwd(medium){
                   height: 180px;
                   font-size: 18px;
                   padding:10px  20px;
                }
            }
            
            .message-btn{
                padding: 20px 0;
                .message-btn-out{
                    width: 100%;
                    margin: auto;
                }
                @include btn(message-btn-out,135px,message-btn-in,20px, 我要參加);
            }
           
        }
    }  

    .pop-box{
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
		height: 100%;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        .pop-up{
            margin: auto;
            @include rwd(medium){
                width:80%;
                height:70%;
            }
               #closeBtn{
                @include rwd(medium){
                    top:15%;
                 
                }
                    position: absolute;
                    top:10%;
                    right: 10%;
                    cursor: pointer;
                   img{
                    width: 50px;
                    height: 50px;
                   }
                }
                .pop-team-name{
                    @include rwd(medium){
                        width: 30%;
                        top: 20%;
                        left: 35%;
                        height: 45px;
                        line-height: 45px;
                    } 
                     p{
                        color: #fff;
                        font-size: 16px ; 
                        @include rwd(medium){
                            font-size: 20px ; 
                        }
                    }
                    box-shadow: #FFF8E4 2px 2px 3px;
                    background-color: #434343 ;
                    border-radius: 45px;
                    text-align: center;
                    width:80%;
                    height: 35px;
                    line-height: 35px;
                    position: absolute;
                    top: 20%;
                    left: 10%;
               
            }
            .pop-content{
                @include rwd(medium){
                background: url(../img/course/pop-bg.png)center center  no-repeat;
                background-size: contain;
                height:100%;
                width:100%;
                }
                @include rwd(mobile){
                background-color:#BEC23F ;
                border-radius: 10px;
                width:90%;
                height: 50%;
                margin: auto;
            }
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                padding-top: 15%;
                p{
                    font-size: 16px;
                    color: #434343;
                    line-height: 1.5;
                }
                .time{
                    font-size: 13px;
                }
                
                .pop-main-message{
                    @include rwd(mobile){
                        background-color: $bg-medium-yellow;
                        height: 70%;
                        p{
                          font-size:13px;  
                        }
                    }
                    @include rwd(medium){
                        width: 55%;
                        height: 33%;
                        background-color: #C9D34A;
                    }
                    box-shadow: #ccc 1px 1px 3px;
                    padding:10px 20px;
                   
                    border-radius: 20px;
                    display: flex;
                    flex-flow: row wrap;
                    .message-con{
                        padding: 0 15px;
                    }
                }

                .message-meb{
                    text-align: center;
                    line-height: 30px;
                    i{
                        color: #434343;
                        font-size: 50px;
                    }
                
                }

                .all-message{
                    display:none;
                    padding:10px 20px;
                    background-color: #bec23f;
                    border-radius: 10px;
                    height: 33%;
                    width: 50%;
                    @include rwd(medium){
                        display: block;
                    }
                    
                    .meb-add-message {
                        background-color: #FFF0F4;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        padding: 5px;
                        .meb{
                            text-align: center;
                            i{
                            color: #434343;
                            font-size: 30px;
                            }
                            .name{
                            font-size:13px;
                            }
                        }
                      
                    }
                }
                .pop-leave-message{
                    vertical-align: middle;
                    @include rwd(mobile){
                     
                    }
                    @include rwd(medium){
                        width: 55%;
                        height: 15%;
                        display: flex;
                        justify-content:space-between;
                    }
                    
                    #leave-message-box {
                    font-size: 16px;
                    padding:0 20px;
                    width: 100%;
                    height: 50px;
                    border-radius: 50px;
                    border: #6a3e26  solid 3px;
                    margin: auto ;
                        @include rwd(mobile){
                            font-size: 13px;
                            padding:0 10px;
                            height: 30px;
                            border-radius: 30px; 
                        
                        }
                       
                    }
                    @include rwd(mobile){
                    .message-btn{
                        .message-btn-out{
                            width: 80%;
                            margin: auto;
                            @include btn(message-btn-out,100px,message-btn-in,16px, 留言參加);
                        } 
                    }
                }
                    .message-btn{
                        margin: auto;
                        // @include btn(message-btn-out,135px,message-btn-in,20px, 留言參加);
                        @include btn(message-btn-out,100px,message-btn-in,16px, 留言參加);
                    }
                }
            }

        }
   
    }
 
}