@import "mixin/mixin";
@font-face {
    font-family: "A-OTF-M";
    src: url(../font/A-OTF/A-OTF-MaruFoPro-Medium.otf);
}
.show{
	width: 100vw;
    background-image: url('../img/indexImg/heroImg.png'),url('../img/indexImg/hero-bgi-cloud-b.png'),url('../img//indexImg/hero-bgi-cloud-b.png'),linear-gradient(to bottom,#fff8e4 0%,  #f7a1c1 100%);
    background-size: 100%,cover,cover,100%;
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
    background-position: center bottom,20% 100%,80% 100%,center;
    animation: shake 20s infinite alternate linear;
    @include rwd(mobile){
        background-image:linear-gradient(to bottom,#fff8e4 0%,  #f7a1c1 100%);
    }
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    @include rwd(mobile){
        flex-flow: column wrap;
    }
    .main{
        width: 20%;
        height: 100vh;
        @include rwd(mobile){
            width: 100%;
            height: 20vh;
            order: -1;
        }
        .logo{
            width: 80%;
            margin: auto;
            padding-top: 25%;
            img{
                width: 100%;
            }
            @include rwd(mobile){
                width: 50%;
                padding: 0;
            }
        }
    }
    .aside{
        width: 40%;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include rwd(mobile){
            width: 100%;
            height: 40vh;
        }
        .item{
            width: 40%;
            position: relative;
            .box{
                width: 100%;
                border-radius: 50%;
                z-index: 2;
                text-align: center;
                a{
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    h1{
                        font:4vw "A-OTF-M";
                        text-shadow: 1px 1px 3px #949494;
                        line-height: 2;
                        color: #fff;
                        text-align: center;
                        @include rwd(mobile){
                            color: #6a3e26;
                            font: 40px "A-OTF-M";
                        }
                    }
                    h2{
                        @extend h1;
                    }
                }
                &:hover{
                    h1{
                        color: #6a3e26;
                    }
                }
            }
            figure{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                z-index: 0;
                pointer-events: none;
                @include rwd(mobile){
                    width: 80%;
                }
                img{
                    width: 100%;
                }
                .img1{
                    animation: rot 10s linear infinite;
                }
                .img2{
                    animation: rerot 10s linear infinite;
                }
            }
        }
    }
    .left{
        justify-content: flex-end;
        @include rwd(mobile){
            justify-content: center;
        }
    }
    .right{
        justify-content: flex-start;
        @include rwd(mobile){
            justify-content: center;
        }
    }
    .ice-group{
        position: absolute;
        width: 100%;
        height: 100%;
        @include rwd(mobile){
            display: none;
        }
        .ice{
            position: absolute;
            img{
                width: 100%;
            }
        }
        .ice-a{
            bottom: 10%;
            left: 20%;
        }
        .ice-b{
            bottom: 15%;
            left: 5%;
        }
        .ice-c{
            bottom: 13%;
            right: 40%;
        }
        .ice-d{
            bottom: 20%;
            right: 5%;
        }
        .ice-e{
            bottom: 18%;
            left: 35%;
        }
        .ice-f{
            bottom: 23%;
            left: 12%;
        }
        .ice-g{
            bottom: 16%;
            right: 13%;
        }
    }
}
@keyframes rot{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes rerot{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}
@keyframes shake{
    0%{
        background-position: center bottom,20% 100%,80% 100%,center;
    }
    100%{
        background-position: center bottom,40% 100%,60% 100%,center;
    }
}