@import "mixin/mixin";
$break:#9dc5f6;
$true:#6bdbda;
$hot:#ea7187;
$single:#fad689;
$cofe:#6a3e26;
.banner{
	background-color: #fad689;
	background-image: url(../img/indexImg/diyIcebgc-top.png),url(../img/message/cloud-pink.png),url(../img/background.png);
	background-position:bottom,bottom,center;
	background-repeat: no-repeat,no-repeat,repeat;
    background-size: 100%,100%,auto;
	width: 100%;
	padding-top: 50px;
	.banner-heart-group{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		@include rwd(mobile){
			display: none;
		}
		.heart-b-item{
			width: 20%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
				.line-left{
					height: 100px;
				}
				.line-right{
					height: 200px;
				}
				.line{
					display: block;
					position: relative;
					width: 6px;
					background-color: #fc7389;
					img{
						position: absolute;
						top: 85%;
						left: -730%;
						margin: auto;
					}
				}
			}
			.heart-s-item{
				.line{
					display: block;
					position: relative;
					width: 6px;
					background-color: #fc7389;
					height: 150px;
					img{
						position: absolute;
						top: 85%;
						left: -730%;
						margin: auto;
					}
				}
			}
        }
        .title{
            width: 100%;
            max-width: 1200px;
            text-align: center;
            padding: 5% 0 0;
			margin: auto;
			@include rwd(mobile){
				padding:20% 0 0;
			}
			.title-img{
				position: relative;
				img{
					width: 100%;
					max-width: 538px;
				}
				h1{
					@include out-Line-Font(high,#fff,40px,8px,$cofe,愛的留言);
					line-height: 80px;
					color: #fff;
					font: 40px "A-OTF-M";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
				}
			}
        }
        .banner-item-group{
        	width: 100%;
        	display: flex;
        	flex-flow: row nowrap;
        	justify-content: space-around;
        	.icecream-group{
        		width: 40%;
        		display: flex;
        		flex-flow: row nowrap;
				align-items: center;
				justify-content: flex-start;
				@include rwd(mobile){
					display: none;
				}
				.icecream-item-blue{
					width: 30%;
					img{
						width: 100%;
					}
				}
				.icecream-item-yellow{
					width: 20%;
					img{
						width: 100%;
					}
				}
        	}
        	.fly-item{
				@include rwd(mobile){
					padding: 3% 0;
					width: 40%;
				}
        		img{
        			width: 100%;
        		}
        	}
        }
}
.btn{
    background-color: #fff8e4;
    .btn-group{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: flex;
		flex-flow: row nowrap;
		align-items: center;
        padding: 20px;
		box-sizing: border-box;
		@include rwd(mobile){
			flex-flow: column nowrap;
		}
        .btn-filter-group{
            width: 60%;
            padding: 10px 30px;
            box-sizing: border-box;
            background-color: #fad689;
            border-radius: 20px;
            font-family: "A-OTF-M";
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			@include rwd(mobile){
				flex-flow: column nowrap;
				width: 90%;
				order: 2;
			}
			h2{
				font: 24px "A-OTF-M";
				@include rwd(mobile){
					width: 100%;
				}
			}
			.filter-item{
				cursor: pointer;
				@include rwd(mobile){
					display: none;
				}
				button{
					cursor: pointer;
					background-color: #a3a3a3;
					border: none;
					padding: 0 25px;
					border-radius: 10px;
					box-shadow: 0px 3px 0px #555;
					color: #fff;
					font:18px "A-OTF-M";
				}
				&:hover{
					button{
						transform: translateY(2px);
						box-shadow: 0px 1px 0px #555;
						transition: .3s;
					}
				}
			}
			.filter-active{
				button{
					background-color: #fc7389;
				}
			}
        }
        .leave-message{
			width: 20%;
			margin-left: auto;
			margin-right: 20px;
			text-decoration: none;
			font-family: "A-OTF-M";
			@include rwd(mobile){
				margin-right: auto;
			}
		}
		#filter-pull{
			display: none;
			@include rwd(mobile){
				display: block;
				width: 100%;
				padding: 10px 20px;
				box-sizing: border-box;
				border: 3px solid $cofe;
				border-radius: 20px;
				font: 16px "A-OTF-M";
			}
		}
    }
}
@include ice-btn(leave-message,100%,leave-message-btn,24px,24px,我要留言);
@keyframes upDown{
	0%{
		height: 100px;
	}
	100%{
		height: 200px;
	}
}
.message-bgi{
	background-color: #fff8e4;
	padding-top: 50px;
	.message{
		width: 100%;
		max-width: 1200px;
		margin: auto;
		display: flex;
		flex-flow: row wrap;
		.break-up{
			border: 12px solid $break;
			.fa-cloud{
				color: #79a6cc;
			}
			.s-text{
				color: #79a6cc;
			}
		}
		.true-love{
			border: 12px solid $true;
			.fa-cloud{
				color: #0abbb5;
			}
			.s-text{
				color: #0abbb5;
			}
		}
		.hot-love{
			border: 12px solid $hot;
			.fa-cloud{
				color: #db4d6d;
			}
			.s-text{
				color: #db4d6d;
			}
		}
		.single{
			border: 12px solid $single;
			.fa-cloud{
				color: #f6c555;
			}
			.s-text{
				color: #f6c555;
			}
		}
		.message-item{
			width:calc(33.333333% - 50px);
			box-sizing: border-box;
			padding: 6px 20px;
			margin: 25px;
			border-radius: 10px;
			background-color: #fff;
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-end;
			@include rwd(mobile){
				width: calc(100% - 50px);
			}
			.cloud{
				position: absolute;
				top: -7%;
				right: -7%;
				.fa-cloud{
					font-size: 70px;
				}
				span{
					text-align: center;
					font-family: "A-OTF-M";
					color: #fff;
					font-size: 16px;
					line-height: 60px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}
			.message-header{
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				width: 100%;
				padding: 10px 0;
				.fa-user-circle{
					width: 10%;
					font-size: 30px;
					color: #f94982;
				}
				p{
					margin-left: auto;
					width: 85%;
					font-size: 20px;
					font-family: "GenJyuuGothic-R";
				}
			}
			.message-body{
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				box-sizing: border-box;
				padding: 0 10px;
				figure{
					width: 100%;
					img{
						width: 100%;
					}
				}
				h3{
					width: 70%;
					font-size: 20px;
					line-height: 40px;
					font-family: "A-OTF-M";
					margin-left: auto;
					text-align: justify;
					span{
						padding: 0 10px 0 0;
					}
				}
				p{
					width: 70%;
					font-family: "A-OTF-M";
					font-size: 16px;
					line-height: 32px;
					margin-left: auto;
					padding:0 0 10px;
					text-align: justify;
				}
				.s-text{
					text-align: right;
				}
			}
			.message-footer{
				margin-top: auto;
				width: 70%;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: space-between;
				button{
					cursor: pointer;
					font-family: "A-OTF-M";
					width: 45%;
					background-color: #fc7389;
					border: 3px solid $cofe;
					border-radius: 30px;
					color: #fff;
					box-sizing: border-box;
					font-size: 18px;
				}
			}
		}
		.custom-ice{
			position: absolute;
			width: 40%;
			left: -10%;
			bottom: -5%;
			img{
				width: 100%;
			}
		}
	}
}