@import "mixin/mixin";
*{
    box-sizing: border-box;
    // outline: 1px solid black;
   
}

.page-shop{
    background: #F8C3CD url(../img/shop/backgroundpic.png);
    font-family: "GenJyuuGothic-B";
    
    .outerframe{
        padding-top:86px;
        margin: auto;
        width: 100%; 
        // height: 1000px;
        // background-color: aqua;
    }
    .news-store{
        position: relative;
        height: 400px;
    }
    .left-arrow{
        position: absolute;
        left: 0px;
        bottom: 37%;
    }
    .right-arrow{
        position: absolute;
        right: 0px;
        bottom:  37%;
    }
    .title-outerframe{
        width: 90%;
        height: 200px;
        margin: auto;
        @include rwd(desktop){
        height: 350px;
        
        
        }
        .newstitle{
            width: 40%;
            height: 50px;
            margin: auto;
            background-color: #6A3E26;
            border-radius:5px;
            display: flex;
            justify-content:center;
            transform: translateY(60px);
            @include rwd(desktop){
                width: 20%;
                height: 100px;
                transform: translateY(180px);
            }
            >span{
                width:93%;
                height:90%;
                margin: auto;
                border-radius:5px;
                border:2px solid#efac40;
                display: block;
                color: whitesmoke;
                text-align: center;
                font-size: 24px;
                line-height: 40px;
                @include rwd(desktop){
                    width: 93%;
                    height: 85px;
                    border:5px solid#efac40;
                    font-size: 36px;
                    line-height: 70px;
    
                }
            }
        }
    }
    .news-store{
       height: 220px;
       overflow: hidden;
       @include rwd(desktop){
           display: flex;
           overflow:visible;
       }
    }
  
    .news-item{
        margin: auto;
        // overflow: hidden;
        // width: 80%;
        height: 220px;
        border:4px solid #FFCE5B;
        border-radius: 20px;
        padding-top: 10px;
        background-color: #FFF4DE;
        position: relative;
        @include rwd(desktop){
            padding-bottom:100px; 
            width: 200px;
            height: 270px;
        }


    }
    
    .newpic{
        width: 40%;
        margin: auto;
        
        img{
            width: 100%;
        }
        .new-collection-love{
        display: block;
        width: 15%;
        height: 9%;
        position: absolute;
        right: 8px;
        top:10px;
        }  
    }
    .new-name{
        text-align: center;
        padding: 6% 0px 0px 0px;
        }
    .new-pic{
        text-align: center;
        padding: 4% 0px;
        }
    
    .store{
        width: 90%;
        margin: auto;
        @include rwd(desktop){
            width: 1200px;
        }
        .roof{
            width: 100%;
            img{
                display: block;
                width: 100%;
            }
            .title{
                width: 40%;
                height: 50px;
                margin: auto;
                background-color: #6A3E26;
                border-radius:5px;
                display: flex;
                justify-content:center;
                transform: translateY(60px);
                @include rwd(desktop){
                    width: 20%;
                    height: 100px;
                    transform: translateY(180px);
                }
                >span{
                    width:93%;
                    height:90%;
                    margin: auto;
                    border-radius:5px;
                    border:2px solid#efac40;
                    display: block;
                    color: whitesmoke;
                    text-align: center;
                    font-size: 24px;
                    line-height: 40px;
                    @include rwd(desktop){
                        width: 93%;
                        height: 85px;
                        border:5px solid#efac40;
                        font-size: 36px;
                        line-height: 70px;

                    }
                }
            }
        }
        .select-bar{
            width: 100%;
            height: 30px;
            background-color: #FFF8E4;
            margin: auto;
            padding: 5px;
            display: flex;
            align-items: center;
            @include rwd(desktop){
                height: 60px;
                // select{
                //     display: inline-block;
                // }
            }
            @include rwd(mobile){
                .select-bar-botton{
                    display: none;
                }
            }
            @include rwd(desktop){
                >select{
                    display: none;
                     ~select{
                           display: none;
                    }
               }
               .select-bar-botton{
                   display: flex;
                   align-items: center;
                //    align-content: center;
                div{
                    margin: 10px;
                    input{
                        font-size: 16px;
                        margin: 0px 5px;
                        width: 70px;
                        border: 0px;
                        border-radius: 5px;
                        color: whitesmoke;
                    }
                    &:nth-child(1){
                        input{
                              background-color: #FAD689;
                        }
                  
                    }
                    &:nth-child(2){
                        input{
                              background-color: #6BDBDA;
                        }
                  
                    }
                    &:nth-child(3){
                        input{
                              background-color: #EA7187;
                        }
                  
                    }
                    &:nth-child(4){
                        border-right:2px solid gray ;
                        padding-right:15px; 
                        input{
                              background-color: #9DC5F6;
                        }
                  
                    }
        
                }
                
                
               }
            }
           
        }
        .commodity{
            width: 100%; 
            display:flex;
            flex-flow:wrap;
            justify-content: space-around;
            padding-top:25px;
            background-color: whitesmoke;
            .commodity-item{
                padding-top:25px;
                padding-bottom: 15px;
                @include rwd(desktop){
                    // margin: 0px 5%;
                    width: 18%;
                    padding-bottom: 45px;
                }
                .shap-ice-type{
                    width: 55%;
                    border-radius: 60% / 120% 120% 0 0;
                    height: 25px;
                    margin: auto;
                    background-color: #fad689;
                    display: flex;
                    @include rwd(desktop){
                        width: 60%;
                        height: 35px;
                    }
                    img{
                        width: 45%;
                        display: block;
                        margin: auto;
                    }
                }
                .shap-love-stage{
                    width: 100%;
                    height: 25px;
                    background-color: #fad689;
                    border-top-left-radius:25px;
                    border-top-right-radius:30px;
                    color: whitesmoke;
                    // font-family: "A-OTF-M";
                    font-size: 24px;
                    text-align: center;
                    line-height: 30px;
                    @include rwd(desktop){
                        height: 30px;
                        line-height: 35px;
                    }
                }
                .commodity-item-content{
                    border: 8px solid #fad689;
                    border-bottom-right-radius:20px;
                    border-bottom-left-radius:20px;
                    padding-bottom:5px;
                    height: 260px;
                     position: relative;
                    @include rwd(desktop){
                        height: 320px;
                    }
                    .collection-love{
                        display: block;
                        width: 12%;
                        height: 10%;
                        position: absolute;
                        right: 8px;
                        top:0px;
                    }
                    .item-img{
                       
                        width: 35%;
                        margin: auto;
                        padding-bottom:10%;
                        @include rwd(desktop){
                            width:25%;
                            height:60%;
                            margin: auto;
                            width: 28%;
                            display: flex;
                            align-items: center;
                        }
                    }
                    img{
                        padding-top:10px;
                        display: block;
                        margin: auto;
                        width: 100%;
                        height: 120px;
                        @include rwd(desktop){
                            width:100%;
                            // height:0px;
                            // height: 50%;
                        }
                    }
                    figure{
                        display: flex;
                        justify-content: space-around;
                        .fruit-pic{
                            border-radius: 50%;
                            background-color: #fff;
                            border: 2px solid #6a3e26;
                            width: 35px;
                            height: 35px;
                            @include rwd(desktop){
                                width: 45px;
                                height: 45px;
                            }
                            > img {
                                padding-top: 0px;
                                display: block;
                                margin: auto;
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                  
                    .item-text{
                        > span {
                        display: block;
                        padding:0px 0px 10px 5px;
                        ~span{
                            display: block;
                            padding:0px 0px 10px 5px;
                            }
                        }
                        @include rwd(desktop){
                                display: flex;
                                // >span{
                                //     padding:10px;
                                // ~span{
                                //     padding:10px;
                                // }
                                // }
                            }

                 
                    }
                    .custom-pri{
                      padding: 10px 0px;
                      text-align: center;
                    //   background-color: #6A3E26;   
                    }
                    .general-pri{
                        &:nth-child(3){
                            padding: 0px 0px 10px 5px;
                        //  @include rwd(desktop){
                        //     padding: 10px  10px  20px  10px;
                        //     }
                        
                        }  
                    }
                  
                    // @include rwd(desktop){
                    //     height: 320px;
                        // .item-img{
                         
                        // }
                    // }
                   
                    // p{
                    //     &:nth-child(3){
                    //         padding: 10px;
                    //     }
                    // }
                    // .item-text{
                    //     > span {
                    //     display: block;
                    //     padding: 10px;
                    //     ~span{
                    //         display: block;
                    //         padding: 10px;
                    //     }
                    // }
                    // @include rwd(desktop){
                    //     display: flex;
                    // }
                    // }
                    .shop-btn{
                        .shop-buy-btn{
                            margin: auto;
                            // padding-bottom: 110px;
                            @include rwd(desktop){
                                margin: auto;
                            }
                        }
                        @include btn(shop-buy-btn,140px,shop-btn-text,16px, 加入購物車);
                        @include rwd(mobile){
                            @include btn(shop-buy-btn,100px,shop-btn-text,16px, 加入購物車);
                        }
                        @include rwd(desktop){
                            // display: flex;
                            // justify-content:space-between;
                            // align-items: center;
                            height: 50px;
                            padding: 10px;
                        .btn-numbox{
                            width: 40%;
                        }
                        }
                        #myform{
                            height: 24px;
                        }
                            .btn-numbox{
                            // width: 100%;
                            padding: 5px;
                            font-size: 0px;
                            display: none;
                            @include rwd(desktop){
                                display: block;
                                padding: 0px;
                            }
                            .qty{
                                // display: inline-block;
                                width: 50%;
                                text-align: center;
                                height: 24px;
                                padding: 0px;
                                border: 0px;
                            }
                            .qtyminus{
                                background-color: #6A3E26;
                                border-bottom-left-radius:20px;
                                border-top-left-radius:20px;
                                width: 25%;
                                height:24px; 
                                border:0px; 
                                color:white;
                                padding: 0px;
                                cursor: pointer;
                            }
                            .qtyplus{
                                padding: 0px;
                                background-color: #6A3E26;
                                border-bottom-right-radius:10px;
                                border-top-right-radius:10px;
                                width: 25%;
                                height:24px; 
                                border:0px; 
                                color:white;
                                cursor: pointer;
                            }
                        }
                    }
                   
                   
                    
                }
               
            }
            .red{
                .shap-ice-type{
                background-color:#EA7187;
                }
                .shap-love-stage{
                    background-color:#EA7187;
                }
                .commodity-item-content{
                    border:8px solid#EA7187;
                }
            }
            .blue{
                .shap-ice-type{
                background-color:#9DC5F6;
                }
                .shap-love-stage{
                    background-color:#9DC5F6;
                }
                .commodity-item-content{
                    border:8px solid#9DC5F6;
                }
            }
            .green{
                .shap-ice-type{
                background-color:#6BDBDA;
                }
                .shap-love-stage{
                    background-color:#6BDBDA;
                }
                .commodity-item-content{
                    border:8px solid#6BDBDA;
                }
            }
        }    
    }




 @include ice-btn(btn-outt,100px,btn-inn,12px,14px,好吃好吃);
}

// .shop-btn-out{
//     @include btn-out($c lassname,$width,$class,$size,$width2,$shadow,$text)
// }


    // @include ice-btn(shop-btn-out,100px,shop-btn-in,8px,加入購物車,2px,black);

    // @include ice-btn(btn-outt,100px,btn-inn,12px,12px,innimg,好喔);
   


     