@import 'mixin/mixin';
$light-purple:#cdb3e5;
$deep-purple:#b28fce;
$light-yellow:#fff8e4;
$d-gray:#8c8574;
$font-gray:#434343;

*{
    box-sizing: border-box;
    text-decoration: none;  
    // outline: 1px solid #f00;
}
body{
    font-family: "GenJyuuGothic-R";
}
.news-wrap,.news-inner-wrap{
    .banner{
        background-color: $light-purple;
        background-image:url(../img/news/news-bn-cloud.png),url(../img/background.png);
        background-repeat: no-repeat,repeat;
        background-position:  bottom center, bottom center;
        background-size: 100%,auto;
        width: 100%;
        padding-top: 50px;
    
        .title{
            @include out-Line-Font(news,#fff,34,5px,#6a3e26,最新消息);
            width: 100%;
            max-width: 1200px;
            text-align: center;
            padding-top: 23% ;
            margin: auto;
            @include rwd(medium){
                padding: 130px 0 ;  
            }
            .img-bg{
                position: relative;  
                img{
                width: 80%;
                @include rwd(medium){
                    width: 50%;
                    }
                }
                span{
                    position:absolute;
                    top:50%;
                    left: 50%;
                    font-size: 28px;
                    transform: translate(-50%,-80%);
                    @include rwd(medium){
                    font-size: 34px;
                    }
                    @include rwd(desktop){
                        font-size: 40px;
                    }

                }
            }
        
        }
    }
    .air-ball{
        max-width: 1200px;
        height: 270px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding:0 3% 5%;
        @include rwd (medium){
            padding-bottom: 5%;
           }
        
        img{
         height:80%;
            position: relative;
            animation: air-ball-active 2.5s infinite alternate;
           &:first-child{
            transform: scale(.8); 
                @include rwd (medium){
                transform: scale(1.5); 
               }
           }
           &:last-child{
            transform: scale(.4) rotate(25deg); 
                @include rwd (medium){
                    transform: scale(1)rotate(25deg); 
                }
           }
        }
        .apple-ball{
            height:80%;
            position: relative;
            animation: air-ball-active 2.5s infinite alternate;
           &:first-child{
            transform: scale(.8) rotate(-25deg); 
                @include rwd (medium){
                transform: scale(1.5)rotate(-25deg); 
               }
           }
           &:last-child{
            transform: scale(.5) rotate(13deg); 
                @include rwd (medium){
                    transform: scale(1)rotate(13deg); 
                }
            }

        }
    }
    @keyframes air-ball-active {
        0%{
            top:0px;
          }
          50%{
            top:20px; 
          }
         
          100%{
            top:0px;
          }
    }
}

.news-wrap{
    .select{
        background-color:$light-yellow;
        margin: auto;
        width: 100%;
        .select-group{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            .select-filter-group{
                    width: 90%;
                    margin: auto;
                    padding:15px 30px;
                    background-color: #cdb3e5;
                    border-radius: 20px;
                    display: flex;
                    flex-wrap: row nowrap;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                    @include rwd(desktop){
                        width: 80%;
                     }
            
                h3{
                    font: 24px "A-OTF-M";
                    text-align: center;
                }
               .filter-item{
                @include rwd(mobile){
                            display:none;
                }
                cursor: pointer;
                    button{
                        width: 100%;
                        cursor: pointer;
                        background-color: #a3a3a3;
                        border: none;
                        padding: 5px 25px;
                        border-radius: 10px;
                        box-shadow: 0px 3px 0px #555;
                        color: #fff;
                        font:16px;
                        font-family: "GenJyuuGothic-R";
                        &:hover{
                            transform: translateY(2px);
                            box-shadow: 0px 1px 0px #555;
                            transition: .3s;
                        }
                        @include rwd(desktop){
                            font:18px "A-OTF-M";
                        }
                        @include rwd(mobile){
                            display:none;
                        }

                    }
                
            }
                .filter-active{
                    button{
                        background-color: #fc7389;
                    }
                }
                
                .mobile{
                    select{
                        border: #6a3e26 solid 3px;
                        width: 150px;
                        height: 50px;
                        padding: 3px;
                        border-radius: 10px;
                        background-color: $light-yellow;
                        color: $font-gray;
                        font-size: 16px;
                    }
                    @include rwd(medium){
                        display:none;
                    }
                }
                
            }
        }
    }
    .wrapper{
        padding-bottom: 10%;
        width: 100%;
        background-color:$light-yellow;
        .items-group{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            border-radius: 10px;
            padding: 10% 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            .item{
                position: relative;
                margin: 40px 20px;
                padding: 20px 20px 10px;
                border-radius: 10px;
                background-color:#e2deff;
                width: 300px;
                height: 360px;
                box-shadow: #555 2px 2px 2px;
                .sort{
                    text-align: center;
                    line-height: 40px;
                    color: #ffc;
                    position:absolute;
                    width: 100px;
                    height:40px;
                    background: #986db2;
                    top: -20px;       
                    left: 33%;
                    &::before{
                        content: "";
                        border-style: solid solid solid solid; 
                        border-color:transparent transparent  #77428d  #77428d;
                        border-width: 10px 5px;
                        height: 0px; 
                        width: 0px; 
                        position:absolute;
                        right: -10px;
                    }
                }
                
                span{
                    width: 250px;
                    margin: auto;
                    color: #434343;
                }
                .time{
                    padding: 10px 5px 0;
                    font-size: 13px;
                    display: block;
                }
                h3{
                    line-height: 20px;
                    padding: 5px;
                    font-size: 18px;
                    width: 60%;
                    display: inline-block;
                    font-weight: bold;
                }
                .content{
                    display: flex;
                    justify-content: space-between;
                    img{
                        transform: rotateZ(60deg);
                        visibility: hidden;
                        width: 23%;
                        height: 23%;
                    }
                }
                .img{
                    margin: auto;
                    width: 250px;
                    height: 250px;
                    background-color: #ffc;
                    color:#555 ;
                }
                &:hover{
                    background-color: #cdb3e5;
                }
                &:hover .ice{
                    visibility: visible;
                }
            }
        }
    } 
    .bookmark {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        ul,li{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        li{ 
        width: 30px;
        height: 30px;
        font-size: 16px;
        color: 434343;
        border: #cdb3e5 solid 1px;
            &:hover{
                background-color: #cdb3e5;
                color: #e2deff;
            }
        } 
}
}
.news-inner-wrap{
    font-family: "GenJyuuGothic-R";

    .inner-wrapper{
        
        margin-top: -2px;
        background-color:$light-yellow ;
        width: 100%;
        .title-box{
            max-width: 1200px;
            background-color: $light-purple;
            width: 90%;
            height: 100px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
    
            @include rwd(medium){
                width: 70%;
            }

            &::before{
                content: '';
                flex-grow: .5;
              }
            .before{
                padding: 10px;
                width: 80%;
                display: inline-block;
                vertical-align: middle;
            }
            .clear{
                clear:both;
            }

            .img{
                height: 50px;
                float: left;
                padding: 0 10px;
                img{
                    height: 100%;
                }
            }
        
            span{
                color:$font-gray;
                font-size: 16px;
                padding: 5px;
                @include rwd(mobile){
    
                    font-size: 13px;
                 
                }
            }
            h3{
               padding: 5px;
                font-family: "GenJyuuGothic-B";
                @include rwd(mobile){
    
                    font-size: 16px;
                 
                }
            }
        }

        .article-image{
            text-align: center;
            vertical-align: middle;
            margin: auto;
            max-width: 1200px;
            width: 90%;
            @include rwd(medium){
                width: 80%;
           }
            img{
                width: 100%;
                padding: 20px 0;
                @include rwd(medium){
                    width: 80%;
               }
            }
        }
        .article-text{
       
            width: 60%;
            margin: auto;
            line-height: 40px;
            @include rwd(mobile){
                width: 80%;
                font-size: 16px;
                line-height: 32px;

            }
        }
        .change-page{
            padding: 50px 0;
            width: 60%;
            margin: auto; 
            display: flex;
            text-align: center;
            @include rwd(mobile){
                width: 80%;
                font-size: 16px;
                padding: 20px 0;
            }
            .page-btn{
                cursor: pointer;
                padding: 5px 0;
                width: 50%;
                font-size: 16px;
                color: $font-gray;
                border: #cdb3e5 solid 1px;
                    &:hover{
                        background-color: #cdb3e5;
                        color:#000;
                    }
               p,span{
                   padding-top: 5px;
               }
                
            }
            .pre{
                border-radius:10px 0 0 10px; 
            }
            .post{
                border-radius:0 10px 10px 0; 
            }
        }

        
            .bubble{
            background-color: $deep-purple;
            opacity: .5;
            position: absolute;
            border-radius: 100%;
            }
        
        
    }
}