@import "mixin/mixin";
*{
    box-sizing: border-box;
    // outline: 1px solid black;
   
}

.page-shop{
    background: #F8C3CD url(../img/shop/backgroundpic.png);
    font-family: "GenJyuuGothic-B";
    .shop-general{
        padding-top:150px;
        margin: auto;
        width: 100%; 
        // height: 1000px;
        // background-color: aqua;
    }
    .general-store{
        width: 90%;
        margin: auto;
        @include rwd(desktop){
            width: 1200px;
        }
        .roof{
            width: 100%;
            img{
                display: block;
                width: 100%;
            }
            .title{
                width: 40%;
                height: 40px;
                margin: auto;
                background-color: #6A3E26;
                border-radius:5px;
                display: flex;
                justify-content:center;
                transform: translateY(50px);
                @include rwd(desktop){
                    width: 20%;
                    height: 100px;
                    transform: translateY(180px);
                }
                >span{
                    width:90%;
                    height:35px;
                    margin: auto;
                    border-radius:5px;
                    border:2px solid#efac40;
                    display: block;
                    color: whitesmoke;
                    text-align: center;
                    font-size: 24px;
                    line-height: 30px;
                    @include rwd(desktop){
                        width: 93%;
                        height: 85px;
                        border:5px solid#efac40;
                        font-size: 36px;
                        line-height: 70px;

                    }
                }
            }
        }
        .select-bar{
            width: 100%;
            height: 30px;
            background-color: #FFF8E4;
            margin: auto;
            padding: 5px;
            @include rwd(desktop){
                height: 60px;
                // select{
                //     display: inline-block;
                // }
            }
            @include rwd(mobile){
                >div{
                    >input{
                        display: none;
                        ~input{
                            display: none;
                        }
                    }
                }
               
            }
            @include rwd(desktop){
                >div{
                    padding-top:10px;
                    &:nth-child(4){
                        width: 100px;
                        background-color:red;
                        &:before{
                           display: inline-block; 
                           content: "";
                           width: 2px;
                           height: 10px;
                           background-color: gray;
                            }
                        }    
                }
                >select{
                    display: none;
                     ~select{
                           display: none;
                    }
               }
               input{
                   font-size: 16px;
                   margin: 0px 5px;
                   width: 70px;
                   border: 0px;
                   border-radius: 5px;
                   color: whitesmoke;
                   background-color: #6A3E26;
                   cursor: pointer;
               }
               
            }
           
        }
        .commodity{
            width: 100%; 
            display:flex;
            flex-flow:wrap;
            justify-content: space-around;
            padding-top:10px;
            background-color: whitesmoke;
            .commodity-item{
                padding-bottom: 15px;
                @include rwd(desktop){
                    margin: 0px 5%;
                    width: 18%;
                    height: 385px;
                    padding-bottom: 45px;
                }
                .shap-ice-type{
                    width: 55%;
                    border-radius: 60% / 120% 120% 0 0;
                    height: 25px;
                    margin: auto;
                    background-color: #fad689;
                    display: flex;
                    @include rwd(desktop){
                        height: 30px;
                    }
                    img{
                        width: 45%;
                        display: block;
                        margin: auto;
                    }
                }
                .shap-love-stage{
                    width: 100%;
                    height: 25px;
                    background-color: #fad689;
                    border-top-left-radius:25px;
                    border-top-right-radius:30px;
                    // font-family: "A-OTF-M";
                    font-size: 24px;
                    text-align: center;
                    line-height: 30px;
                }
                .commodity-item-content{
                    border: 8px solid #fad689;
                    border-bottom-right-radius:20px;
                    border-bottom-left-radius:20px;
                    padding-bottom:5px; 
                    img{
                        padding-top:10px;
                        display: block;
                        margin: auto;
                        width: 40%;
                        @include rwd(desktop){
                            width: 30%;
                            height: 50%;
                        }
                    }
                    .item-text{
                        > span {
                        display: block;
                        padding: 5px;
                        ~span{
                            display: block;
                            padding: 5px;
                        }
                    }
                     
                    }
                    .shop-btn{
                        @include rwd(desktop){
                            display: flex;
                            justify-content:space-around;
                        .btn-numbox{
                            width: 50%;
                        }
                        }
                        // #myform{
                        //     width: 100%;
                        // }
                            .btn-numbox{
                            padding: 5px;
                            font-size: 0px;
                            display: none;
                            @include rwd(desktop){
                                display: block;
                            }
                            .qty{
                                // display: inline-block;
                                width: 50%;
                                text-align: center;
                                padding: 0px;
                            }
                            .qtyminus{
                                background-color: #6A3E26;
                                border-bottom-left-radius:20px;
                                border-top-left-radius:20px;
                                width: 25%;
                                height:20px; 
                                border:0px; 
                                color:white;
                                padding: 0px;
                                cursor: pointer;
                            }
                            .qtyplus{
                                padding: 0px;
                                background-color: #6A3E26;
                                border-bottom-right-radius:10px;
                                border-top-right-radius:10px;
                                width: 25%;
                                height:20px; 
                                border:0px; 
                                color:white;
                                cursor: pointer;
                            }
                        }
                    }
                   
                   
                    
                }
               
                // &:nth-child(2n){
                //     .shap-ice-type{
                //         background-color: red;
                //     }
                //     .shap-love-stage{
                //         background-color: red;
                //     }
                //     .commodity-item-content{
                //        border:8px solid red;
                //     }
                // }
            }
            .red{
                .shap-ice-type{
                background-color:#EA7187;
                }
                .shap-love-stage{
                    background-color:#EA7187;
                }
                .commodity-item-content{
                    border:8px solid#EA7187;
                }
            }
            .blue{
                .shap-ice-type{
                background-color:#9DC5F6;
                }
                .shap-love-stage{
                    background-color:#9DC5F6;
                }
                .commodity-item-content{
                    border:8px solid#9DC5F6;
                }
            }
            .green{
                .shap-ice-type{
                background-color:#6BDBDA;
                }
                .shap-love-stage{
                    background-color:#6BDBDA;
                }
                .commodity-item-content{
                    border:8px solid#6BDBDA;
                }
            }
        }    
    }





}

.shop-btn-out{
    @include btn-out(80px,shop-btn-in,red,10px,2px,white,加入購物車);
    margin: auto;
    span{
         line-height: 13px;
            }
    }
   

