@import 'mixin/mixin';

*{
    box-sizing: border-box;
}

.page-qa{
    font-family: "GenJyuuGothic-R";
    background-color: #ffe8e8;

    .wrap{
        max-width: 1200px;
        margin: auto;
    }

    .qa{
        padding-top:300px; 

        .title-main{
            width: 520px;
            height: 150px;
            margin: auto;
            background: url(../img/qa/title.png) center center no-repeat;
            

            @include out-Line-Font(title,#fff,40px,8px,#6a3e26,戀冰測驗);
            .title{
                z-index: 1;
            }
        }
    }

    .stage{
        width: 100%;
        height: 885px;

        .wrap{
            display: flex;
            flex-flow: row wrap;
            align-items: center;            
        }

        .popsicle{
            text-align: center;
        }

        .content{
            background-color: #fff8e4;
            padding: 50px;

            .mainhead{
                display: flex;
                flex-flow: row wrap; 
            }

            .stage-title{
                -webkit-writing-mode: vertical-lr;
                writing-mode: vertical-lr;
                font-size: 40px;
                font-family: 'A-OTF-M';
                color: #434343;
                padding-right:50px; 
                border-right: 5px solid #6bdbda;
            }
        }
    }    
    
    .stage.single{
        border-top: 10px solid #754c24;
        background: #f6c555 url(../img/qa/cover.png) top left;
    }
    
    .stage.firstlove{
        background: #6bdbda url(../img/qa/cover.png) top left;
    }
    
    .stage.infatuation{
        background: #f8c3cd url(../img/qa/cover.png) top left;
    }
    
    .stage.break{
        background: #9dc5f6 url(../img/qa/cover.png) top left;        
    }


}













