@import 'mixin/mixin';

*{
    box-sizing: border-box;
    text-decoration: none;
}

.page-qa{
    font-family: "GenJyuuGothic-R";
    background-color: #ffe8e8;

    .wrap{
        max-width: 1200px;
        margin: auto;
    }

    .qa{
        padding-top:150px; 

        .title-main{
            width: 90%;
            height: 150px;
            margin: auto;
            padding: 50px 0;
            background: url(../img/qa/title.png) center center no-repeat;
            background-size: contain;
            text-align: center;
            

            @include out-Line-Font(title,#fff,24px,5px,#6a3e26,戀冰測驗);
            .title{
                z-index: 1;
                line-height: 20px;
            }

            span{
                font-size: 12px;
                line-height: 24px;
            }
        }

        .letter{
            overflow: hidden;
            position: relative;

            .envelope-bg{
                background-image: url(../img/qa/envelopebg.png);
                width: 90%;
                height: 680px;
                background-size: cover;
                margin: auto;
            }

            .topic{
                width: 70%;
                height: 500px;
                margin: auto;
                background-color: #f8c3cd;
                position: absolute;
                z-index: 0;
                bottom: 0px;
                left: 0;
                right: 0;
                padding: 50px;
                pointer-events: auto;
                text-align: center;
                
                .title-area{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .topic-fruit{
                        display: block;
                        width: 60px;
                    }

                    .question{
                        font-size: 28px;
                        color: #cb1b45;
                    }
                }

                .asw{
                    .asw-btn{
                        display: block;
                        width: 200px;
                        padding: 2px;                       
                        margin: 20px auto;
                        background-color: #fff;
                        border: 3px solid #6a3e26;
                        border-radius: 100px;

                       span{
                           display: block;
                           padding: 10px;
                           background-color: #fc7389;
                           border: 2px solid #e4575f;
                           border-radius: 100px;
                           color: #fff;
                           font-size: 18px;
                           transition: .2s;
                       }                       
                   }

                   .asw-btn:hover span{
                        background-color: #ffabb1;
                    }

                    .asw-btn:active span{
                        background-color: #db4d6d;
                    }
                }

                
            }

            .envelope-front{
                width: 90%;
                height: 255px;
                margin: -300px auto 0;
                position: relative;
                pointer-events: none;

                img{
                    width: 100%;
                }
            }
        }
        


    }

    .stage{
        width: 100%;
        height: 1000px;
        display: flex;
        align-items: center;

        .wrap{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;          
        }

        .popsicle{
            text-align: center;
        }

        .content{
            background-color: #fff8e4;
            padding: 10px;

            .mainhead{
                width: 100%;
                display: flex;
                flex-flow: row wrap; 
                margin-bottom: 30px;
            }

            .stage-title{
                -webkit-writing-mode: vertical-lr;
                writing-mode: vertical-lr;
                font-size: 40px;
                font-family: 'A-OTF-M';
                color: #434343;
                border-right: 5px solid #6bdbda;
            }

            .stage-value{
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;

                .value-item{
                    width: 100%;
                    font-size: 18px;
                    display: flex;
                    flex-flow: row wrap;
                    
                    .item-name{
                        text-align: center;
                    }
                }

                .value-bar{
                    height: 20px;
                    background-color: #f8c3cd;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }

            .prod-name{
                padding:10px; 
                background-color: #fad689;
                margin-bottom: 20px;
                font-size: 24px;
                color: #6a3e26;
            }

            .subhead{
                width: 100px;
                padding:10px; 
                background-color: #f596aa;
                margin-bottom: 10px;
                font-size: 18px;
                color: #fff;
                text-align: center;
                border-radius: 5px;
            }

            .desc{
                text-align: justify;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 20px;
            }
            .element-group{
                margin-bottom: 20px;
            }

            .element{
                display: inline-block;
                width: 60px;
                height: 60px;
                background-color: #fff;
                border-radius: 50%;
                border: 2px solid #6a3e26;

                img{
                    width: 100%;
                }
            }
            .ice-btn-out{
                @include ice-btn-out(150px,btn-costum,white,24px,4px,#6a3e26,去客製);
                .btn-costum{
                    line-height: 30px;
                }
                
            }
            
        }
    }    
    
    .stage.single{
        border-top: 10px solid #754c24;
        background: #f6c555 url(../img/qa/cover.png) top left;

        .sour{
            width: 100%;
        }
        .sweet{
            width: 20%;
        }

        .bitter{
            width: 40%;
        }
    }
    
    .stage.firstlove{
        background: #6bdbda url(../img/qa/cover.png) top left;

        .sour{
            width: 30%;
        }
        .sweet{
            width: 60%;
        }

        .bitter{
            width: 20%;
        }
    }
    
    .stage.infatuation{
        background: #f8c3cd url(../img/qa/cover.png) top left;

        .sour{
            width: 20%;
        }
        .sweet{
            width: 100%;
        }

        .bitter{
            width: 10%;
        }
    }
    
    .stage.break{
        background: #9dc5f6 url(../img/qa/cover.png) top left;
        
        .sour{
            width: 30%;
        }
        .sweet{
            width: 10%;
        }

        .bitter{
            width: 100%;
        }
    }

    
    


}

@include rwd(mobile){
    .page-qa{
        .stage{
            .popsicle{
                img{
                    width: 100%;
                }
            }
        }
    }
}

@include rwd(medium){

    .page-qa{

        .qa{
            padding-top:300px; 
    
            .title-main{
                width: 520px;
                height: 150px;
                padding: 30px 0;

                @include out-Line-Font(title,#fff,40px,8px,#6a3e26,戀冰測驗);
                .title{
                    z-index: 1;
                    line-height: 40px;
                }

                span{
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }

        .stage{
            height: 885px;

            
            .content{
                padding: 50px;
            }
        }
    }
    
}













