
$mb : 768px;
$md  : 996px;
$dsk : 997px;
@mixin rwd($breakpoint) {
    @if $breakpoint==mobile {
        @media all and (max-width: $mb) {
            @content;
        }
    }

    @else if $breakpoint==medium {
        @media all and (min-width: $md) {
            @content;
        }
    }

    @else if $breakpoint==desktop {
        @media all and (min-width: $dsk) {
            @content;
        }
    }  
}

   .page-shop{
        background: #F8C3CD url(../img/shop/backgroundpic.png);
        .page-shop-outer{
         padding-top:250px;
         margin: auto;
         width: 1200px; 
         height: 1000px;
        //  background-color: #6A3E26;
            .news{
                width: 100%;
                height: 500px;
                    .roof-img{
                        display:inline-block;
                        width:50%;
                    }

                    // .news-title{
                    //     margin: auto;
                    //     width: 300px;
                    //     height: 130px;
                    //     border-radius:20px;
                    //     background-color: #6A3E26;
                    //     display: flex;
                    //     justify-content:center;
                    //         .new-title-decoration{
                    //             margin: auto;
                    //             width:270px;
                    //             height:100px;
                    //             border:4px solid#EFAC40;
                    //             border-radius:20px;
                    //         }
                    // }


            }
        }
    }

    
