@import "mixin/mixin";
*{
    box-sizing: border-box;
    a{
        text-decoration: none;
    }
}

.page-shop-inside{
    background: #F8C3CD url(../img/shop/backgroundpic.png);
    font-family: "GenJyuuGothic-B";
    .item-detailed{
        padding-top:120px;
        padding-bottom:50px; 
        // padding: 100px 10px 10px 10px;
    }
    .detailed-pic{
        border:5px solid#F6C555;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        margin: auto;
        // background-color: ;
        
        } 
    .detailed-ice{
        display: block;
        margin: auto;
        width:90%;
        padding: 10px;
    }
    .collection{
        width: 100%;
        display: block;
        position: absolute;
        top:10px;
        right:20px;
        width: 40px;
        height: 40px;
    }
    .detailed-content{
        
        padding: 0px 1%;
    }
    .detailed-content-box{
       background-color:#F6C555;
       width: 85%;
       padding: 10px;
       margin: auto;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
    //    border: 5px solid #F6C555;
    }
    // .detailed-star,.detailed-text,.detailed-pri,.detailed-button{
    //     padding:10px 0px 0px 10px; 
     
    // }
    // .detailed-name{
    //     font-size: 
    // }
    .detailed-text{
        line-height: 25px;
    }
    .detailed-pri{
        font-size: 20px;
        // text-align:right;
    }
    @include btn(detaild-shop-buy,250px,detaild-shop-btn,20px, 加入購物車);
    .detaild-shop-buy{
        margin: auto;
    }
    .btn-numbox{
        // margin: auto;
        width:100px;
        font-size: 0px;
        .qty{
            width: 30%;
            text-align: center;
            height: 28px;
            padding: 0px;
            border: 0px;
            @include rwd(mobile){
                width: 50%;
            }
        }
        .qtyminus{
            background-color: #6A3E26;
            border-bottom-left-radius:20px;
            border-top-left-radius:20px;
            width: 20%;
            height:28px; 
            border:0px; 
            color:white;
            padding: 0px;
            cursor: pointer;
            @include rwd(mobile){
                width: 25%;
            }
        }
        .qtyplus{
            padding: 0px;
            background-color: #6A3E26;
            border-bottom-right-radius:20px;
            border-top-right-radius:20px;
            width: 20%;
            height:28px; 
            border:0px; 
            color:white;
            cursor: pointer;
            @include rwd(mobile){
                width: 25%;
            }
        }
    }
    .message-input-box{
        background-color: #F596AA;
        border-radius: 20px;
        padding: 10px 20px;
    }
    .message-title{
        text-align: center;
        padding-bottom: 10px;
        color:white;
    }
    .other-review-message-box{
        background-color: whitesmoke;
         border-radius:20px;
         margin-top:10px; 
    }
    .other-review-wrap{
        border-bottom:2px solid gray;
        // background-color: whitesmoke;
        padding: 10px 20px 10px 20px;
        // padding: 20px;
        // border-radius:20px;
    }
    .message-input{
        height: 160px;
        background-color: white;
        border-radius: 10px;
    }
    .form-control{
        width: 100%;
        // margin: 0 auto 20px auto;
        border-radius: 10px;
        resize: none;
        display: block;
    }
    // input[type=text]{
    //     height:200px;
    // }
    .sentout-btn{
        margin-left:auto; 
        border-radius: 10px;
      
    }
    .sentout-btn-box{
          padding-top:10px; 
    }
    @include btn(sentout-btn,100px,sentout-btn-in,12px, 送出);
    .total-review-number{
        
        padding:5px 0px 2px 0px; 
    }
    .total-review-people{
        padding-top:10px;
        border-bottom:1px solid gray;
        padding-bottom: 10px;
    }
    .detailed-star,.detailed-text,.pri-btn,{
         padding:10px 0px 0px 0px; 
    }
    .number-name{
        font-size: 18px;
        padding: 5px 0px 8px 10px;
    }
    .number-pic{
         background-color: whitesmoke;
        img{
            width: 100%;
        }
    }
    .number-star{
        font-size: 12px;
        padding-bottom: 5px;
        padding-left: 10px;
    }
    
    .report-sentout-btn{
        margin-left:auto; 
    }
    .detailed-pic{
        background-color: whitesmoke;
    }
    .detaild-img-box{
        width: 236px;
        border-radius: 20px;
        margin: auto;
        padding: 10px; 

    }
    .detaild-button{
        padding-top:15px; 
    }
    .report-btn{
       border-bottom:2px gray; 
    //    padding-bottom: 10px;
       text-align: right;
    }
    .report{
        margin-left:auto; 
        width: 50px;
        height: 25px;
        background-color: #EA7187;
        border:0px;
        border-radius: 10px;
        // border-bottom:2px gray; 
    }
    .date{
        font-size: 12px;
        margin-left:auto; 
    }
    .review-text{
        padding-top:0px; 
    }
   



    // 網頁版
    @include rwd(desktop){
        .item-detailed{
            padding-top:200px;
            padding-bottom:50px; 
            // background-color:#FFF4DE;
            border-radius:20px; 
            // flex-wrap: wrap;
            // padding: 100px 10px 10px 10px;
        }
        .detaild-img-box{
            width: 236px;
            background-color: whitesmoke;
            border-radius: 20px;
            margin: auto;
            padding: 10px; 

        }
        .detailed-pic{
            border:0px solid#F6C555;
            background-color: #F6C555;
            border-top-left-radius:20px;
            border-top-right-radius:0px;
            border-bottom-left-radius:20px;
            margin:0px;
            padding: 30px;
            padding: 30px 30px 30px 40px; 
        }
        // .detailed-content-box{
        //     height: 100%;
        //     width:100%;
        // }
        .detailed-content{
            padding: 0px;
            background-color: #6A3E26;
            border-top-right-radius:20px;
            border-bottom-right-radius:20px;
        }
        .detailed-ice{
            display: block;
            margin: auto;
            width:100%;
        }
        .pri-btn{
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .detailed-content{

            padding: 0px;
        }
        .other-review-wrap{
            border-bottom:2px solid gray;
            // background-color: whitesmoke;
            padding: 20px 20px 10px 20px;
            // padding: 20px;
            // border-radius:20px;
        }
        .detailed-content-box{
           background-color:#F6C555;
           width: 100%;
           padding: 30px 40px 30px 30px;
           height: 100%;
           margin-right:auto;
           border-top-right-radius: 20px;
           border-bottom-left-radius: 0px;
           border-bottom-right-radius: 20px;
        //    border: 5px solid #F6C555;
        }
        .detaild-button{

            padding-top:25px; 
        }
        .detailed-star,.detailed-text,.pri-btn,{
            padding:10px 0px 0px 0px; 
            // padding-bottom: 0px 0px 10px 0px;
        }
        @include btn(detaild-shop-buy,250px,detaild-shop-btn,24px, 加入購物車);
        .detailed-name{
            font-size:28px;
            padding-bottom: 12px; 
        }
        .detailed-text{
            line-height: 25px;
        }
        .detailed-pri{
            font-size: 25px;
            // text-align:right;
        }
        .collection{
        width: 100%;
        display: block;
        position: absolute;
        top:40px;
        right:50px;
        width: 30px;
        height: 30px;
        }
        .message-input-box{
            padding: 10px 40px;
        }
        .btn-numbox{
            // margin: auto;
            width:120px;
            font-size: 0px;
            // padding-bottom:20px; 
            .qty{
                width: 50%;
                text-align: center;
                height: 28px;
                padding: 0px;
                border: 0px;
                @include rwd(mobile){
                    width: 50%;
                }
            }
            .qtyminus{
                background-color: #6A3E26;
                border-bottom-left-radius:20px;
                border-top-left-radius:20px;
                width: 25%;
                height:28px; 
                border:0px; 
                color:white;
                padding: 0px;
                cursor: pointer;
                @include rwd(mobile){
                    width: 25%;
                }
            }
            .qtyplus{
                padding: 0px;
                background-color: #6A3E26;
                border-bottom-right-radius:20px;
                border-top-right-radius:20px;
                width: 25%;
                height:28px; 
                border:0px; 
                color:white;
                cursor: pointer;
                @include rwd(mobile){
                    width: 25%;
                }
            }
        }
        .number-pic{
            width:  6.66667%;
        }
        .number-name{
            padding-bottom: 12px; 
        }
        .date{
            text-align: right;
        }
    }
}  