@import "mixin/mixin";
*{
    box-sizing: border-box;
    // outline: 1px solid black;
   
}

.page-shop{
    background: #F8C3CD url(../img/shop/backgroundpic.png);
    font-family: "GenJyuuGothic-B";
    .fa-star{
        display: inline-block;
        color: orange ;
        font-size: 13px;
        @include rwd(desktop){
            font-size: 14px;
            // margin-left:1% 
        }
    }
   
    .outerframe{
        padding-top:86px;
        margin: auto;
        width: 100%; 
        // height: 1000px;
        // background-color: aqua;
    }
    .news-store{
        position: relative;
        height: 400px;
    }
    .left-arrow{
        position: absolute;
        left: 0px;
        bottom: 37%;
    }
    .right-arrow{
        position: absolute;
        right: 0px;
        bottom:  37%;
    }
    .title-outerframe{
        width: 90%;
        height: 170px;
        margin: auto;
        @include rwd(desktop){
        height: 350px;
        
        
        }
        .newstitle{
            width: 40%;
            height: 50px;
            margin: auto;
            background-color: #6A3E26;
            border-radius:5px;
            display: flex;
            justify-content:center;
            transform: translateY(60px);
            @include rwd(desktop){
                width: 20%;
                height: 100px;
                transform: translateY(180px);
            }
            >span{
                width:93%;
                height:90%;
                margin: auto;
                border-radius:5px;
                border:2px solid#efac40;
                display: block;
                color: whitesmoke;
                text-align: center;
                font-size: 24px;
                line-height: 40px;
                @include rwd(desktop){
                    width: 93%;
                    height: 85px;
                    border:5px solid#efac40;
                    font-size: 36px;
                    line-height: 70px;
    
                }
            }
        }
    }
    .news-store{
       height: 220px;
       overflow: hidden;
       @include rwd(desktop){
           display: flex;
           overflow:visible;
       }
    }
  
    .news-item{
        margin: auto;
        // overflow: hidden;
        // width: 80%;
        height: 220px;
        border:4px solid #FFCE5B;
        border-radius: 20px;
        padding-top: 10px;
        background-color: #FFF4DE;
        position: relative;
        @include rwd(desktop){
            padding-bottom:100px; 
            width: 200px;
            height: 270px;
        }


    }
    
    .newpic{
        width: 30%;
        margin: auto;
        padding-top:20px; 
        
        img{
            width: 100%;
        }
        .new-collection-love{
        display: block;
        width: 15%;
        height: 9%;
        position: absolute;
        right: 8px;
        top:10px;
        }  
    }
    .new-name{
        text-align: center;
        padding: 10% 0px 0px 0px;
        }
    .new-pic{
        text-align: center;
        padding: 8% 0px;
        }
    
    .store{
        width: 90%;
        margin: auto;
        @include rwd(desktop){
            width: 1200px;
        }
        .roof{
            width: 100%;
            img{
                display: block;
                width: 100%;
            }
            .title{
                width: 40%;
                height: 50px;
                margin: auto;
                background-color: #6A3E26;
                border-radius:5px;
                display: flex;
                justify-content:center;
                transform: translateY(60px);
                @include rwd(desktop){
                    width: 20%;
                    height: 100px;
                    transform: translateY(180px);
                }
                >span{
                    width:93%;
                    height:90%;
                    margin: auto;
                    border-radius:5px;
                    border:2px solid#efac40;
                    display: block;
                    color: whitesmoke;
                    text-align: center;
                    font-size: 24px;
                    line-height: 40px;
                    @include rwd(desktop){
                        width: 93%;
                        height: 85px;
                        border:5px solid#efac40;
                        font-size: 36px;
                        line-height: 70px;

                    }
                }
            }
        }
        .select-bar{
            width: 100%;
            height: 30px;
            background-color: #FFF8E4;
            margin: auto;
            padding: 5px;
            display: flex;
            align-items: center;
            @include rwd(desktop){
                height: 60px;
                // select{
                //     display: inline-block;
                // }
            }
            @include rwd(mobile){
                .select-bar-botton{
                    display: none;
                }
            }
            @include rwd(desktop){
                >select{
                    display: none;
                     ~select{
                           display: none;
                    }
               }
               .select-bar-botton{
                   display: flex;
                   align-items: center;
                //    align-content: center;
                div{
                    margin: 10px;
                    button{
                        font-size: 16px;
                        margin: 0px 5px;
                        width: 70px;
                        border: 0px;
                        border-radius: 5px;
                        color: whitesmoke;
                    }
                    &:nth-child(1){
                        button{
                              background-color: #FAD689;
                        }
                  
                    }
                    &:nth-child(2){
                        button{
                              background-color: #6BDBDA;
                        }
                  
                    }
                    &:nth-child(3){
                        button{
                              background-color: #EA7187;
                        }
                  
                    }
                    &:nth-child(4){
                        border-right:2px solid gray ;
                        padding-right:15px; 
                        button{
                              background-color: #9DC5F6;
                        }
                  
                    }
        
                }
                
                
               }
            }
           
        }
        .commodity{
            width: 100%; 
            display:flex;
            flex-flow:wrap;
            justify-content: space-around;
            padding-top:25px;
            background-color: whitesmoke;
            .commodity-item{
                padding-top:25px;
                padding-bottom: 15px;
                width: 45%;
                @include rwd(desktop){
                    // margin: 0px 5%;
                    width: 20%;
                    padding-bottom: 45px;
                }
                .shap-ice-type{
                    width: 100%;
                    border-radius: 50% / 100% 100% 0 0;
                    height: 45px;
                    margin: auto;
                    background-color: #fad689;
                    display: flex;
                    position: relative;
                    text-align: center;
                    p{
                        position: absolute;
                        right: 0px;
                        left: 0px;
                        bottom:4px;
                        font-size: 16px;
                        color:whitesmoke;
                        @include rwd(desktop){
                             bottom:6px;
                             font-size: 22px;
                             color:whitesmoke;
                        }
                        
                    }
                    @include rwd(desktop){
                        width: 100%;
                        height: 40px;
                        height: 70px;
                    }
                    img{
                        position: absolute;
                        width: 24%;
                        display: block;
                        margin: auto;
                        top:4px;
                        left: 0px;
                        right: 0px;
                        @include rwd(desktop){
                        top:8px;
                        left: 0px;
                        right: 0px;
                        }
                    }
                }
                // .shap-love-stage{
                //     width: 100%;
                //     height: 25px;
                //     background-color: #fad689;
                //     // border-top-left-radius:25px;
                    // border-top-right-radius:30px;
                //     color: whitesmoke;
                //     // font-family: "A-OTF-M";
                //     font-size: 24px;
                //     text-align: center;
                //     line-height: 30px;
                //     @include rwd(desktop){
                //         height: 30px;
                //         line-height: 35px;
                //         height: 34px;
                //     }
                // }
                .commodity-item-cus-content{
                    border-right:4px solid #fad689;
                    border-left:4px solid #fad689;
                    border-bottom:4px solid #fad689;
                    border-bottom-right-radius:20px;
                    border-bottom-left-radius:20px;
                    padding-bottom:5px;
                    height: 270px;
                    position: relative;
                    @include rwd(desktop){
                        height: 340px;
                        border-right:8px solid #fad689;
                        border-left:8px solid #fad689;
                        border-bottom:8px solid #fad689;
                    }
                }
                .commodity-item-content{
                    border-right:4px solid #fad689;
                    border-left:4px solid #fad689;
                    border-bottom:4px solid #fad689;
                    border-bottom-right-radius:20px;
                    border-bottom-left-radius:20px;
                    padding-bottom:5px;
                    height: 270px;
                    position: relative;
                   
                    @include rwd(desktop){
                        height: 340px;
                        border-right:8px solid #fad689;
                        border-left:8px solid #fad689;
                        border-bottom:8px solid #fad689;
                    }
                    .collection-love{
                        display: block;
                        width: 12%;
                        height: 10%;
                        position: absolute;
                        right: 8px;
                        top:0px;
                    }
                    .item-img{
                        width: 31%;
                        margin: auto;
                        padding-bottom:10%;
                        @include rwd(desktop){
                            // height:50%;
                            margin: auto;
                            width: 30%;
                            display: flex;
                            align-items: center;
                            padding-bottom:0%;
                            padding-top:15px; 
                        }
                    }
                    img{
                        padding-top:10px;
                        display: block;
                        margin: auto;
                        width: 100%;
                        // height: 120px;
                        @include rwd(desktop){
                            width:100%;
                            height: 150px;
                            // height:0px;
                            // height: 50%;
                        }
                    }
                    figure{
                        display: flex;
                        justify-content: space-around;
                        @include rwd(desktop){
                            padding: 20px 0px 10px 0px;
                        }
                        .fruit-pic{
                            border-radius: 50%;
                            background-color: #fff;
                            border: 2px solid #6a3e26;
                            width: 35px;
                            height: 35px;
                            @include rwd(desktop){
                                width: 55px;
                                height: 55px;
                            }
                            > img {
                                padding-top: 0px;
                                display: block;
                                margin: auto;
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                  
                    .item-text{
                        @include rwd(desktop){
                            width: 95%;
                            margin: auto;
                            padding-top: 25px;
                            padding-bottom:15px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .review{
                                @include rwd(desktop){
                                     width: 70%;
                                     margin-left: 4px;
                                }
                            }
                            // justify-content: center;
                            
                        }
                        // .review-number{
                        //     display: block;
                        //     width: 8%;
                        //     font-size: 12px;
                        // } 
                        
                        .item-name{
                        width: 50%;
                        display: block;
                        // padding:0px 0px 5% 4%;
                        padding: 6px 0px;
                        font-size: 18px;
                        margin-left:8px;
                        @include rwd(desktop){
                            font-size: 20px;
                            padding:0px;
                            margin-left:0px;
                            // padding:0px 0px 8% 4%;
                        }
                        // ~span{
                        //     display: block;
                        //     // padding:0px 0px 5% 4%;
                        //     font-size: 18px;
                        //     @include rwd(desktop){
                        //         // padding:0px 0px 8% 4%;
                        //     }
                        //     }
                        }
                        // div{
                        //     width: 50%;
                        //     // padding:0px 0px 5% 4%;
                        //     @include rwd(desktop){
                        //         font-size: 12px;
                        //         // padding:0px 0px 6% 4%;
                        //     }
                        // }
                        @include rwd(desktop){
                                // display: flex;
                                // >span{
                                //     padding:10px;
                                // ~span{
                                //     padding:10px;
                                // }
                                // }
                            }

                 
                    }
                    .review{
                       margin-left:8px; 
                       font-size: 12px;
                    }
                    // .custom-pri{
                    //   padding: 10px 0px;
                    //   text-align: center;
                    // //   background-color: #6A3E26;   
                    // }
                   
                    .general-pri{
                        
                        width: 95%;
                        // padding:0px 0px 12% 4%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // align-items: center;
                        font-size: 18px;
                        padding-top:8px;
                        padding-bottom:20px;
                        margin-left: 8px;
                        @include rwd(desktop){
                            padding-bottom:35px; 
                            font-size: 20px;
                            padding-top:0px;
                            margin: auto;
                            // padding-bottom:0px;
                            // padding:0px 0px 14% 4%;
                        }
                        span{
                            @include rwd(mobile){
                                margin: auto;
                                padding-top: 15px;   
                            }
                        }
                        .btn-numbox{
                            width: 40%;
                            // padding: 5px;
                            font-size: 0px;
                            display: none;
                            @include rwd(desktop){
                                display: block;
                                padding: 0px;
                                width: 43%;
                                // margin-left: 38%;
                                // width: 50%;
                            }
                            .qty{
                                // display: inline-block;
                                width: 40%;
                                text-align: center;
                                height: 28px;
                                padding: 0px;
                                border: 0px;
                            }
                            .qtyminus{
                                background-color: #6A3E26;
                                border-bottom-left-radius:20px;
                                border-top-left-radius:20px;
                                width: 25%;
                                height:28px; 
                                border:0px; 
                                color:white;
                                padding: 0px;
                                cursor: pointer;
                            }
                            .qtyplus{
                                padding: 0px;
                                background-color: #6A3E26;
                                border-bottom-right-radius:20px;
                                border-top-right-radius:20px;
                                width: 25%;
                                height:28px; 
                                border:0px; 
                                color:white;
                                cursor: pointer;
                            }
                        }  
                    }
                    .custom-pri{
                        span{
                            font-size: 20px; 
                            @include rwd(mobile){
                             margin: auto;   
                             
                            }
                           
                        }
                      @include rwd(desktop){
                          padding: 10px;
                          margin: auto;
                          display: flex;
                          justify-content: space-between;
                          align-items: center;
                      }
                      .custom-btn-numbox{
                          display: none;
                      }
                      text-align: center;
                      @include rwd(desktop){
                        .custom-btn-numbox{
                            width: 40%;
                            // padding: 5px;
                            font-size: 0px;
                            display: none;
                            @include rwd(desktop){
                                display: block;
                                padding: 0px;
                                width:91px;
                                // margin-left: 38%;
                                // width: 50%;
                            }
                            .qty{
                                // display: inline-block;
                                width: 40%;
                                text-align: center;
                                height: 28px;
                                padding: 0px;
                                border: 0px;
                            }
                            .qtyminus{
                                background-color: #6A3E26;
                                border-bottom-left-radius:20px;
                                border-top-left-radius:20px;
                                width: 25%;
                                height:28px; 
                                border:0px; 
                                color:white;
                                padding: 0px;
                                cursor: pointer;
                            }
                            .qtyplus{
                                padding: 0px;
                                background-color: #6A3E26;
                                border-bottom-right-radius:20px;
                                border-top-right-radius:20px;
                                width: 25%;
                                height:28px; 
                                border:0px; 
                                color:white;
                                cursor: pointer;
                            }
                        }  

                      }
                    }
                  
                    // @include rwd(desktop){
                    //     height: 320px;
                        // .item-img{
                         
                        // }
                    // }
                   
                    // p{
                    //     &:nth-child(3){
                    //         padding: 10px;
                    //     }
                    // }
                    // .item-text{
                    //     > span {
                    //     display: block;
                    //     padding: 10px;
                    //     ~span{
                    //         display: block;
                    //         padding: 10px;
                    //     }
                    // }
                    // @include rwd(desktop){
                    //     display: flex;
                    // }
                    // }
                    .shop-btn{
                        display: flex;
                        justify-content: center;
                        .shop-buy-btn{
                            // margin: auto;
                            // padding-bottom: 110px;
                            @include rwd(desktop){
                                // margin: auto;
                            }
                        }
                        .btn-numbox{
                            width: 40%;
                            // padding: 5px;
                            font-size: 0px;
                            display: none;
                            @include rwd(desktop){
                                display: block;
                                padding: 0px;
                                width: 43%;
                                // margin-left: 38%;
                                // width: 50%;
                            }
                            .qty{
                                // display: inline-block;
                                width: 40%;
                                text-align: center;
                                height: 28px;
                                padding: 0px;
                                border: 0px;
                            }
                            .qtyminus{
                                background-color: #6A3E26;
                                border-bottom-left-radius:20px;
                                border-top-left-radius:20px;
                                width: 25%;
                                height:28px; 
                                border:0px; 
                                color:white;
                                padding: 0px;
                                cursor: pointer;
                            }
                            .qtyplus{
                                padding: 0px;
                                background-color: #6A3E26;
                                border-bottom-right-radius:20px;
                                border-top-right-radius:20px;
                                width: 25%;
                                height:28px; 
                                border:0px; 
                                color:white;
                                cursor: pointer;
                            }
                        } 
                        @include btn(shop-buy-btn,150px,shop-btn-text,20px, 加入購物車);
                        @include rwd(mobile){
                            @include btn(shop-buy-btn,120px,shop-btn-text,20px, 加入購物車);
                        }
                    }
                    @include btn(general-shop-buy-btn,120px,general-shop-btn-text,20px, 加入購物車);
                    @include rwd(desktop){
                        @include btn(general-shop-buy-btn,150px,general-shop-btn-text,24px, 加入購物車);
                    }
                    #myform{
                        display: inline-block;
                        width: 100px;
                        height: 24px;
                        // margin: auto;
                    }
                }
               
            }
            .first-love{
                .shap-ice-type{
                background-color:#6BDBDA;
                }
                .commodity-item-content{
                    border:8px solid#6BDBDA;
                }
            }
            .fall-in-love{
                .shap-ice-type{
                background-color:#EA7187;
                }
                .commodity-item-content{
                    border:8px solid#EA7187;
                }
            }
            .break-up{
                .shap-ice-type{
                background-color:#9DC5F6;
                }
                .commodity-item-content{
                    border:8px solid#9DC5F6;
                }
            }
            .custom-pri{
                display: flex;
                padding: 18px 0px;
                @include rwd(desktop){
                    padding: 14px 0px;
                }
            }
        }    
    }
 @include ice-btn(btn-outt,100px,btn-inn,12px,14px,好吃好吃);
}

// .shop-btn-out{
//     @include btn-out($c lassname,$width,$class,$size,$width2,$shadow,$text)
// }


    // @include ice-btn(shop-btn-out,100px,shop-btn-in,8px,加入購物車,2px,black);

    // @include ice-btn(btn-outt,100px,btn-inn,12px,12px,innimg,好喔);
   


     