@import 'mixin/mixin';

*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: "GenJyuuGothic-R";
}
body{
   
    // overflow: hidden;
}
.black-opacity{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
    position: relative;
}
#mini-cart{
    display: none;
    width: 100%;
    height: 100vh;
    background-color:whitesmoke;
    position: fixed;
    z-index:99;
    right:0;
    top:0;
    a{
        color: black;
    }
    .gogo{
       text-align: center;
       line-height: 16px;
       cursor: pointer;
       background-color: #DB4D6D;
       width: 100%;
       height: 50px;
       font-size: 28px;
        &:hover{
            background-color: #EA7187;
        }
        a{
            padding-top:3%;
            width:200px;
            display: block;
            margin:auto;
            // text-align: center;
        }
    }
  
    .head{
        display: flex;
        align-items: center;
        border-bottom: 2px solid black;
    }
    .cart-icon{
        width: 85%;
        padding: 10px;
        display: flex;
        align-items: center;
       
        h3{
            font-size: 24px;
            padding-left: 10px;
        }
    }
    .cart-close{
        border-left: 2px solid black;
        width: 15%;
        padding: 10px 10px 10px 10px;
        text-align: center;
        &:hover{
            color:#DB4D6D;
        }
        .fa-times{
            font-size: 25px;
        }
    }
    .no-item{
        font-size: 24px;
    }
    #mini-item{
        
    }
    .mini-item-wrap{
        width: 100vw;
        height: 130px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border-bottom:2px solid gray;
        ;
        .mini-img{
            padding: 10px;
        }
        span{
            display: block;
            font-size: 20px;
            // padding: 15px;
        }
        img{
            display: block;
            width: 50%;
            margin: auto;
        }
        .mini-trash{
            font-size: 30px;
            .trash-img{
                cursor: pointer;
                display: block;
                // margin-left:10px;;
            }
        }
    }

}
//網站版
@include rwd(desktop){
    #mini-cart{
        width: 50%;
        height: 100vh;
        background-color:whitesmoke;
        position: fixed;
        z-index:99;
        right:0;
        top:0;
        .no-item{
            font-size: 28px;
            text-align: center;
            padding: 20px;
        }
        .head{
            display: flex;
            align-items: center;
            border-bottom: 2px solid black;
        }
        .cart-icon{
            width: 85%;
            padding: 10px;
            display: flex;
            align-items: center;
           
            h3{
                font-size: 24px;
                padding-left: 10px;
            }
        }
        .cart-close{
            border-left: 2px solid black;
            width: 15%;
            padding: 10px 10px 10px 10px;
            text-align: center;
            &:hover{
                color:#DB4D6D;
            }
            .fa-times{
                font-size: 25px;
            }
        }
        .mini-item-wrap{
            // overflow: scroll;
            width: 100%;
            height: 130px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            border-bottom:2px solid gray;
            ;
            .mini-img{
                padding: 10px;
            }
            .gogo{
                text-align: center;
                line-height: 30px;
                background-color: #DB4D6D;
                width: 100%;

                 height: 200px;
                 font-size: 28px;
                 cursor: pointer;
                 &:hover{
                     background-color: #EA7187;
                 }
                 
                 a{
                     padding-top:8%;
                     width:24vw;
                     display: block;
                     margin: auto;
                     // text-align: center;
                 }
             }
            span{
                display: block;
                font-size: 20px;
                // padding: 15px;
                text-align: center;
            }
            img{
                display: block;
                // width: 50%;
                margin: auto;
            }
            .mini-trash{
                font-size: 30px;
                .fa-trash{
                    display: block;
                    margin-left:10px;;
                }
            }
        }
    
    }
    
}
