@import "mixin/mixin";
.letter{
    background-image: url(../img/background.png);
    background-color: #fff;
    background-position: center;
    background-repeat: repeat;
    padding: 100px 0 0;
    .letter-content{
        width: 100%;
        max-width: 800px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 3px 3px 10px #aaa;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        @include rwd(mobile){
            width: 90%;
        }
        .letter-header{
            width: 80%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 20px 0;
            .user-img{
                .fa-user-circle{
                    font-size: 30px;
                }
            }
            .user-name{
                width: 85%;
                margin-left: auto;
                p{
                    font-size: 20px;
                    font-family: "GenJyuuGothic-R";
                }
            }
        }
        .letter-body{
            width: 80%;
            box-sizing: border-box;
            padding: 0 10px;
            figure{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            label{
                cursor: pointer;
                display: block;
                margin: auto;
                width: 80%;
                p{
                    padding: 40% 0;
                    background-color: #ccc;
                    text-align: center;
                }
            }
        }
        .letter-footer{
            margin: 30px 0;
            padding: 20px 0;
            width: 80%;
        }
    }
}