@import "mixin/mixin";
@mixin inputsize {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 20px;
    border: 3px solid #6a3e26;
    transition: padding .5s;
}
.letter{
    background-image: url(../img/background.png);
    background-color: #fff;
    background-position: center;
    background-repeat: repeat;
    padding: 100px 0 0;
    .letter-content{
        width: 100%;
        max-width: 800px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 3px 3px 10px #aaa;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        @include rwd(mobile){
            width: 90%;
        }
        .letter-header{
            width: 80%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 20px 0;
            .user-img{
                .fa-user-circle{
                    font-size: 30px;
                }
            }
            .user-name{
                width: 85%;
                margin-left: auto;
                p{
                    font-size: 20px;
                    font-family: "GenJyuuGothic-R";
                }
            }
        }
        .letter-body{
            width: 80%;
            box-sizing: border-box;
            padding: 0 10px;
            label{
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
                &:hover{
                    opacity: .8;
                }
            }
            .plus-img{
                width: 100%;
                padding: 40% 0;
                background-color: rgba(0,0,0,.3);
                text-align: center;
                i{
                    font-size: 60px;
                }
            }
            figure{
                width: 100%;
                text-align: center;
                img{
                    max-width: 588px;
                    max-height: 530px;
                }
            }
            input{
                opacity: 0;
                position: absolute;
                z-index: -1;
            }
        }
        .letter-footer{
            margin: 30px 0;
            padding: 20px 0;
            width: 80%;
            font-family: "GenJyuuGothic-R";
            p{
                font-size: 24px;
                line-height: 2;
            }
            .write-title{
                input{
                    @include inputsize;
                }
            }
            .write-content{
                input{
                    @include inputsize;
                }
            }
            .write-phrase{
                input{
                    @include inputsize;
                }
            }
            .write-buttons{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                padding: 20px 0;
                label{
                    display: block;
                    cursor: pointer;
                    input{
                        cursor: pointer;
                        font:24px "GenJyuuGothic-R";
                        border-radius: 10px;
                        padding: 0 25px;
                        border:none;
                        box-shadow: 0 3px 0 #949494;
                        background-color: rgb(163, 163, 163);
                        color: #fff;
                    }
                    &:hover{
                        input{
                            background-color: rgb(183, 183, 183);
                        }
                    }
                    &:active{
                        input{
                            transform: translateY(2px);
                            box-shadow: 0 1px 0 #949494;
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }
}